Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

FIX(ci): update protection.json to use actual check run names instead of full workflow paths
  protection.json
Due: none

FEAT(AAR Module): create modular AAR architecture with app/aar-core API
  .github/workflows/aar-ui.yml
  app/aar-core/README.md
  app/aar-core/package.json
  app/aar-core/src/server.ts
  app/aar-core/tsconfig.json
  app/aar-ui/Dockerfile
  app/aar-ui/package.json
Due: docs-quality

FIX(ci): activate virtual environment for orchestrator Python script
  .github/workflows/orchestrator.yml
Due: none

FIX(ci): update all workflows to use Node.js v4 action and fix version policy grep patterns
  .github/workflows/ci-health.yml
  .github/workflows/security-audit.yml
  .github/workflows/version-policy-enforcement.yml
Due: none

FIX(docker): add missing package-lock.json for aar-core and set development environment
  app/aar-core/package-lock.json
  docker-compose.dev.yaml
Due: none

SECURITY(aar): resolve 4 CodeQL vulnerabilities and organize CI analysis data
  app/aar-core/package-lock.json
  app/aar-core/package.json
  app/aar-core/security-test.js
  app/aar-core/src/server.ts
  docs/AAR/data/ci-analysis/README.md
  docs/AAR/data/ci-analysis/ci_failure_analysis.json
  docs/AAR/data/ci-analysis/ci_health_report.json
  docs/AAR/data/ci-analysis/github_cli_analysis.json
  docs/AAR/data/ci-analysis/phase4_analysis_report.json
  docs/AAR/data/ci-analysis/phase4_health_report.json
  docs/AAR/data/ci-analysis/precommit_analysis.json
  docs/AAR/data/ci-analysis/precommit_analysis_v2.json
  scripts/ci_triage_pr1125.sh
Due: docs-quality, validate-metadata-standards

FEAT(environment): implement comprehensive 5-environment system with enhanced conditionals
  ENVIRONMENT_DOCUMENTATION_SUMMARY.md
  ENVIRONMENT_SYSTEM_COMPLETE.md
  README.md
  SETUP.md
  docs/ENHANCED_ENVIRONMENT_CONDITIONALS.md
  docs/ENVIRONMENT_QUICK_START.md
  docs/env.md
  frontend/src/auth/authRedirect.test.ts
  src/devonboarder/auth_service.py
  src/utils/cors.py
  src/utils/environment.py
  tests/conftest.py
  tests/test_cors.py
  tests/test_xp_api.py
Due: docs-quality, validate-metadata-standards, pytest

TEST(environment): add comprehensive test coverage for environment conditionals
  tests/test_environment_conditionals.py
Due: pytest

FIX(ci): resolve local CI validation issues for GitHub Actions compatibility
  agents/index.md
Due: docs-quality, validate-agents, validate-metadata-standards

FIX(ci): ensure security headers check uses CI environment variables
  scripts/validate_ci_locally.sh
Due: none

FIX(ci): resolve blocking GitHub Actions check failures
  bot/jest.config.cjs
Due: none

FIX(tests): achieve 100% bot coverage with environment variable fallback tests
  bot/jest.config.cjs
  bot/tests/api.test.ts
Due: none

FIX(ci): resolve Vale installation issues blocking GitHub Actions quality gates
  .github/workflows/docs-component.yml
  .github/workflows/documentation-quality.yml
  .github/workflows/no-shortcuts-policy-enforcer.yml
Due: none

FIX(deps): add yamllint dependency to resolve Quality Gate YAML syntax enforcement
  pyproject.toml
Due: pytest

FIX(ci): resolve MyPy type checking errors in Backend Component CI
  pyproject.toml
  src/discord_integration/api.py
  src/llama2_agile_helper/api.py
  src/xp/api/__init__.py
Due: pytest

FIX(ci): ensure Terminal Output Policy Enforcement runs on all PRs
  .github/workflows/terminal-policy-enforcement.yml
Due: none

FIX(ci): resolve audit script variable scoping issues and add terminal policy headers
  .github/workflows/terminal-policy-enforcement.yml
  scripts/audit-workflow-headers.sh
Due: none

FIX(CI): Update aar-generator.yml
  .github/workflows/aar-generator.yml
Due: none

CHORE(ci): add validate-bot-permissions.sh
  .github/workflows/cleanup-ci-failure.yml
Due: none

CHORE(ci): Update pr-issue-automation.yml
  .github/workflows/pr-issue-automation.yml
Due: none

CHORE(ci): Update cleanup-ci-failure.yml
  .github/workflows/cleanup-ci-failure.yml
Due: none

CHORE(ci): Update create_pr_tracking_issue.sh
  scripts/create_pr_tracking_issue.sh
Due: none

CHORE(ci): Update create_pr_tracking_issue.sh (#1134)
  scripts/create_pr_tracking_issue.sh
Due: none

FIX(ci): satisfy terminal output policy
  .github/workflows/aar-generator.yml
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/pr-issue-automation.yml
  scripts/create_pr_tracking_issue.sh
Due: none

docs: document proactive CI workflow headers
  .github/workflows/proactive-ci-framework.yml
Due: none

chore: use printf for workflow outputs
  .github/workflows/aar-generator.yml
  .github/workflows/pr-issue-automation.yml
Due: none

DOCS(workflows): document token fallback arrow
  .github/workflows/proactive-ci-framework.yml
Due: none

ci(workflows): remove terminal output violations
  .github/workflows/aar-generator.yml
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/pr-issue-automation.yml
  .github/workflows/proactive-ci-framework.yml
  scripts/create_pr_tracking_issue.sh
Due: none

DOCS(workflows): align proactive CI header with policy format
  .github/workflows/proactive-ci-framework.yml
Due: none

CHORE(ci): Update create_pr_tracking_issue.sh (#1134)
  .github/workflows/aar-generator.yml
  .github/workflows/pr-issue-automation.yml
  scripts/create_pr_tracking_issue.sh
Due: none

ci(workflows): resolve terminal output violations
  .github/workflows/aar-generator.yml
  .github/workflows/aar.yml
Due: none

CI(workflows): document proactive CI workflow header
  .github/workflows/proactive-ci-framework.yml
Due: none

Run documentation validation on all pull requests
  .github/workflows/documentation-quality.yml
Due: none

DOCS(scope): update documentation for centralized logging policy
  .gitignore
  .markdownlint-cli2.yaml
  .markdownlint-ignore
  .markdownlintignore
  .pre-commit-config.yaml
  frontend/.lighthouseci/config.js
  scripts/clean_pytest_artifacts.sh
Due: none

CHORE(coverage): remove deprecated coverage scripts and reports
  RECOVERY_NOTE_DASHBOARD_COVERAGE_SUCCESS.md
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
  docs/reports/coverage-summary.md
Due: docs-quality, validate-metadata-standards

CHORE(coverage): remove deprecated coverage scripts and reports
  scripts/create_pr_tracking_issue.sh
Due: none

CHORE(coverage): remove deprecated coverage scripts and reports
  scripts/validate_infrastructure_foundation.sh
Due: none

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$
