Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

FEAT(frontmatter): add comprehensive content to CI and implementation docs
  docs/ci/CI_CORRECTION_REPORT.md
  docs/ci/COMMIT_SUMMARY_CI_FAILURE_ANALYZER.md
  docs/implementation/AUTOMATION_INTEGRATION_SUMMARY.md
Due: docs-quality, validate-metadata-standards

DOCS(aar): create comprehensive After Action Report for frontmatter validation project
  docs/aar/2025-09-13-frontmatter-validation-cleanup-project-aar.md
Due: docs-quality, validate-metadata-standards

DOCS(final): complete verification report and fix pr_comment markdown formatting
  Makefile
  docs/implementation/ISSUE_RESOLUTION_SUMMARY.md
  docs/implementation/PROJECT_RESOLUTION_SUMMARY.md
  docs/public/pr_comment.md
  docs/reports/HAND-OFF.md
  docs/reports/VERIFICATION_REPORT.md
  fix_all_issues.sh
  fix_duplicate_tags.py
  fix_duplicate_tags.sh
  integrate_auto_fixers.sh
  scripts/qc_with_autofix.sh
Due: docs-quality, validate-metadata-standards

DOCS(aar): enhance AAR with polished board-ready Key Highlights section
  docs/aar/2025-09-13-frontmatter-validation-cleanup-project-aar.md
Due: docs-quality, validate-metadata-standards

DOCS(standards): add Debug Protocol Macro v1.2 for structured problem resolution
  docs/standards/debug-protocol-macro.md
Due: docs-quality, validate-metadata-standards

DOCS(standards): update standards index to include Debug Protocol Macro v1.2
  docs/standards/README.md
Due: docs-quality, validate-metadata-standards

FIX(docs): fix MD046 code block style violation in security-audit-2025-08-07.md
  docs/security-audit-2025-08-07.md
Due: docs-quality, validate-metadata-standards

FIX(docs): resolve all repository-wide markdown violations
  docs/AI_AGENT_TERMINAL_OVERRIDE.md
  docs/about-potato.md
  docs/outreach-materials.md
  docs/policies/security-best-practices.md
  docs/security-audit-2025-08-08.md
  docs/security-audit-2025-09-05.md
  docs/security-audit-2025-09-09.md
  docs/security-audit-2025-09-11.md
  docs/ubuntu-setup.md
  docs/v1/AI_AGENT_TERMINAL_OVERRIDE.md
Due: docs-quality, validate-metadata-standards

DOCS(standards): fix markdown and shellcheck violations blocking PR
  docs/AAR_VSCODE_CI_INTEGRATION_2025-08-07.md
  docs/AAR_VSCODE_CI_INTEGRATION_SUMMARY.md
  docs/PR-1244-MONITORING-DASHBOARD.md
  docs/ci-aar-integration-demo.md
  docs/mission-accomplished-ci-aar-integration.md
  docs/scripts/automation-enhancements.md
  docs/sessions/PHASE_IMPLEMENTATION_COMPLETE.md
  reports/ci_infrastructure_repair_complete.md
  reports/cli_failure_response_complete.md
  reports/pr_968_merge_completion_report.md
  scripts/sync_content_references.sh
Due: docs-quality, validate-metadata-standards

FIX(ci): add missing -- option separator in printf statements
  .github/workflows/code-review-bot.yml
Due: none

FIX(codex): standardize codex_scope naming convention to use hyphens
  codex/tasks/create_new_repos_checklist.md
  codex/tasks/migrate_code_checklist.md
  codex/tasks/phase2_1b_rollout_tasks.md
Due: docs-quality

FIX(ci): resolve inline comments and CI failures
  .codex/agents/tags/ci_root_artifact_guard.md
  .github/workflows/code-review-bot.yml
  docs/aar/2025-09-13-frontmatter-validation-cleanup-project-aar.md
Due: docs-quality, validate-agents, validate-metadata-standards

FIX(auth): implement environment-based service discovery architecture
  src/devonboarder/auth_service.py
  tests/test_auth_service.py
Due: pytest

FIX(agent-validation): implement flexible schema supporting hybrid formats and GitHub Actions compatibility
  schema/agent-schema.json
  scripts/validate_agents.py
Due: none

FIX(workflows): resolve terminal output policy violations
  .github/workflows/code-review-bot.yml
  .github/workflows/priority-matrix-synthesis.yml
Due: none

FIX(workflows): handle dirty workspace in Priority Matrix auto-synthesis
  .github/workflows/priority-matrix-synthesis.yml
Due: none

FIX(workflows): fix printf option flag interpretation in terminal policy enforcement
  .github/workflows/code-review-bot.yml
Due: none

FIX(milestone): add proper YAML front matter and Evidence Anchors to CI recovery report
  milestones/2025-09/2025-09-09-infrastructure-ci-recovery-incident-report.md
Due: docs-quality

FEAT(standards): add debug protocol macro validation and CI local testing improvements
  README.md
  agents/index.md
  bot/package.json
  docs/security-audit-2025-09-13.md
  milestones/2025-09/2025-09-09-ci-recovery-report.md
  scripts/validate_ci_locally.sh
Due: docs-quality, validate-agents, validate-metadata-standards

FIX(workflows): add all Priority Matrix synthesis output directories to git commit
  .github/workflows/priority-matrix-synthesis.yml
Due: none

FIX(milestone): permanently remove duplicate ci-recovery-report causing validation failures
  milestones/2025-09/2025-09-09-ci-recovery-report.md
Due: docs-quality

FIX(milestone): trigger milestone validation workflow retest
  milestones/2025-09/2025-09-09-infrastructure-ci-recovery-incident-report.md
Due: docs-quality

DOCS(milestones): remove duplicate ci-recovery-report milestone file blocking validation
  frontend/.lighthouseci/flags-ee0f7f12-02bd-4e19-a7c1-7a2f83a27dab.json
Due: none

FEAT(docs): auto-synthesize Priority Matrix fields
  docs/security-audit-2025-09-13.md
Due: docs-quality, validate-metadata-standards

FIX(ci): resolve detached HEAD issue in Priority Matrix workflow
  .github/workflows/priority-matrix-synthesis.yml
Due: none

FIX(ci): improve Priority Matrix detached HEAD handling for PR events
  .github/workflows/priority-matrix-synthesis.yml
Due: none

DOCS(aar): update AAR portal
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
Due: none

FEAT(ci-dashboard): implement CI health dashboard with AAR integration
  .github/actions/ci-health-monitor/action.yml
  Makefile
  docs/CI_DASHBOARD_DEPLOYMENT_GUIDE.md
  docs/CI_DASHBOARD_IMPLEMENTATION_COMPLETE.md
  docs/CI_DASHBOARD_INTEGRATION_ARCHITECTURE.md
  docs/CI_DASHBOARD_WORKFLOW_INTEGRATION.md
  docs/cli-shortcuts.md
  scripts/auto_branch_manager.sh
  scripts/ci-health-aar-integration
  scripts/ci_health_aar_integration.py
  scripts/devonboarder-ci-health
  scripts/devonboarder_ci_health.py
  scripts/gh-ci-health
Due: docs-quality, validate-metadata-standards

FEAT(docs): auto-synthesize Priority Matrix fields
  docs/CI_DASHBOARD_DEPLOYMENT_GUIDE.md
  docs/CI_DASHBOARD_IMPLEMENTATION_COMPLETE.md
  docs/CI_DASHBOARD_INTEGRATION_ARCHITECTURE.md
  docs/CI_DASHBOARD_WORKFLOW_INTEGRATION.md
Due: docs-quality, validate-metadata-standards

FEAT(ci): implement Token Architecture v2.1 compliance for CI Dashboard components
  scripts/ci-health-aar-integration
  scripts/ci_health_aar_integration.py
  scripts/devonboarder-ci-health
Due: none

FEAT(ci-dashboard): implement CI troubleshooting framework with terminal output compliance
  .github/workflows/aar-automation.yml
  .github/workflows/pr-merge-cleanup.yml
  agents/ci-helper-agent.md
  docs/CI_DASHBOARD_INTEGRATION_ARCHITECTURE.md
  docs/CI_DASHBOARD_INTEGRATION_SUMMARY.md
  docs/README.md
  scripts/ci_troubleshooting_framework.sh
  scripts/devonboarder-ci-health
  scripts/workflow_health_validator.sh
Due: docs-quality, validate-agents, validate-metadata-standards

FEAT(automation): add PR-CI integration analysis system
  .github/workflows/pr-ci-analysis.yml
  docs/processes/pr-ci-integration-guide.md
  scripts/check_pr_inline_comments.sh
Due: docs-quality, validate-metadata-standards

REFACTOR(ci-dashboard): address Copilot code quality suggestions
  .github/actions/ci-health-monitor/action.yml
  scripts/ci_health_aar_integration.py
  scripts/devonboarder_ci_health.py
Due: none

FEAT(docs): auto-synthesize Priority Matrix fields review
  docs/processes/pr-ci-integration-guide.md
Due: docs-quality, validate-metadata-standards

FIX(ci): ensure terminal output policy compliance in code-review-bot
  .github/workflows/code-review-bot.yml
  .github/workflows/pr-merge-cleanup.yml
Due: none

FIX(ci): resolve printf format string issue in Automated Code Review Bot
  .github/workflows/code-review-bot.yml
Due: none

FIX(ci): resolve all terminal output violations for PR #1397
  .github/workflows/pr-merge-cleanup.yml
  scripts/devonboarder_ci_health.py
  scripts/fix_frontmatter.py
Due: none

FIX(ci): resolve recursive terminal output violations in code-review-bot
  .github/workflows/code-review-bot.yml
Due: none

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$
