Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

FIX(frontend): resolve React version mismatch causing test failures
  frontend/package-lock.json
  frontend/package.json
Due: none

SECURITY(audit): add comprehensive vulnerability ignore tracking system
  .pip-audit-ignore
  docs/security-audit-2025-07-30.md
  docs/security-ignore-registry.md
  reports/pr_992_automation_report.md
  scripts/check_commit_messages.sh
  scripts/commit-msg
  scripts/security_audit.sh
Due: docs-quality, validate-metadata-standards

CHORE(ci): add automated CI troubleshooting shortcut script
  scripts/ci_troubleshoot.sh
Due: none

CHORE(ci): add automated CI troubleshooting shortcut script
  reports/pr_992_automation_report.md
Due: docs-quality

FIX(automation): correct markdown template in PR automation reports
  reports/pr_992_automation_report.md
  scripts/automate_pr_process.sh
Due: docs-quality

DOCS(quickstart): add quickstart guide and lite onboarding
  QUICKSTART.md
  README.md
  docs/onboarding-lite.md
Due: docs-quality, validate-metadata-standards

FIX(ci): redirect pytest artifacts to logs
  .github/workflows/ci.yml
  docs/CHANGELOG.md
Due: docs-quality, validate-metadata-standards

FIX(ci): upload coverage xml
  .github/workflows/ci.yml
  docs/CHANGELOG.md
Due: docs-quality, validate-metadata-standards

DOCS(tests): document pytest artifact cleanup
  docs/CHANGELOG.md
  tests/README.md
Due: docs-quality, validate-metadata-standards, pytest

DOCS(tests): show junitxml path
  docs/CHANGELOG.md
  tests/README.md
Due: docs-quality, validate-metadata-standards, pytest

FIX(ci): centralize logs and enforce hygiene
  .github/workflows/ci.yml
  docs/CHANGELOG.md
  docs/ci-failure-issues.md
  docs/ci-workflow.md
  docs/doc-quality-onboarding.md
  scripts/clean_pytest_artifacts.sh
  scripts/enforce_output_location.sh
Due: docs-quality, validate-metadata-standards

FIX(ci): remove trailing blank line
  .github/workflows/ci.yml
Due: none

DOCS(ci): note cleanup for pytest logs
  docs/ci-workflow.md
Due: docs-quality, validate-metadata-standards

FIX(ci): split GitHub CLI echo command
  .github/workflows/aar-automation.yml
Due: none

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$
