Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

DOCS(standards): establish VS Code/CI integration documentation framework
  docs/standards/README.md
  docs/standards/after-actions-report-process.md
  docs/standards/vscode-ci-integration-standard.md
Due: docs-quality, validate-metadata-standards

REFACTOR(auth): standardize environment management to follow DevOnboarder centralized pattern
  .env.ci
  docs/CI_VSCODE_CONSISTENCY_FRAMEWORK.md
  frontend/eslint.config.test.js
  frontend/playwright.config.test.js
  frontend/postcss.config.test.js
  frontend/src/components/Header.test.tsx
  frontend/src/components/ProtectedDashboard.test.tsx
  frontend/src/components/PublicLandingPage.test.tsx
  frontend/src/test/tailwind-config.test.js
  frontend/vite.config.test.js
  scripts/quick_final_4_check.sh
  scripts/smart_env_sync.sh
  scripts/validate_final_4_percent.sh
  src/devonboarder/auth_service.py
Due: docs-quality, validate-metadata-standards, pytest

CLEANUP(auth): remove auth-specific environment files and revert sync script changes
  scripts/smart_env_sync.sh
Due: none

FIX(scripts): ensure security audit generates markdown-compliant output
  docs/git-guidelines.md
  docs/security-audit-2025-08-08.md
  frontend/.lighthouseci/flags-21044872-a8e5-46e9-a077-b819a94ea4e6.json
  scripts/check_commit_messages.sh
  scripts/commit-msg
  scripts/security_audit.sh
Due: docs-quality, validate-metadata-standards

CHORE(git): resolve AAR data conflicts and complete branch synchronization
  .github/workflows/no-verify-policy.yml
  coverage.svg
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
  docs/security-audit-2025-08-08.md
  scripts/validate_no_verify_usage.sh
Due: docs-quality, validate-metadata-standards

DOCS(instructions): fix markdown formatting in pre-commit checklist section
  .github/copilot-instructions.md
Due: docs-quality

FEAT(make): add tunnel profile support with up-tunnel and down-tunnel targets
  Makefile
Due: none

CHORE(ci): update coverage badge
  coverage.svg
Due: none

FIX(dashboard): configure service to bind to 0.0.0.0 for Docker networking compatibility
  config/env-sync-config.yaml
  docker-compose.dev.yaml
Due: none

SECURITY(dashboard): implement secure Docker networking with isolated 0.0.0.0 binding
  config/env-sync-config.yaml
  docker-compose.dev.yaml
Due: none

docs: update AAR portal
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
Due: none

DOCS(terminal-output-policy): implement comprehensive suppression system documentation
  .github/workflows/aar-automation.yml
  .github/workflows/aar-hardening-validation.yml
  .github/workflows/aar-portal.yml
  .markdownlint-cli2.jsonc
  docs/Canvas-AAR-Deployment-Summary.md
  docs/ENHANCED_AAR_GENERATION.md
  docs/ENHANCED_AAR_IMPLEMENTATION_SUMMARY.md
  docs/implementation/DASHBOARD_IMPLEMENTATION_COMPLETE.md
  docs/standards/after-actions-report-process.md
Due: docs-quality, validate-metadata-standards

FEAT(enforcement): implement shellcheck-compliant NO_SHORTCUTS_POLICY infrastructure with 95% QC validation
  .codex/enforcement/agent_guardrails.yml
  .codex/enforcement/baseline_summary.md
  .codex/enforcement/claude_violation_log.md
  .codex/enforcement/policy.md
  .codex/enforcement/triage_log.md
  .github/workflows/no-shortcuts-policy-enforcer.yml
  .pre-commit-config.yaml
  agents/ci_enforcement_guard.md
  agents/doc_lint_enforcer.md
  docs/policies/NO_SHORTCUTS_POLICY.md
  scripts/track_tech_debt_attribution.sh
  scripts/validate_terminal_output_simple.sh
Due: docs-quality, validate-agents, validate-metadata-standards

CHORE(config): update environment files with current variable alignment
  .env.ci
  .env.example
Due: none

CHORE(ci): update GitHub workflows with improved formatting and validation
  .github/workflows/aar-hardening-validation.yml
  .github/workflows/aar-issue-processor.yml
  .github/workflows/aar-ui.yml
  .github/workflows/aar.yml
  .github/workflows/audit-retro-actions.yml
  .github/workflows/auto-fix.yml
  .github/workflows/ci-dashboard-generator.yml
  .github/workflows/ci-failure-analyzer.yml
  .github/workflows/env-doc-alignment.yml
  .github/workflows/review-known-errors.yml
  .github/workflows/root-artifact-monitor.yml
  .github/workflows/secrets-alignment.yml
Due: none

DOCS(agents): update agent documentation with enhanced standards and guidelines
  .codex/agents/README.md
  .codex/agents/code_quality_agent.md
  agents/ci-bot.md
  agents/dev-orchestrator.md
  agents/documentation-quality-enforcer.md
  agents/guidelines/terminal-output-policy-suppression.md
  agents/index.md
  agents/schema-driven-aar-system.md
Due: docs-quality, validate-agents, validate-metadata-standards

FEAT(frontend): add AAR form component and enhance authentication UI
  frontend/index.html
  frontend/src/components/AARForm.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/ProtectedDashboard.tsx
  frontend/src/components/PublicLandingPage.tsx
  frontend/tailwind.config.test.js
Due: none

CHORE(config): update docker compose configurations and coverage reporting
  archive/docs/pull_request_template.md
  coverage.svg
  docker-compose.dev.yaml
  docker-compose.prod.yaml
  package-lock.json
  scripts/generate_aar_portal.py
Due: docs-quality

FEAT(templates): add GitHub issue templates and AAR test infrastructure
  .github/ISSUE_TEMPLATE/aar.yml
  .github/ISSUE_TEMPLATE/docker-service-mesh-mvp.md
  .github/ISSUE_TEMPLATE/docker-service-mesh-phase.md
  .github/ISSUE_TEMPLATE/mvp-phase1-network-tiering.md
  .github/ISSUE_TEMPLATE/mvp-phase3-ci-validation.md
  package.json
  scripts/aar_api/server.ts
  scripts/ci_service_validation.sh
  scripts/create_aar_json.sh
  scripts/create_mvp_issues.sh
  scripts/enhanced_aar_generator.sh
  scripts/issue_to_aar_json.js
  scripts/migrate_aar.js
  scripts/mvp_docker_service_mesh.sh
  scripts/mvp_execution_readiness.sh
  scripts/pre-commit-aar.sh
  scripts/render_aar.js
  scripts/scaffold_phase1_networks.sh
  scripts/setup_aar_ui.sh
  scripts/test_aar_golden.js
  scripts/test_service_mesh.sh
  scripts/update_github_projects_board.sh
  tests/golden/aar/golden_infrastructure.aar.json
  tests/golden/aar/output/2025-08-08_golden-file-test-aar-infrastructure-initiative.md
  tests/golden/aar/output/_index.md
  tests/golden/aar/output/golden_infrastructure.diff
  tests/golden/aar/snapshots/golden_infrastructure.md
Due: docs-quality, pytest

FEAT(coverage): achieve 95% test coverage threshold requirement - comprehensive coverage optimization with targeted auth service and routes testing
  .pre-commit-config.yaml
  src/devonboarder/auth_service.py
  tests/test_auth_minimal_coverage.py
Due: pytest

FEAT(coverage): add comprehensive coverage boost tests for 95% threshold
  tests/test_coverage_boost.py
  tests/test_routes_user.py
  tests/test_simple_coverage.py
Due: pytest

DOCS(aar): complete AAR system documentation with React UI and intelligent markdown fixing
  Makefile
  aar/docker_service_mesh_infrastructure_complete.md
  aar/infrastructure_initiative_workflow_success_pattern.md
  app/aar-ui/Dockerfile
  app/aar-ui/README.md
  app/aar-ui/index.html
  app/aar-ui/lib/aar.zod.ts
  app/aar-ui/package-lock.json
  app/aar-ui/package.json
  app/aar-ui/src/AARForm.tsx
  app/aar-ui/src/index.css
  app/aar-ui/src/main.tsx
  app/aar-ui/tsconfig.json
  app/aar-ui/tsconfig.node.json
  app/aar-ui/vite.config.ts
  codex/agents/phase2_quality_gate_enforcer.md
  codex/agents/phase3_ci_validation_enforcer.md
  codex/automation/github_projects_workflow_automation.md
  codex/mvp/mvp_completion_criteria.md
  codex/tasks/integrated_task_staging_plan.md
  codex/tasks/phase2_quality_gates_checklist.md
  codex/tasks/phase3_ci_validation_loop_checklist.md
  codex/tasks/task_execution_index.json
  docs/AAR/reports/2025/Q3/infrastructure/dashboard-modernization-strategy-shadcn-ui-component-adoption.md
  docs/AAR/reports/2025/Q3/integration/discord-oauth-multi-environment-integration-success.md
  docs/smart-markdown-fixing.md
  scripts/create_infrastructure_initiative.sh
  scripts/intelligent_markdown_fixer.py
  scripts/smart_markdown_fix.sh
  scripts/validate_network_contracts.sh
  tests/golden/aar/output/2025-08-08_golden-file-test-aar-infrastructure-initiative.md
  tests/golden/aar/snapshots/golden_infrastructure.md
Due: docs-quality, validate-agents, validate-metadata-standards, pytest

FEAT(ci): implement component-based CI architecture with path filtering and targeted testing
  .github/workflows/aar-ui-component.yml
  .github/workflows/backend-component.yml
  .github/workflows/bot-component.yml
  .github/workflows/component-orchestrator.yml
  .github/workflows/docs-component.yml
  .github/workflows/frontend-component.yml
  .github/workflows/infrastructure-component.yml
  docs/ci-architecture-component-based.md
  scripts/ci_migration_assistant.sh
Due: docs-quality, validate-metadata-standards

FIX(ci): resolve terminal output policy violations in aar-automation workflow
  .github/workflows/aar-automation.yml
Due: none

FIX(ci): resolve terminal output policy violations in component workflows
  .github/workflows/docs-component.yml
  .github/workflows/infrastructure-component.yml
Due: none

FIX(vitest): resolve Vitest configuration issues and add missing jsdom dependency
  app/aar-ui/package-lock.json
  app/aar-ui/package.json
  app/aar-ui/vitest.config.ts
  frontend/src/test/vite.config.test.js
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: none

DOCS(ci): add CI architecture proposal and clean up temporary files
  .gitignore
  docs/proposals/ci-architecture-restructure.md
Due: docs-quality, validate-metadata-standards

FEAT(orchestrator): Implement complete Hub-and-Spoke system with security protection
  .codex/ORCHESTRATOR_AUTOMATION_EXCLUSION.md
  .codex/agents/tags/ci_triage_guard/agent_tags_ci_triage_guard.md
  .codex/agents/tags/codex_router/agent_tags_codex_router.md
  .codex/agents/tags/codex_triage/agent_tags_codex_triage.md
  .codex/agents/tags/coverage_orchestrator/agent_tags_coverage_orchestrator.md
  .codex/bot-permissions.yaml
  .codex/orchestrator/.internal
  .codex/orchestrator/config.yml
  .github/workflows/orchestrator.yml
  .gitignore
  docs/orchestrator/after-action-summary-final.md
  docs/orchestrator/after-action-summary.md
  docs/orchestrator/implementation-guide.md
  docs/orchestrator/implementation-summary.md
  envmaps/auth.allowlist
  envmaps/backend.allowlist
  envmaps/bot.allowlist
  envmaps/frontend.allowlist
  envmaps/integration.allowlist
  envmaps/orchestrator.allowlist
  frontend/src/components/orchestrator/PRRoutingToggle.tsx
  public_docs/agent_roles.md
  public_docs/orchestration_model.md
  scripts/enhanced_env_sync.sh
  scripts/validate_orchestrator_implementation.sh
  src/routes/orchestrator/pr-routing.ts
Due: docs-quality, validate-agents, validate-metadata-standards, pytest

CHORE(orchestrator): Add Jest config and post-implementation cleanup
  bot/jest.config.cjs
Due: none

FIX(agents): Correct permission format and frontmatter structure
  agents/ci_enforcement_guard.md
  agents/doc_lint_enforcer.md
  agents/schema-driven-aar-system.md
Due: docs-quality, validate-agents, validate-metadata-standards

FIX(agents): Move permissions into codex-agent block for schema compliance
  agents/ci_enforcement_guard.md
Due: docs-quality, validate-agents, validate-metadata-standards

FIX(ci): Update OpenAPI spec and cleanup root artifacts
  src/devonboarder/openapi.json
Due: pytest

FIX(test): resolve Vitest internal state error by renaming config test file
  app/aar-ui/vitest.config.ts
  bot/package.json
  bot/src/commands/contribute.ts
  bot/src/commands/profile.ts
  bot/src/commands/verify.ts
  bot/src/main.ts
  bot/tsconfig.json
  ci_stabilization_bundle_report.md
  codex/agents/phase2_quality_gate_enforcer.md
  codex/agents/phase3_ci_validation_enforcer.md
  docs/security-audit-2025-08-09.md
  frontend/src/App.tsx
  frontend/src/auth/authRedirect.ts
  frontend/src/components/Login.test.tsx
  frontend/src/components/PublicLandingPage.test.tsx
  frontend/src/components/PublicLandingPage.tsx
  frontend/src/routes/ProtectedRoute.tsx
  frontend/src/styles/status.css
  frontend/src/test/vite-configuration.test.js
  frontend/src/tests/router/loginRedirect.test.tsx
  frontend/src/tests/utils/retry.test.tsx
  frontend/src/utils/retry.ts
  frontend/vitest.config.ts
  scripts/env_sync_with_allowlists.sh
Due: docs-quality, validate-agents, validate-metadata-standards

FIX(aar-ui): install dev dependencies for TypeScript build in Docker
  app/aar-ui/Dockerfile
Due: none

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$
