Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$

REFACTOR(ci): apply Copilot feedback improvements for code quality
  .github/workflows/ci.yml
  .github/workflows/close-codex-issues.yml
  scripts/clean_pytest_artifacts.sh
  scripts/validate_ci_locally.sh
Due: none

FIX(ci): resolve copilot feedback for printf format and script logic completion
  .github/workflows/ci.yml
  .github/workflows/close-codex-issues.yml
Due: none

FIX(scripts): standardize message formatting consistency in clean_pytest_artifacts.sh
  scripts/clean_pytest_artifacts.sh
Due: none

DOCS(ci): add PR #1212 modernization progress report
  docs/ci/ci-modernization-2025-09-02.md
Due: docs-quality, validate-metadata-standards

FIX(ci): address Copilot code review comments with comprehensive improvements
  .github/workflows/ci.yml
  .github/workflows/close-codex-issues.yml
  scripts/clean_pytest_artifacts.sh
  scripts/validate_ci_locally.sh
Due: none

DOCS(ci): update documentation with completed Copilot feedback resolution
  docs/ci/ci-modernization-2025-09-02.md
Due: docs-quality, validate-metadata-standards

FEAT(ci): implement comprehensive automated system misalignment detection
  .github/workflows/ci.yml
  scripts/detect_system_misalignment.sh
  scripts/enhanced_ci_failure_analysis.sh
Due: none

FIX(ci): resolve YAML linting errors in enhanced CI workflow
  .github/workflows/ci.yml
Due: none

FIX(ci): resolve final YAML indentation issue in artifact upload section
  .github/workflows/ci.yml
Due: none

FIX(ci): add missing types-requests dependency for MyPy compatibility
  pyproject.toml
Due: pytest

DOCS(troubleshooting): add CI MyPy type stubs troubleshooting guide
  .github/copilot-instructions.md
  docs/troubleshooting/CI_MYPY_TYPE_STUBS.md
  docs/troubleshooting/README.md
Due: docs-quality, validate-metadata-standards

DOCS(ci): update CI modernization progress with MyPy resolution and comprehensive troubleshooting system
  docs/ci/ci-modernization-2025-09-02.md
Due: docs-quality, validate-metadata-standards

FIX(workflow): include potato workflow files in Enhanced Potato Policy path triggers
  .github/workflows/potato-policy-focused.yml
Due: none

DOCS(troubleshooting): add comprehensive automerge hanging diagnosis and monitoring system
  .github/copilot-instructions.md
  docs/troubleshooting/AUTOMERGE_HANGING_INDEFINITELY.md
  docs/troubleshooting/README.md
  scripts/check_automerge_health.sh
Due: docs-quality, validate-metadata-standards

FIX(monitoring): resolve subshell variable persistence issue in automerge health check
  scripts/check_automerge_health.sh
Due: none

FIX(monitoring): remove hardcoded repository name for portability
  scripts/check_automerge_health.sh
Due: none

FIX(ci): add missing checkout step to close-codex-issues workflow
  .github/workflows/close-codex-issues.yml
Due: none

FEAT(automation): add create_fix_pr.sh script for automated PR workflow
  scripts/create_fix_pr.sh
Due: none

DOCS(alignment): comprehensive documentation alignment for CI infrastructure modernization
  README.md
  docs/CHANGELOG.md
  docs/ci/ci-modernization-2025-09-01.md
  docs/ci/ci-modernization-2025-09-02.md
  docs/scripts/automation-enhancements.md
Due: docs-quality, validate-metadata-standards

CI(fix): CRITICAL restore pre-commit hooks after CI debugging session
  docs/ci/ci-modernization-2025-09-02.md
Due: docs-quality, validate-metadata-standards

FIX(terminal-output): remove final emoji from quality gate health workflow
  .github/workflows/quality-gate-health.yml
  docs/standards/quality-gate-protection-system.md
  scripts/safe_commit.sh
  scripts/validate_quality_gates.sh
Due: docs-quality, validate-metadata-standards

FIX(ci): prevent AAR portal workflow from pushing directly to protected main branch
  .github/workflows/aar-portal.yml
Due: none

FIX(quality-gates): Handle CI environment in quality gate validation script
  scripts/validate_quality_gates.sh
Due: none

FIX(docs): resolve PR review comments for Zero-Accountability-Loss Framework
  .github/workflows/quality-gate-health.yml
  docs/standards/quality-gate-protection-system.md
  scripts/validate_quality_gates.sh
Due: docs-quality, validate-metadata-standards

FEAT(docs): add comprehensive markdown QC system with automatic formatting
  .github/copilot-instructions.md
  archive/docs/ci-modernization-2025-09-02.md
  docs/ci/ci-modernization-2025-09-03.md
  docs/contributing/issue-labeling-guide.md
  docs/contributing/labels-quick-reference.md
  scripts/README.md
  scripts/fix_markdown_formatting.py
  scripts/qc_docs.sh
Due: docs-quality, validate-metadata-standards

DOCS(aar): update AAR portal
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
Due: none

feat(openapi): add devonboarder.ci OpenAPI spec
  openapi/devonboarder.ci.yaml
Due: none

feat(openapi): add openapi-validate GitHub Actions workflow
  .github/workflows/openapi-validate.yml
Due: none

docs(openapi): add OpenAPI documentation guide
  docs/openapi.md
Due: docs-quality, validate-metadata-standards

chore(openapi): add .redocly config
  .redocly.yaml
Due: none

chore(openapi): add Spectral configuration
  .spectral.json
Due: none

test(openapi): add client import smoke test
  tests/test_openapi_client_smoke.py
Due: pytest

FEAT(infrastructure): implement core Token Architecture v2.1 foundation
  .tokens.ci
  scripts/token_loader.py
  scripts/token_manager.py
Due: none

FIX(ci): configure markdownlint to only check staged files
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
  docs/TOKEN_ARCHITECTURE_V2.1.md
Due: docs-quality, validate-metadata-standards

FEAT(docs): add core Token Architecture v2.1 documentation
  docs/TOKEN_ARCHITECTURE.md
  docs/TOKEN_AUTO_CREATION.md
  docs/TOKEN_DOCUMENTATION_INDEX.md
Due: docs-quality, validate-metadata-standards

FEAT(scripts): enhance core automation with Token Architecture v2.1
  scripts/analyze_ci_patterns.sh
  scripts/execute_automation_plan.sh
  scripts/monitor_ci_health.sh
  scripts/orchestrate-dev.sh
  scripts/orchestrate-prod.sh
  scripts/orchestrate-staging.sh
Due: none

FEAT(scripts): enhance token management and security tools
  scripts/aar_security.py
  scripts/ci_gh_issue_wrapper.sh
  scripts/create_pr_tracking_issue.sh
  scripts/generate_aar.py
  scripts/setup_aar_tokens.sh
Due: none

DOCS(completion): add Token Architecture v2.1 completion reports
  LOCAL_TOKEN_SETUP_COMPLETE.md
  OPTION1_PHASE1_COMPLETE.md
  PHASE2_COMPLETE_STATUS.md
  PHASE3_SUCCESS_REPORT.md
  TOKEN_LOADER_ENHANCEMENT_COMPLETE.md
Due: docs-quality

FIX(security): update AAR token management documentation
  scripts/aar_security.py
Due: none

DOCS(markdown): comprehensive markdown formatting fixes for Token Architecture v2.1
  PHASE2_AUTOMATION_PLAN.md
  PHASE3_DEVELOPER_PLAN.md
  PHASE3_STATUS_REPORT.md
  docs/DEPLOYMENT_TOKEN_IMPACT.md
  docs/TOKEN_MIGRATION_GUIDE.md
  docs/TOKEN_NOTIFICATION_SYSTEM.md
  docs/TOKEN_SECURITY_GUIDELINES.md
  docs/ci/ci-modernization-2025-09-03.md
  docs/token-setup-guide.md
  scripts/fix_markdown_comprehensive.py
Due: docs-quality, validate-metadata-standards
