Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

FIX(dashboard): eliminate hardcoded path fallback with robust tree traversal
  src/devonboarder/dashboard_service.py
Due: pytest

FIX(ci): resolve critical test failures and workflow issues
  .github/workflows/auto-fix.yml
  pyproject.toml
Due: pytest

docs: update AAR portal
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
Due: none

FEAT(ci): implement smart log cleanup system with post-success automation
  .github/workflows/ci-dashboard-generator.yml
  .github/workflows/ci.yml
  .github/workflows/post-merge-cleanup.yml
  AAR_DASHBOARD_IMPLEMENTATION_COMMENTARY.md
  reports/pr_1056_automation_report.md
  scripts/clean_pytest_artifacts.sh
  scripts/generate_ci_dashboard_report.py
  scripts/manage_logs.sh
  scripts/quick_ci_dashboard.sh
Due: docs-quality

DOCS(pr): update PR summary for smart log cleanup system implementation
  PR_SUMMARY.md
Due: docs-quality

FIX(ci): add Agent.PostMergeCleanup to bot permissions configuration
  .codex/bot-permissions.yaml
Due: none

FIX(ci): resolve bot permissions validation and linting issues
  .codex/bot-permissions.yaml
  .github/workflows/ci-dashboard-generator.yml
  .github/workflows/post-merge-cleanup.yml
  scripts/generate_ci_dashboard_report.py
  scripts/manage_logs.sh
Due: none

SECURITY(ci): fix code injection vulnerability in workflow
  .github/workflows/ci-dashboard-generator.yml
Due: none

FEAT(ci): implement smart log cleanup system with post-success automation
  .codex/bot-permissions.yaml
  .github/workflows/ci-dashboard-generator.yml
  .github/workflows/ci.yml
  .github/workflows/post-merge-cleanup.yml
  AAR_DASHBOARD_IMPLEMENTATION_COMMENTARY.md
  PR_SUMMARY.md
  reports/pr_1056_automation_report.md
  scripts/clean_pytest_artifacts.sh
  scripts/generate_ci_dashboard_report.py
  scripts/manage_logs.sh
  scripts/quick_ci_dashboard.sh
Due: docs-quality

FEAT(infrastructure): implement devonboarder readiness infrastructure with terminal policy fixes
  .codex/agents/code_quality_agent.md
  .codex/agents/management-ingest.md
  .codex/agents/metadata-standards.md
  .codex/agents/tags/ci_root_artifact_guard.md
  .github/pull_request_template.md
  .github/workflows/aar-automation.yml
  .github/workflows/aar-generator.yml
  .github/workflows/ci-dashboard-generator.yml
  .github/workflows/ci-health.yml
  .github/workflows/close-codex-issues.yml
  .github/workflows/code-review-bot.yml
  .github/workflows/markdownlint.yml
  .github/workflows/post-merge-cleanup.yml
  .github/workflows/pr-automation.yml
  .github/workflows/terminal-policy-enforcement.yml
  .pre-commit-config.yaml
  CI_FAILURE_ISSUE_INTEGRATION_COMPLETE.md
  CONTRIBUTING.md
  ENFORCEMENT_DOCUMENTATION_AUDIT.md
  README.md
  SETUP.md
  TERMINAL_POLICY_ENFORCEMENT_COMPLETE.md
  codex/tasks/phase2-devonboarder.md
  docs/AI_AGENT_TERMINAL_OVERRIDE.md
  docs/TERMINAL_OUTPUT_VIOLATIONS.md
  docs/ci-workflow.md
  docs/first-pr-guide.md
  docs/public/DevOnboarder_Readiness_2025.md
  docs/v1/AI_AGENT_TERMINAL_OVERRIDE.md
  docs/v1/CHANGELOG.md
  docs/v1/QA_CHECKLIST.md
  docs/v1/README.md
  docs/v1/ROADMAP.md
  docs/v1/TERMINAL_OUTPUT_VIOLATIONS.md
  docs/v1/agent_certification_log.md
  docs/v1/modular_extraction_plan.md
  scripts/validate_agent_certification.sh
  scripts/validate_terminal_output.sh
  scripts/validation_summary.sh
Due: docs-quality, validate-agents, validate-metadata-standards

FEAT(terminal-policy): systematic terminal output violation fixes
  .github/workflows/aar-automation.yml
  .github/workflows/ci-dashboard-generator.yml
  .github/workflows/notify.yml
  .github/workflows/pr-automation.yml
  .github/workflows/review-known-errors.yml
  .github/workflows/security-audit.yml
  .github/workflows/terminal-policy-enforcement.yml
  scripts/validation_summary.sh
Due: none

FIX(ci): update terminal policy enforcement to use refined validation script
  .github/workflows/terminal-policy-enforcement.yml
Due: none

FEAT(terminal-policy): achieve zero terminal output violations with enhanced validation
  .codex/BASELINE_LOCKED.md
  .codex/tasks/phase2_terminal_output_compliance.md
  .github/workflows/aar-automation.yml
  .github/workflows/aar-generator.yml
  .github/workflows/auto-fix.yml
  .github/workflows/ci-dashboard-generator.yml
  .github/workflows/ci-failure-analyzer.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/ci.yml
  .github/workflows/code-review-bot.yml
  .github/workflows/post-merge-cleanup.yml
  .github/workflows/potato-policy-focused.yml
  .github/workflows/pr-automation.yml
  .github/workflows/review-known-errors.yml
  .github/workflows/secrets-alignment.yml
  .github/workflows/security-audit.yml
  .github/workflows/terminal-policy-enforcement.yml
  .pre-commit-config.yaml
  ENFORCEMENT_DOCUMENTATION_AUDIT.md
  PHASE2_GITHUB_INTEGRATION_COMPLETE.md
  README.md
  codex/tasks/create_new_repos_checklist.md
  codex/tasks/cross_repo_orchestration.md
  codex/tasks/index.md
  codex/tasks/migrate_code_checklist.md
  codex/tasks/phase2_1b_rollout_tasks.md
  codex/tasks/tasks.md
  codex/tasks/terminal-output-cleanup-phases.md
  docs/MARKDOWN_LINTING_TROUBLESHOOTING.md
  docs/instruction_backups/copilot-instructions_backup_20250803_174931.md
  docs/v1/modular_extraction_plan.md
  scripts/phase2_progress_tracker.sh
  scripts/validate_terminal_output.sh
  scripts/validate_terminal_output.sh.backup
  scripts/validate_terminal_output_fixed.sh
  scripts/validate_terminal_output_simple.sh
  scripts/validation_comparison.sh
  scripts/validation_summary.sh
Due: docs-quality, validate-metadata-standards

FIX(agents): resolve schema validation failures for code quality and metadata standards agents
  .codex/agents/code_quality_agent.md
  .codex/agents/metadata-standards.md
Due: docs-quality, validate-agents, validate-metadata-standards

FIX(workflows): resolve GitHub CLI permission violations by moving gh issue commands to dedicated scripts
  .github/workflows/post-merge-cleanup.yml
  .github/workflows/terminal-policy-enforcement.yml
  scripts/create_terminal_policy_issue.sh
  scripts/manage_ci_failure_issues.sh
Due: none

FIX(ci): resolve Code Review Bot false positives by checking only added lines for terminal policy violations
  .github/workflows/code-review-bot.yml
Due: none

FIX(ci): resolve remaining workflow failures with proper investigation and fixes
  .github/workflows/aar-automation.yml
  .github/workflows/close-codex-issues.yml
  scripts/create_terminal_policy_issue.sh
  scripts/manage_ci_failure_issues.sh
Due: none

DOCS(tasks): organize completed tasks into dedicated folder
  codex/tasks/completed/README.md
  codex/tasks/completed/phase2-devonboarder.md
  codex/tasks/completed/terminal-output-cleanup-phases.md
  codex/tasks/index.md
Due: docs-quality

FIX(ci): implement centralized cache management to prevent repository pollution
  mypy.ini
  pytest.ini
  scripts/validate_cache_centralization.sh
Due: pytest

FIX(ci): restore MyPy configuration to resolve type checking failures
  pyproject.toml
  src/devonboarder/auth_service.py
  src/devonboarder/server.py
Due: pytest

FIX(ci): implement centralized cache management to prevent repository pollution (#1068)
  mypy.ini
  pyproject.toml
  pytest.ini
  scripts/validate_cache_centralization.sh
  src/devonboarder/auth_service.py
  src/devonboarder/server.py
Due: pytest

DOCS(instructions): add validation-driven resolution pattern to agent guidelines
  .github/copilot-instructions.md
Due: docs-quality

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$
