Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

CHORE(cleanup): add documentation, scripts, and frontend assets
  cleanup_test_credentials.sh
  docs/DOCKER_ENVIRONMENT_COMPATIBILITY.md
  frontend/public/favicon.ico
  scripts/phase2_complete_test.sh
Due: docs-quality, validate-metadata-standards

DOCS(quality): implement comprehensive documentation quality framework
  README.md
  agents/documentation-quality-enforcer.md
  agents/index.md
  docs/ci-aar-integration-demo.md
  docs/ci-dashboard.md
  docs/mission-accomplished-ci-aar-integration.md
  docs/public/documentation-quality-certification.md
Due: docs-quality, validate-agents, validate-metadata-standards

FEAT(config): achieve 100% security compliance and configuration consistency
  .env.ci
  codex/journal/2025-08-06.md
  config/env-sync-config.yaml
Due: docs-quality

DOCS(config): document VITE_ALLOWED_HOST environment variables in .env.example
  .env.example
Due: none

CHORE(ci): Improve test coverage from 92.45% to 94.57%
  .env.ci
  config/env-sync-config.yaml
  docker-compose.dev.yaml
  docker-compose.prod.yaml
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/ProtectedDashboard.tsx
  scripts/generate-secrets.sh
  src/devonboarder/auth_service.py
  src/devonboarder/dashboard_service.py
  src/utils/discord.py
  tests/test_cors.py
  tests/test_discord_integration.py
  tests/test_discord_utils.py
  tests/test_feedback_api.py
  tests/test_xp_api.py
Due: pytest

DOCS(aar): add comprehensive AAR for PR #1098 with institutional knowledge capture
  .aar/2025/Q3/pull-requests/pr-1098-documentation-quality-certification-framework---mvp-ready.md
  .aar/index.md
  PR_SUMMARY.md
Due: docs-quality

Create work_item_template.md
  .github/ISSUE_TEMPLATE/work_item_template.md
Due: docs-quality

FEAT(test): achieve 99% test coverage - mission accomplished
  tests/test_auth_service.py
  tests/test_dashboard_service.py
Due: pytest

DOCS(github): enhance copilot instructions and add work item template
  .github/ISSUE_TEMPLATE/work_item.md
  .github/copilot-instructions.md
Due: docs-quality

FEAT(test): achieve 99% test coverage exceeding 98% target
  tests/test_auth_service.py
  tests/test_dashboard_service.py
Due: pytest

DOCS(coverage): add comprehensive coverage challenge lessons learned and update agent guidelines with no-verify policy
  .github/copilot-instructions.md
  docs/COVERAGE_CHALLENGE_LESSONS_LEARNED.md
  tests/test_auth_service.py
Due: docs-quality, validate-metadata-standards, pytest

FIX(security): replace hardcoded host binding with environment variable
  .github/workflows/pr-merge-cleanup.yml
  src/devonboarder/dashboard_service.py
Due: pytest

FEAT(ci): add automated commit message fixing tools for conventional format compliance
  scripts/check_commit_messages.sh
  scripts/fix_commit_messages.sh
  scripts/interactive_commit_fixer.sh
Due: none

FIX(ci): add REVERT as valid conventional commit type for commit message validation
  scripts/check_commit_messages.sh
Due: none

FIX(ci): resolve markdown linting and no-verify policy violations
  .github/ISSUE_TEMPLATE/work_item_template.md
  .github/copilot-instructions.md
Due: docs-quality

FIX(ci): correct POTATO approval format for no-verify policy validation
  .github/copilot-instructions.md
  docs/ci-dashboard.md
Due: docs-quality, validate-metadata-standards

FIX(ci): resolve jq syntax error and dashboard service linting issues
  docs/failure-filtering-implementation-summary.md
  scripts/download_ci_failure_issue.sh
  src/devonboarder/dashboard_service.py
Due: docs-quality, validate-metadata-standards, pytest

FIX(security): resolve CodeQL security scanning issues in dashboard service
  src/devonboarder/dashboard_service.py
Due: pytest

SECURITY(workflows): add explicit permissions to documentation-quality workflow
  .github/workflows/documentation-quality.yml
Due: none

SECURITY(workflows): add permissions to validate-docs job per Copilot Autofix
  .github/workflows/documentation-quality.yml
Due: none

SECURITY(auth): implement URL validation to prevent CWE-601 phishing attacks
  src/devonboarder/auth_service.py
  tests/test_auth_service.py
Due: pytest

SECURITY(workflows): add permissions block to no-verify-policy workflow
  .github/workflows/no-verify-policy.yml
Due: none

SECURITY(tests): fix CodeQL incomplete URL substring sanitization vulnerability
  tests/test_dashboard_service.py
Due: pytest

SECURITY(tests): fix all CodeQL incomplete URL substring sanitization issues
  tests/test_auth_service.py
Due: pytest

SECURITY(auth): enhance URL validation with protocol-relative prevention and final redirect validation
  src/devonboarder/auth_service.py
Due: pytest

SECURITY(auth): implement defense-in-depth URL validation per CodeQL
  src/devonboarder/auth_service.py
Due: pytest

SECURITY(auth): implement allowlist for user-provided redirect paths
  src/devonboarder/auth_service.py
Due: pytest

SECURITY(auth): eliminate user-controlled data in RedirectResponse for CodeQL compliance
  src/devonboarder/auth_service.py
Due: pytest

FIX(permissions): add missing documentation_quality agent permissions
  .codex/bot-permissions.yaml
Due: none

FIX(api): update OpenAPI spec to reflect security enhancements
  src/devonboarder/openapi.json
Due: pytest

FIX(ci): handle CI vs local environment detection in generate-secrets.sh
  scripts/generate-secrets.sh
Due: none

FEAT(env): align environment variables with documentation system
  .env.example
  agents/index.md
  bot/.env.example
Due: docs-quality, validate-agents, validate-metadata-standards

FIX(ci): add missing environment variables to .env.ci for audit compliance
  .env.ci
Due: none

FIX(docker): resolve npm permission issue in container build
  Dockerfile
  scripts/validate_ci_locally.sh
Due: none

FEAT(framework): complete VS Code/CI consistency integration
  .github/workflows/aar-automation.yml
  .github/workflows/validate-permissions.yml
  .pre-commit-config.yaml
  .yamllint
  95_PERCENT_CONFIDENCE.md
  ENHANCED_LOGGING_SYSTEM.md
  ISSUE_RESOLUTION_SUMMARY.md
  LOCAL_CI_COVERAGE.md
  bot/package.json
  docs/TARGETED_TESTING_FRAMEWORK.md
  docs/VSCODE_INTEGRATION_SUCCESS.md
  docs/security-audit-2025-08-07.md
  frontend/src/App.test.tsx
  frontend/src/components/Login.test.tsx
  scripts/monitor_validation.sh
  scripts/quick_validate.sh
  scripts/setup_vscode_integration.sh
  scripts/validate_ci_locally.sh
Due: docs-quality, validate-metadata-standards

DOCS: add comprehensive AAR summary for VS Code/CI integration
  docs/AAR_VSCODE_CI_INTEGRATION_SUMMARY.md
Due: docs-quality, validate-metadata-standards

DOCS: add detailed AAR for VS Code/CI integration framework
  docs/AAR_VSCODE_CI_INTEGRATION_2025-08-07.md
Due: docs-quality, validate-metadata-standards

docs: update AAR portal
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
Due: none

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$
