Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

FIX(aar-ui): resolve TypeScript compilation errors in AARForm component - replace useFieldArray with direct string array management for success_metrics and challenges_overcome
  app/aar-ui/src/AARForm.tsx
Due: none

FIX(aar-ui): resolve Docker build context and TypeScript import paths - copy lib directory to Docker build context and fix import path in server.ts
  app/aar-ui/Dockerfile
  scripts/aar_api/server.ts
Due: none

FIX(aar-ui): add TypeScript dependency to Docker build - install typescript package for tsc compilation of server.ts
  app/aar-ui/Dockerfile
Due: none

FIX(aar-ui): resolve TypeScript type error for PORT variable - convert environment variable string to number with parseInt
  scripts/aar_api/server.ts
Due: none

FIX(aar-ui): resolve Zod TypeScript compilation errors - fix error.errors to error.issues and improve type narrowing in server.ts
  app/aar-ui/lib/aar.zod.ts
  scripts/aar_api/server.ts
Due: none

FIX(ci): update Root Artifact Guard to allow node_modules in app/ subdirectories
  scripts/enforce_output_location.sh
Due: none

REFACTOR(aar): move Node.js packages to aar/ directory with environment enforcement
  .github/workflows/aar.yml
  .gitignore
  aar/.nvmrc
  aar/README.md
  aar/package-lock.json
  aar/package.json
  aar/setup-node-env.sh
  package.json
  scripts/enforce_output_location.sh
Due: docs-quality

SECURITY(workflows): add required permissions to address GitHub Advanced Security CodeQL warnings
  .github/workflows/aar-hardening-validation.yml
  .github/workflows/aar-ui-component.yml
  .github/workflows/aar.yml
  .github/workflows/backend-component.yml
  .github/workflows/bot-component.yml
  .github/workflows/component-orchestrator.yml
  .github/workflows/docs-component.yml
  .github/workflows/frontend-component.yml
  .github/workflows/infrastructure-component.yml
  .github/workflows/no-shortcuts-policy-enforcer.yml
  .github/workflows/potato-policy.yml
Due: none

FEAT(versions): implement universal Python 3.12 + Node 22 version policy
  .github/workflows/orchestrator.yml
  .github/workflows/version-policy-enforcement.yml
  .nvmrc
  .python-version
  README.md
  scripts/enforce_version_policy.sh
Due: docs-quality

FEAT(ci): implement DevOnboarder Universal Version Policy - Node 22.x + Python 3.12.x
  .codex/automation-tasks.md
  .codex/orchestrator/config.yml
  .github/workflows/aar-ui.yml
  .github/workflows/aar.yml
  .github/workflows/ci.yml
  .github/workflows/orchestrator.yml
  .github/workflows/version-policy-audit.yml
  PR_1123_FINALIZATION_COMMENT.md
  aar/package-lock.json
  aar/package.json
  docker-compose.tags.prod.yaml
  docs/CONFIG_VERSIONS.md
  pyproject.toml
  scripts/aar_api/server.ts
  scripts/setup_version_hook.sh
  tests/test_auth_service.py
Due: docs-quality, validate-metadata-standards, pytest

FEAT(ci): add CI Doctor workflow for Version Policy diagnostics
  .github/workflows/ci-doctor.yml
Due: none

SECURITY(ci): add explicit permissions to Version Policy workflows
  .github/workflows/ci-doctor.yml
  .github/workflows/version-policy-audit.yml
Due: none

FEAT(devxp): implement Universal Development Experience Policy
  .github/workflows/universal-development-experience.yml
  docs/policies/universal-development-experience-policy.md
  docs/policies/workflow-permissions-policy.md
  scripts/enhanced_safe_commit.sh
  scripts/validate_workflow_permissions.sh
Due: docs-quality, validate-metadata-standards

POLICY(workflows): Complete Universal Workflow Permissions Policy implementation with YAML formatting compliance
  .github/workflows/aar-automation.yml
  .github/workflows/aar-generator.yml
  .github/workflows/aar-issue-processor.yml
  .github/workflows/auto-fix.yml
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/documentation-quality.yml
  .github/workflows/pr-automation.yml
  .github/workflows/pr-issue-automation.yml
  .github/workflows/pr-merge-cleanup.yml
  scripts/fix_workflow_permissions.sh
Due: none

POLICY(dx): Eliminate whitespace drama forever with surgical pre-commit reordering and fail-only validation
  .editorconfig
  .git-blame-ignore-revs
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/enhanced_safe_commit.sh
  scripts/setup_git_whitespace_config.sh
Due: docs-quality

CHORE(config): Migrate pre-commit config to fix deprecated stage names
  .pre-commit-config.yaml
Due: none

DOCS(dx): Add comprehensive whitespace drama elimination documentation
  .codex/scripts/ci-monitor.py
  docs/WHITESPACE_DRAMA_ELIMINATION.md
  scripts/ci_failure_diagnoser.py
  scripts/ci_health_monitor.py
  scripts/comment_on_issue.py
  scripts/enhanced_ci_failure_analyzer.py
  scripts/extract_service_interfaces.py
  scripts/generate_aar.py
  scripts/generate_ci_dashboard_report.py
  scripts/known_errors_loop.py
  scripts/list-bots.py
  scripts/list_open_ci_issues.py
  scripts/parse_retro_actions.py
  scripts/process_notifications.py
  scripts/sync-issue-to-kekb.py
  scripts/update_coverage_badge.py
  scripts/update_devonboarder_dictionary.py
  scripts/validate_pr_summary.py
  scripts/validate_unicode_terminal_output.py
  tests/test_unicode_artifact_manager.py
Due: docs-quality, validate-metadata-standards, pytest

POLICY(enforcement): Lock in Universal Workflow Permissions Policy with nightly audit, CODEOWNERS guard, and exception process
  .github/CODEOWNERS
  .github/workflows/workflow-permissions-audit.yml
  docs/policies/workflow-permissions-policy.md
Due: docs-quality, validate-metadata-standards

DOCS(deployment): Add Universal Development Experience Policy deployment checklist with proper markdown formatting
  .github/CODEOWNERS
  README.md
  SETUP.md
  docs/UNIVERSAL_DEV_EXPERIENCE_DEPLOYMENT.md
Due: docs-quality, validate-metadata-standards

FIX(ci): remove emojis from guard-required-checks.yml per terminal output policy
  .github/workflows/ci.yml
  .github/workflows/guard-required-checks.yml
  .github/workflows/validate-permissions.yml
Due: none

CHORE(ci): terminal output policy compliance fixes
  .github/workflows/guard-required-checks.yml
  .github/workflows/nightly-drift-checks.yml
  .github/workflows/nightly-required-checks-sync.yml
  .github/workflows/orchestrator.yml
Due: none

SECURITY(aar-api): add rate limiting to AAR submission endpoint
  scripts/aar_api/server.ts
Due: none

DOCS(templates): fix markdown heading format in bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: docs-quality

FIX(ci): add ajv-formats import for AAR schema date validation
  .github/workflows/aar.yml
Due: none

FIX(ci): disable npm cache in AAR workflow to resolve lock file detection
  .github/workflows/aar.yml
  .pre-commit-config.yaml
  docs/AAR_HARDENING_COMPLETE.md
  docs/GIT_ARCHAEOLOGY_FORTRESS_GUIDE.md
  docs/PHASE4_DOCUMENTATION_ALIGNMENT_ANALYSIS.md
  docs/TASK_ORDERING.md
Due: docs-quality, validate-metadata-standards

FIX(ci): resolve critical CI failures with proper approvals and formatter alignment
  .github/AGENT_PROTOCOL_CRITICAL.md
  .github/workflows/ci.yml
Due: docs-quality

FIX(aar): resolve AAR system architecture with NODE_PATH and correct directory usage
  aar/package.json
  scripts/pre-commit-aar.sh
  scripts/setup_aar_ui.sh
Due: none

FIX(tests): resolve flaky token expiration test with proper timing
  .ci-trigger
  tests/test_auth_service.py
Due: pytest

FIX(tests): resolve flaky test_expired_token_decode_fails timing and exception handling
  .ci-trigger
  reports/pr_1125_automation_report.md
  tests/test_auth_service.py
Due: docs-quality, pytest

FIX(ci): include VSCode settings for Universal Development Experience Policy
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
Due: none

FIX(ci): improve AAR system validation with npm-only approach
  .github/workflows/aar.yml
  aar/package.json
Due: none

FIX(ci): comprehensive AAR workflow dependency resolution
  .github/workflows/aar.yml
Due: none

FIX(ci): resolve setup-node cache dependency path issues in workflows
  .github/workflows/version-policy-enforcement.yml
Due: none

FIX(ci): comprehensive setup-node cache dependency path resolution
  .github/workflows/aar-hardening-validation.yml
  .github/workflows/aar-issue-processor.yml
  .github/workflows/orchestrator.yml
  .gitignore
  package.json.unused
  reports/pr_1125_automation_report.md
Due: docs-quality

CHORE(ci): add tree-snapshot.txt to gitignore
  .gitignore
Due: none

FIX(ci): add venv creation step to orchestrator workflow
  .github/workflows/orchestrator.yml
Due: none

FIX(ci): remove undefined CODEX_API_KEY from orchestrator workflow
  .github/workflows/orchestrator.yml
Due: none

FIX(ci): align orchestrator workflow to use .env.ci instead of expecting .env file
  .github/workflows/orchestrator.yml
Due: none

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$
