Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

DOCS(canvas): add comprehensive AAR deployment summary for institutional knowledge
  docs/Canvas-AAR-Deployment-Summary.md
Due: docs-quality, validate-metadata-standards

FEAT(aar-portal): Complete HTML AAR Portal implementation
  .github/workflows/aar-portal.yml
  docs/aar-portal/README.md
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/templates/base.html
  docs/aar-portal/templates/index.html
  docs/aar-portal/templates/trends.html
  docs/aar-portal/trends.html
  pyproject.toml
  scripts/generate_aar_portal.py
Due: docs-quality, validate-metadata-standards, pytest

FEAT(ci): Complete CI Failure Analyzer GitHub Actions integration with comprehensive automation
  .aar/2025/Q3/automation/ci-failure-analyzer-integration-2025-08-02.md
  .codex/agents/README.md
  .codex/agents/code_quality_agent.md
  .codex/agents/tags/ci_root_artifact_guard.md
  .codex/checklists/standards/node_modules_hygiene.md
  .github/copilot-instructions.md
  .github/workflows/ci-failure-analyzer.yml
  CI_FAILURE_ANALYZER_INTEGRATION_COMPLETE.md
  COMMIT_SUMMARY_CI_FAILURE_ANALYZER.md
  docs/Canvas-AAR-Deployment-Summary.md
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
  docs/ci-failure-analyzer-integration.md
  docs/phase-4-ci-triage-guard.md
  docs/policies/no-default-token-policy.md
  docs/scripts/git-utilities.md
  phase4-ci-triage-guard-complete.md
  phase5-advanced-orchestration-complete.md
  phase5-advanced-orchestration.md
Due: docs-quality, validate-agents, validate-metadata-standards

CHORE: clean up temporary commit summary file
  COMMIT_SUMMARY_CI_FAILURE_ANALYZER.md
Due: docs-quality

FEAT(ci): enhance CI Failure Analyzer with YAML validation detection
  .github/workflows/aar-portal.yml
  .github/workflows/ci-failure-analyzer.yml
  scripts/enhanced_ci_failure_analyzer.py
  summary.md
Due: docs-quality

FEAT(ci): integrate CI Failure Analyzer with AAR system
  .github/workflows/ci-failure-analyzer.yml
  ci_failure_analysis.json
  docs/ci-aar-integration-demo.md
  scripts/enhanced_ci_failure_analyzer.py
Due: docs-quality, validate-metadata-standards

DOCS(ci): fix markdown compliance in mission accomplished AAR integration documentation
  docs/mission-accomplished-ci-aar-integration.md
Due: docs-quality, validate-metadata-standards

docs: update AAR portal
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
Due: none

FEAT(dashboard): implement comprehensive CI troubleshooting dashboard with 97.10% test coverage
  .gitignore
  .pre-commit-config.yaml
  COMMIT_SUMMARY_CI_FAILURE_ANALYZER.md
  DASHBOARD_IMPLEMENTATION_COMPLETE.md
  docs/aar-portal/README.md
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/templates/base.html
  docs/aar-portal/templates/index.html
  docs/aar-portal/trends.html
  fix_aar_markdown.py
  fix_markdown.py
  fix_markdown_comprehensive.py
  fix_markdown_formatting.py
  frontend/src/components/Dashboard.test.tsx
  frontend/src/components/Dashboard.tsx
  scripts/dashboard_service_test.py
  scripts/generate_aar_portal.py
  src/devonboarder/dashboard_service.py
  tests/test_dashboard_service.py
Due: docs-quality, validate-metadata-standards, pytest

FIX(ci): resolve CI issues with configurable ports, logging, and lint fixes
  frontend/src/components/Dashboard.tsx
  src/devonboarder/dashboard_service.py
  tests/test_dashboard_service.py
Due: pytest

FIX(ci): resolve Quality Control Gate issues
  src/devonboarder/dashboard_service.py
  tests/test_dashboard_service.py
Due: pytest

FIX(ci): resolve MyPy namespace issues and dashboard path detection
  mypy.ini
  src/devonboarder/dashboard_service.py
Due: pytest

FIX(dashboard): eliminate hardcoded path fallback with robust tree traversal
  src/devonboarder/dashboard_service.py
Due: pytest

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$
