Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$

SECURITY: fix URL substring validation vulnerability in auth tests
  tests/test_auth_service.py
Due: pytest

SECURITY: replace hardcoded JWT secret with random test key
  tests/test_auth_service.py
Due: pytest

FIX(scripts): remove redundant WARNING prefix in automerge health check
  scripts/check_automerge_health.sh
  test_quality_gate_1757109715.md
Due: docs-quality

FIX(tests): Load CI environment for Python tests in local validation
  scripts/validate_ci_locally.sh
  tests/test_auth_service.py
Due: pytest

CHORE(hooks): Restrict pytest and validation to pre-commit only
  .pre-commit-config.yaml
Due: none

DOCS(aar): update AAR portal
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
Due: none

FIX(ci): replace undefined auth_coverage variable with proper pytest command
  .github/workflows/ci.yml
Due: none

FIX(frontend): resolve ESLint violations blocking CI
  frontend/src/components/Dashboard.test.tsx
  frontend/src/components/Login.tsx
Due: none

FIX(ci): disable automatic coverage badge commits to prevent signature issues
  .github/workflows/ci.yml
Due: none

DOCS(milestone): implement comprehensive milestone tracking framework with automated generation
  docs/MILESTONE_FRAMEWORK_FIXES_APPLIED.md
  docs/standards/MILESTONE_TRACKING_FRAMEWORK.md
  milestones/2025-09/2025-09-09-ci-fix-coverage-masking-solution.md
  scripts/generate_milestone.sh
  scripts/milestone_integration.sh
Due: docs-quality, validate-metadata-standards

DOCS(session): annotate milestone framework completion and dependabot transition
  MILESTONE_LOG.md
  SESSION_HANDOFF_MILESTONE_TO_DEPENDABOT.md
Due: docs-quality

FIX(milestone): replace Perl-compatible grep patterns with POSIX-compatible regex for cross-platform portability
  milestones/2025-09/2025-09-09-ci-fix-coverage-masking-solution.md
  scripts/generate_milestone.sh
Due: docs-quality

FIX(milestone): add robust default branch detection with fallbacks for cross-repository compatibility
  milestones/2025-09/2025-09-09-ci-fix-coverage-masking-solution.md
  scripts/generate_milestone.sh
Due: docs-quality

FIX(milestone): apply robust default branch detection to milestone_integration.sh for cross-repository compatibility
  scripts/milestone_integration.sh
Due: none

DOCS(milestone): Implement comprehensive milestone tracking framework with automated generation
  docs/MILESTONE_FRAMEWORK_FIXES_APPLIED.md
  docs/standards/MILESTONE_TRACKING_FRAMEWORK.md
  milestones/2025-09/2025-09-09-ci-fix-coverage-masking-solution.md
  scripts/generate_milestone.sh
  scripts/milestone_integration.sh
Due: docs-quality, validate-metadata-standards

DOCS(priority): Update Priority Stack Framework for strategic foundation phase
  TSM_GITHUB_ISSUE_DRAFT.md
  docs/MILESTONE_TRACKING_SYSTEM_COMPLETE.md
  docs/PRIORITY_STACK_FRAMEWORK_UPDATE.md
  docs/security-audit-2025-09-09.md
  fix_coverage_doc.sh
  milestones/2025-09/2025-09-09-ci-fix-critical-ci-infrastructure-recovery.md
  milestones/2025-09/2025-09-09-ci-recovery-report.md
  scripts/ci_recovery_system.sh
Due: docs-quality, validate-metadata-standards

DOCS(process): Add Issue Discovery & Triage Standard Operating Procedure
  docs/ISSUE_DISCOVERY_TRIAGE_SOP.md
Due: docs-quality, validate-metadata-standards

FIX(ci): Add missing RED color variable in PR tracking issue script
  scripts/ci_recovery_system.sh
  scripts/create_pr_tracking_issue.sh
Due: none

DOCS(strategic): Add comprehensive Strategic Foundation Systems guide
  docs/STRATEGIC_FOUNDATION_SYSTEMS.md
Due: docs-quality, validate-metadata-standards

Strategic Foundation: Priority Stack Framework & Issue Triage SOP (#1316)
  TSM_GITHUB_ISSUE_DRAFT.md
  docs/ISSUE_DISCOVERY_TRIAGE_SOP.md
  docs/MILESTONE_TRACKING_SYSTEM_COMPLETE.md
  docs/PRIORITY_STACK_FRAMEWORK_UPDATE.md
  docs/STRATEGIC_FOUNDATION_SYSTEMS.md
  docs/security-audit-2025-09-09.md
  fix_coverage_doc.sh
  milestones/2025-09/2025-09-09-ci-fix-critical-ci-infrastructure-recovery.md
  milestones/2025-09/2025-09-09-ci-recovery-report.md
  scripts/ci_recovery_system.sh
  scripts/create_pr_tracking_issue.sh
Due: docs-quality, validate-metadata-standards

DOCS(milestone): Add Strategic Foundation Systems historic milestone
  milestones/2025-09/2025-09-09-enhancement-strategic-foundation-systems-implementation.md
Due: docs-quality

DOCS(milestone): implement Phase 1 documentation standardization framework
  docs/standards/milestone-documentation-format.md
  milestones/2025-09/2025-09-09-enhancement-strategic-foundation-systems-implementation.md
  milestones/2025-09/2025-09-09-process-milestone-documentation-standardization-phase1.md
  scripts/validate_milestone_format.py
  templates/milestone.md
Due: docs-quality, validate-metadata-standards

DOCS(milestone): add comprehensive Phase 1 completion documentation
  docs/PHASE1_MILESTONE_STANDARDIZATION_COMPLETE.md
Due: docs-quality, validate-metadata-standards

DOCS(milestone): complete Issue #1261 Phase 2 MILESTONE_LOG.md standardization
  MILESTONE_LOG.md
Due: docs-quality

FIX(docs): clean markdown formatting in Issue #1261 status report
  ISSUE_1261_STATUS_REPORT.md
Due: docs-quality

DOCS: Issue #1261 Phase 3A validation enhancement complete
  MILESTONE_LOG.md
  docs/PHASE3A_VALIDATION_ENHANCEMENT_COMPLETE.md
  docs/PHASE3_MILESTONE_AUTOMATION_PLAN.md
Due: docs-quality, validate-metadata-standards

FIX(docs): resolve milestone validation issues - Phase 3A complete
  milestones/2025-09/2025-09-09-enhancement-strategic-foundation-systems-implementation.md
  milestones/2025-09/2025-09-09-infrastructure-ci-recovery-report.md
  milestones/2025-09/2025-09-09-infrastructure-coverage-masking-solution.md
  milestones/2025-09/2025-09-09-infrastructure-critical-ci-infrastructure-recovery.md
  milestones/2025-09/2025-09-09-process-milestone-documentation-standardization-phase1.md
Due: docs-quality

FEAT(milestone): complete Phase 3B automation integration for Issue #1261
  .github/workflows/milestone-validation.yml
  .pre-commit-config.yaml
  ISSUE_1261_STATUS_REPORT.md
  PHASE2_MILESTONE_STANDARDIZATION_SUMMARY.md
  docs/PHASE3A_VALIDATION_ENHANCEMENT_COMPLETE.md
  docs/PHASE3B_AUTOMATION_INTEGRATION_COMPLETE.md
  scripts/fix_milestone_duplicates.py
  scripts/validate_milestone_cross_references.py
Due: docs-quality, validate-metadata-standards

DOCS(milestone): update documentation to reflect Issue #1261 100% completion
  ISSUE_1261_STATUS_REPORT.md
  MILESTONE_LOG.md
Due: docs-quality

CHORE(ci): clean up temporary milestone files and update validation script
  milestones/2025-09/2025-09-09-ci-fix-coverage-masking-solution.md
  milestones/2025-09/2025-09-09-ci-fix-critical-ci-infrastructure-recovery.md
  milestones/2025-09/2025-09-09-ci-recovery-report.md
  scripts/validate_terminal_output_simple.sh
Due: docs-quality

FEAT(ci): implement comprehensive CI permissions framework with workflow templates
  .github/workflow-templates/README.md
  .github/workflow-templates/basic-ci.yml
  .github/workflow-templates/documentation.yml
  .github/workflow-templates/pr-automation.yml
  .github/workflow-templates/security.yml
  .github/workflows/milestone-validation.yml
  .github/workflows/potato-policy.yml
  docs/CI_PERMISSIONS_SOLUTION.md
  docs/CI_PERMISSIONS_STRATEGIC_INTEGRATION.md
  docs/POTATO_POLICY_WORKFLOW_CLARIFICATION.md
  docs/PRIORITY_STACK_FRAMEWORK_UPDATE.md
  docs/STRATEGIC_FOUNDATION_SYSTEMS.md
  docs/WORKFLOW_SECURITY_STANDARDS.md
  docs/standards/github-actions-versions.md
  scripts/validate_workflow_permissions.sh
Due: docs-quality, validate-metadata-standards

DOCS(milestone): replace template placeholders with actual Strategic Foundation Systems metrics
  milestones/2025-09/2025-09-09-enhancement-strategic-foundation-systems-implementation.md
Due: docs-quality

FIX(milestones): resolve validation errors in September 2025 milestone files
  milestones/2025-09/2025-09-09-enhancement-strategic-foundation-systems-implementation.md.bak
  milestones/2025-09/2025-09-09-infrastructure-critical-ci-infrastructure-recovery.md
Due: docs-quality

CHORE(milestones): remove duplicate milestone files after consolidation
  milestones/2025-09/2025-09-09-ci-fix-critical-ci-infrastructure-recovery.md
  milestones/2025-09/2025-09-09-ci-recovery-report.md
Due: docs-quality

Strategic Foundation Systems: Complete Organizational Transformation (#1320)
  .github/workflow-templates/README.md
  .github/workflow-templates/basic-ci.yml
  .github/workflow-templates/documentation.yml
  .github/workflow-templates/pr-automation.yml
  .github/workflow-templates/security.yml
  .github/workflows/milestone-validation.yml
  .github/workflows/potato-policy.yml
  .pre-commit-config.yaml
  ISSUE_1261_STATUS_REPORT.md
  MILESTONE_LOG.md
  PHASE2_MILESTONE_STANDARDIZATION_SUMMARY.md
  docs/CI_PERMISSIONS_SOLUTION.md
  docs/CI_PERMISSIONS_STRATEGIC_INTEGRATION.md
  docs/PHASE1_MILESTONE_STANDARDIZATION_COMPLETE.md
  docs/PHASE3A_VALIDATION_ENHANCEMENT_COMPLETE.md
  docs/PHASE3B_AUTOMATION_INTEGRATION_COMPLETE.md
  docs/PHASE3_MILESTONE_AUTOMATION_PLAN.md
  docs/POTATO_POLICY_WORKFLOW_CLARIFICATION.md
  docs/PRIORITY_STACK_FRAMEWORK_UPDATE.md
  docs/STRATEGIC_FOUNDATION_SYSTEMS.md
  docs/WORKFLOW_SECURITY_STANDARDS.md
  docs/standards/github-actions-versions.md
  docs/standards/milestone-documentation-format.md
  milestones/2025-09/2025-09-09-enhancement-strategic-foundation-systems-implementation.md
  milestones/2025-09/2025-09-09-enhancement-strategic-foundation-systems-implementation.md.bak
  milestones/2025-09/2025-09-09-infrastructure-ci-recovery-report.md
  milestones/2025-09/2025-09-09-infrastructure-coverage-masking-solution.md
  milestones/2025-09/2025-09-09-infrastructure-critical-ci-infrastructure-recovery.md
  milestones/2025-09/2025-09-09-process-milestone-documentation-standardization-phase1.md
  scripts/fix_milestone_duplicates.py
  scripts/validate_milestone_cross_references.py
  scripts/validate_milestone_format.py
  scripts/validate_terminal_output_simple.sh
  scripts/validate_workflow_permissions.sh
  templates/milestone.md
Due: docs-quality, validate-metadata-standards

FIX(ci): ensure post-merge cleanup script exits successfully
  scripts/manage_ci_failure_issues.sh
Due: none
