Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

FIX(shellcheck): Add SC1091 disable comments for expected .env and .venv sourcing
  .aar-markdownlint.json
  .github/workflows/aar-generator.yml
  AAR_IMPLEMENTATION_COMPLETE.md
  COMPREHENSIVE_TOKEN_STATUS_COMPLETE.md
  Makefile
  README.md
  SETUP.md
  config/aar-config.json
  docs/AAR_MAKEFILE_INTEGRATION.md
  scripts/aar_security.py
  scripts/file_version_tracker.py
  scripts/generate_aar.py
  scripts/setup_aar_tokens.sh
  scripts/validate_templates.py
  templates/aar-template.md
  templates/security-report.md
Due: docs-quality, validate-metadata-standards

FIX(scripts): remove blank line whitespace violations in validate_templates.py
  scripts/validate_templates.py
Due: none

FIX(scripts): remove blank line whitespace violations in validate_templates.py
  scripts/validate_templates.py.backup
Due: none

CHORE(git): remove backup file - rely on version control history
  scripts/validate_templates.py.backup
Due: none

DOCS(tools): add comprehensive tools dashboard and issue resolution workflow
  README.md
  docs/README.md
  docs/tools-dashboard.md
  scripts/review_resolved_issues.sh
Due: docs-quality, validate-metadata-standards

SECURITY(ci): add explicit permissions to AAR automation workflow
  .github/workflows/aar-automation.yml
Due: none

FIX(ci): create required logs directory structure in AAR security audit workflow
  .github/workflows/aar-generator.yml
Due: none

CHORE(frontend): update deprecated npm dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

CHORE(ci): correct coverage badge to reflect accurate 95.8% coverage
  coverage-summary.md
  coverage.svg
Due: docs-quality

FEAT(aar): enhance AAR system with comprehensive PR analysis
  .aar/templates/pr-aar-template.md
  .github/workflows/aar-automation.yml
  scripts/generate_aar.sh
Due: docs-quality

CHORE(ci): update coverage badge
  coverage.svg
Due: none

FEAT(ci): complete GitHub comment automation for AAR system
  .github/workflows/aar-automation.yml
Due: none

FEAT(ci): add enhanced GitHub issue comment automation for AAR system
  .github/workflows/aar-automation.yml
  scripts/comment_on_issue.py
Due: none

DOCS(canvas): add comprehensive AAR deployment summary for institutional knowledge
  docs/Canvas-AAR-Deployment-Summary.md
Due: docs-quality, validate-metadata-standards

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$
