Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: terminal-output-policy, docs-quality, validate-agents, validate-metadata-standards, pytest, milestone-format-validation

terminal-output-policy:
  name: Terminal Output Policy Enforcement
  entry: scripts/validate_terminal_output_simple.sh
  language: script
  stages:
  - pre-commit
  always_run: false
  pass_filenames: false

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

milestone-format-validation:
  name: Milestone Format Validation
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_milestone_format.py milestones/ 2>&1 | tee logs/milestone_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false
  always_run: false
  stages:
  ...

FIX(ci): remove trailing spaces from workflow YAML
  .github/workflows/root-artifact-monitor.yml
Due: terminal-output-policy

FIX(ci): disable line-length yamllint rule to fix CI failures
  .github/.yamllint-config
Due: none

DEBUG(ci): force workflow failure if status creation fails
  .github/workflows/root-artifact-monitor.yml
Due: terminal-output-policy

FIX(ci): use GITHUB_SHA instead of context.sha for status creation
  .github/workflows/root-artifact-monitor.yml
Due: terminal-output-policy

DOCS(aar): update AAR portal [signed]
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
Due: none

FEAT(framework): complete comprehensive syntax error remediation and quality validation
  .env.ci
  fix_syntax_errors.py
Due: none

chore(codeowners): add final * catch-all to @theangrygamershowproductions/security-team
  .github/CODEOWNERS
Due: none

FIX(cleanup): resolve 21 Python syntax errors blocking QC tooling
  frameworks/monitoring-automation/alerting_systems/ci_health_aar_integration.py
  frameworks/monitoring-automation/automation_orchestration/advanced_orchestrator.py
  frameworks/monitoring-automation/monitoring_scripts/ci_health_monitor.py
  frameworks/monitoring-automation/monitoring_scripts/enhanced_ci_failure_analyzer.py
  frameworks/quality-assurance/formatting/fix_markdown_comprehensive.py
  scripts/generate_aar_portal.py
  scripts/predictive_analytics.py
  src/devonboarder/auth_service.py
  src/devonboarder/dashboard_service.py
  src/framework/extended_metadata.py
  src/framework/governance_engine.py
  src/framework/metadata_yaml.py
  src/llama2_agile_helper/api.py
  src/utils/timestamps.py
  tests/test_auth_service.py
  tests/test_bootstrap_script.py
  tests/test_setup_env.py
  tests/test_validate_pr_checklist.py
Due: pytest

CHORE(shellcheck): harden critical shell scripts for SC2086
  scripts/setup_tunnel.sh
  scripts/smart_env_sync.sh
  scripts/token_health_check.sh
  scripts/validate_ci_locally.sh
Due: none

DOCS(devonboarder): add getting started golden path
  docs/GETTING_STARTED.md
Due: docs-quality, validate-metadata-standards

DOCS(getting-started): clarify git add requirement before safe_commit
  docs/GETTING_STARTED.md
Due: docs-quality, validate-metadata-standards

FEAT(diagnostics): add MCP fleet health check tool
  scripts/mcp_health_check.sh
Due: none

FEAT(ci): add actions policy enforcement
  .github/workflows/actions-policy-enforcement.yml
Due: terminal-output-policy

DOCS(governance): P0 complete - DevOnboarder CI violations documented
  DEVONBOARDER_CI_STATUS_2025-12-01.md
Due: docs-quality

CI(devon): replace yamllint action with first-party workflow (1/4)
  .github/workflows/auto-fix.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/close-codex-issues.yml
  .github/workflows/env-doc-alignment.yml
  .github/workflows/notify.yml
  .github/workflows/secrets-alignment.yml
  .github/workflows/security-audit.yml
  .github/workflows/validate-permissions.yml
Due: terminal-output-policy

CI(devon): replace markdownlint action with first-party workflow (2/4)
  .github/workflows/markdownlint.yml
Due: terminal-output-policy

CI(devon): replace paths-filter action with first-party workflow (3/4)
  .github/workflows/ci.yml
Due: terminal-output-policy

CI(devon): replace create-pull-request action with first-party workflow (4/4)
  .github/workflows/auto-fix.yml
Due: terminal-output-policy

FIX(ci): address Copilot review feedback (9/11 threads resolved)
  .github/workflows/actions-policy-enforcement.yml
  .github/workflows/auto-fix.yml
  .github/workflows/ci.yml
  .github/workflows/devonboarder-qc.yml
  .github/workflows/scan-proprietary-refs.yml
  scripts/enable_branch_protection.sh
Due: terminal-output-policy

FIX(ci): enforcement regex - filter out echo statements
  .github/workflows/actions-policy-enforcement.yml
Due: terminal-output-policy

Path conditions:
  terminal-output-policy: any of: \.github/workflows/.*\.ya?ml$
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|pytest\.ini|pyproject\.toml).*$
  milestone-format-validation: any of: ^milestones/.*\.md$
