Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: terminal-output-policy, docs-quality, validate-agents, validate-metadata-standards, pytest, milestone-format-validation

Path conditions:
  terminal-output-policy: any of: \.github/workflows/.*\.ya?ml$
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|pytest\.ini|pyproject\.toml).*$
  milestone-format-validation: any of: ^milestones/.*\.md$

FIX(ci): pin markdownlint-cli2 to v0.13.0
  .github/workflows/markdownlint.yml
Due: terminal-output-policy

FIX(ci): remove emoji violations from actions-policy-enforcement
  .github/workflows/actions-policy-enforcement.yml
Due: terminal-output-policy

FIX(security): address SonarCloud security hotspots in workflow_run triggers
  .github/workflows/env-doc-alignment.yml
  .github/workflows/pr-welcome.yml
Due: terminal-output-policy

FIX(ci): prevent command injection in git diff and remove duplicate yamllint
  .github/workflows/ci.yml
  .github/workflows/cleanup-ci-failure.yml
Due: terminal-output-policy

CHORE(workflows): standardize action SHAs and pin yamllint version
  .github/workflows/aar-portal.yml
  .github/workflows/actions-policy-enforcement.yml
  .github/workflows/auto-fix.yml
  .github/workflows/ci-failure-analyzer.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/close-codex-issues.yml
  .github/workflows/devonboarder-qc.yml
  .github/workflows/env-doc-alignment.yml
  .github/workflows/milestone-validation.yml
  .github/workflows/no-verify-policy.yml
  .github/workflows/notify.yml
  .github/workflows/openapi-validate.yml
  .github/workflows/potato-policy-focused.yml
  .github/workflows/pr-gates.yml
  .github/workflows/priority-matrix-synthesis.yml
  .github/workflows/quality-gate-health.yml
  .github/workflows/secrets-alignment.yml
  .github/workflows/security-audit.yml
  .github/workflows/validate-permissions.yml
Due: terminal-output-policy

DOCS(markdownlint): clarify version pinning rationale per ACTIONS_POLICY.md
  .github/workflows/markdownlint.yml
Due: terminal-output-policy

FIX(actions-policy): improve echo filter pattern to prevent bypass
  .github/workflows/actions-policy-enforcement.yml
Due: terminal-output-policy

FIX(ci): improve glob pattern matching for edge cases
  .github/workflows/ci.yml
Due: terminal-output-policy

FIX(ci): make qc-check use canonical CI requirements and devon_qc script
  .github/workflows/devonboarder-qc.yml
  requirements-ci.txt
  scripts/devon_qc.sh
Due: terminal-output-policy

REFACTOR(ci): implement two-tier QC system (v3 gate + v4 full validation)
  .github/workflows/devonboarder-qc.yml
  DEVONBOARDER_V3_V4_QC_STANDARDS.md
  scripts/devon_qc.sh
Due: terminal-output-policy, docs-quality

DOCS(v3): DevOnboarder v3 completion documentation package
  AGENT_MERGE_READINESS_BUG_FIX.md
  CI_DEBT_DEVONBOARDER.md
  CI_DEBT_PROJECT_LINKAGE_PLAN.md
  DEVONBOARDER_V3_COMPLETION_SUMMARY.md
  POST_MERGE_1893_CHECKLIST.md
  PROCESS_BUG_FIX_STATUS.md
  PR_1893_FINAL_STATUS.md
  PR_1893_MERGE_VERIFICATION.md
  PR_1893_MERGE_VERIFICATION_UPDATED.md
  PR_1893_UNBLOCK_QUICK_ACTION.md
  PR_TRIAGE_BRIEF.md
  PR_TRIAGE_DEVONBOARDER_2025-12-03.md
  PR_TRIAGE_EXECUTION_PLAYBOOK.md
  READY_TO_EXECUTE.md
  TRIAGE_COMMAND_QUICK_REF.md
Due: docs-quality

DOCS(v3): DevOnboarder v3 completion documentation package (#1894)
  AGENT_MERGE_READINESS_BUG_FIX.md
  CI_DEBT_DEVONBOARDER.md
  CI_DEBT_PROJECT_LINKAGE_PLAN.md
  DEVONBOARDER_V3_COMPLETION_SUMMARY.md
  POST_MERGE_1893_CHECKLIST.md
  PROCESS_BUG_FIX_STATUS.md
  PR_1893_FINAL_STATUS.md
  PR_1893_MERGE_VERIFICATION.md
  PR_1893_MERGE_VERIFICATION_UPDATED.md
  PR_1893_UNBLOCK_QUICK_ACTION.md
  PR_TRIAGE_BRIEF.md
  PR_TRIAGE_DEVONBOARDER_2025-12-03.md
  PR_TRIAGE_EXECUTION_PLAYBOOK.md
  READY_TO_EXECUTE.md
  TRIAGE_COMMAND_QUICK_REF.md
Due: docs-quality

DOCS(v4): document PR #1894 merge procedure and required checks mismatch
  CI_DEBT_DEVONBOARDER.md
Due: docs-quality

DOCS(v4): Document PR #1894 merge procedure and CI config debt (#1895)
  CI_DEBT_DEVONBOARDER.md
Due: docs-quality

FIX(workflows): close quote in actions-policy-enforcement example
  .github/workflows/actions-policy-enforcement.yml
Due: terminal-output-policy

FIX(workflows): replace placeholder dates with actual release date (2025-03-19)
  .github/workflows/aar-generator.yml
  .github/workflows/auto-fix.yml
  .github/workflows/ci-dashboard-generator.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci-monitor.yml
Due: terminal-output-policy

FIX(workflows): enforce Terminal Output Policy in actions-policy-enforcement
  .github/workflows/actions-policy-enforcement.yml
Due: terminal-output-policy

FIX(workflows): enforce Terminal Output Policy in auto-fix workflow
  .github/workflows/auto-fix.yml
Due: terminal-output-policy

FEAT(scripts): add canonical merge gate report (single source of truth)
  scripts/merge_gate_report.sh
Due: none

FEAT(policy): enforce merge gate as single source of truth for agents
  AGENTS.md
  scripts/merge_gate_report.sh
Due: docs-quality

FIX(workflows): remove all emoji violations from devonboarder-qc per Terminal Policy
  .github/workflows/devonboarder-qc.yml
Due: terminal-output-policy

FIX(yaml): fix YAML lint violations for QC compliance
  .github/.yamllint-config
  .github/workflows/actions-policy-enforcement.yml
  .github/workflows/auto-fix.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/close-codex-issues.yml
  .github/workflows/devonboarder-qc.yml
  .github/workflows/env-doc-alignment.yml
  .github/workflows/markdownlint.yml
  .github/workflows/notify.yml
  .github/workflows/secrets-alignment.yml
  .github/workflows/security-audit.yml
  .github/workflows/validate-permissions.yml
  docs/SONAR_SCOPE_DECISION_PR1901.md
Due: terminal-output-policy, docs-quality, validate-metadata-standards

FEAT(merge-gate): add documented exception support for pre-existing issues
  docs/SONAR_SCOPE_DECISION_PR1901.md
  scripts/merge_gate_report.sh
Due: docs-quality, validate-metadata-standards

FIX(merge-gate): correct Terminal Policy check name
  scripts/merge_gate_report.sh
Due: none

DOCS(priority-matrix): document GPG signing status and v4 BWS/MCP solution
  docs/PRIORITY_MATRIX_GPG_STATUS.md
  docs/SONAR_SCOPE_DECISION_PR1901.md
Due: docs-quality, validate-metadata-standards

FEAT(merge-gate): enforce Systemic Failure Tracking SOP
  AGENTS.md
  docs/PRIORITY_MATRIX_GPG_STATUS.md
  docs/SONAR_SCOPE_DECISION_PR1901.md
  scripts/merge_gate_report.sh
  scripts/open_system_issue.sh
Due: docs-quality, validate-metadata-standards

DOCS(backlog): backlog amnesty playbook and guides
  BACKLOG_AMNESTY_1HR_SPRINT.md
  BACKLOG_AMNESTY_DECISION_TREE.md
  BACKLOG_AMNESTY_GREEN_LIGHT.md
  BACKLOG_AMNESTY_PLAYBOOK.md
  BACKLOG_AMNESTY_QUICKSTART.md
Due: docs-quality

DOCS(ci): Phase 3 Chapter 2 - DevOnboarder CI reconnaissance
  docs/ci/DEVONBOARDER_CI_RECON_2025-12-05.md
Due: docs-quality, validate-metadata-standards

DOCS(ci): complete Phase 3 Chapter 2 live verification
  docs/ci/DEVONBOARDER_CI_RECON_2025-12-05.md
Due: docs-quality, validate-metadata-standards

CI(merge-gate): align merge_gate_report.sh with branch protection reality (Workstream C.1)
  docs/ci/DEVONBOARDER_CI_RECON_2025-12-05.md
  scripts/merge_gate_report.sh
Due: docs-quality, validate-metadata-standards

FIX(merge-gate): handle path-filtered required checks correctly
  scripts/merge_gate_report.sh
Due: none

DOCS(ci-recon): fix Copilot-identified inconsistencies
  docs/ci/DEVONBOARDER_CI_RECON_2025-12-05.md
Due: docs-quality, validate-metadata-standards

DOCS(ci): Auto-fix 664 markdownlint violations (Phase 4 CI hygiene)
  AGENTS.md
  AGENT_MERGE_READINESS_BUG_FIX.md
  CI_DEBT_DEVONBOARDER.md
  CI_DEBT_PROJECT_LINKAGE_PLAN.md
  DEVONBOARDER_V3_COMPLETION_SUMMARY.md
  DEVONBOARDER_V3_V4_QC_STANDARDS.md
  POST_MERGE_1893_CHECKLIST.md
  PROCESS_BUG_FIX_STATUS.md
  PR_1893_FINAL_STATUS.md
  PR_1893_MERGE_VERIFICATION.md
  PR_1893_MERGE_VERIFICATION_UPDATED.md
  PR_1893_UNBLOCK_QUICK_ACTION.md
  PR_TRIAGE_BRIEF.md
  PR_TRIAGE_DEVONBOARDER_2025-12-03.md
  PR_TRIAGE_EXECUTION_PLAYBOOK.md
  READY_TO_EXECUTE.md
  TRIAGE_COMMAND_QUICK_REF.md
  docs/DOCKER_ENVIRONMENT_COMPATIBILITY.md
  docs/PRIORITY_MATRIX_GPG_STATUS.md
  docs/SONAR_SCOPE_DECISION_PR1901.md
  docs/ci/DEVONBOARDER_CI_RECON_2025-12-05.md
  docs/phases/phase5-advanced-orchestration.md
  docs/scripts/git-utilities.md
  docs/standards/quality-gate-protection-system.md
  docs/troubleshooting/DEPENDENCY_TROUBLESHOOTING_ENHANCEMENTS.md
Due: docs-quality, validate-metadata-standards

DOCS(ci): Document MD060 as honest debt, not hidden
  docs/ci/DEVONBOARDER_CI_RECON_2025-12-05.md
Due: docs-quality, validate-metadata-standards

DOCS(lint): Fix all MD040 violations (missing code fence languages)
  AGENT_MERGE_READINESS_BUG_FIX.md
  POST_MERGE_1893_CHECKLIST.md
  PR_1893_FINAL_STATUS.md
  PR_1893_MERGE_VERIFICATION.md
  docs/SONAR_SCOPE_DECISION_PR1901.md
  docs/ci/DEVONBOARDER_CI_RECON_2025-12-05.md
Due: docs-quality, validate-metadata-standards

DOCS(ci): Update markdownlint progress - 669 violations fixed
  docs/ci/DEVONBOARDER_CI_RECON_2025-12-05.md
Due: docs-quality, validate-metadata-standards

DOCS(ci): document DevOnboarder SHA pinning crisis discovery (171 refs)
  docs/ci/DEVONBOARDER_CI_RECON_2025-12-05.md
Due: docs-quality, validate-metadata-standards
