Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: terminal-output-policy, docs-quality, validate-agents, validate-metadata-standards, pytest, milestone-format-validation

terminal-output-policy:
  name: Terminal Output Policy Enforcement
  entry: scripts/validate_terminal_output_simple.sh
  language: script
  stages:
  - pre-commit
  always_run: false
  pass_filenames: false

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

milestone-format-validation:
  name: Milestone Format Validation
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_milestone_format.py milestones/ 2>&1 | tee logs/milestone_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false
  always_run: false
  stages:
  ...

FEAT(framework): implement Phase 3 core modules - extended metadata, YAML serialization, and governance policy engine
  src/framework/extended_metadata.py
  src/framework/governance_engine.py
  src/framework/metadata_yaml.py
Due: pytest

FIX(ci): implement No Default Token Policy compliance and resolve Copilot comments
  scripts/ci_gh_issue_wrapper.sh
  src/framework/governance_engine.py
  tests/test_discord_integration_coverage.py
Due: pytest

FEAT(framework): Add Framework Phase 3 coverage configuration and reporting
  config/.coveragerc.framework
  test-coverage.md
Due: docs-quality

DOCS(tests): Improve documentation for Discord-only account password handling
  tests/test_discord_integration_coverage.py
Due: pytest

FEAT(coverage): enhance service-specific coverage reporting
  scripts/post_coverage_comment.py
Due: none

STYLE(docs): apply markdownlint formatting compliance
  .codex/templates/pr-status-report.md
  .gitignore
  README.md
  docs/ONBOARDING.md
  docs/about-potato.md
  docs/checklists/retros/2025-07-22-roadmap-documentation.md
  docs/checklists/retrospective-template.md
  docs/ci-failure-analysis-guide.md
  docs/git/Git.md
  docs/testing/ci-health-framework-bot-poc.md
  docs/troubleshooting/GITHUB_SIGNATURE_VERIFICATION.md
  docs/troubleshooting/README.md
Due: docs-quality, validate-metadata-standards

FEAT(framework): implement QC anti-hang solution for Framework Phase 3
  frameworks/quality-assurance/quality-control/qc_pre_push.sh
Due: none

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  EXTENDED_METADATA_SCHEMA_IMPLEMENTATION.md
  FRAMEWORK_PHASE2_DOCUMENTATION_COMPLETE.md
  FRAMEWORK_PHASE3_SECURITY_VALIDATION_PLANNING.md
  INFRASTRUCTURE_WORK_TODO.md
  test-coverage.md
Due: docs-quality

FEAT(deps): implement GitHub Actions dependency validation system
  scripts/manage_github_actions_deps.py
Due: none

FEAT(actions): implement comprehensive GitHub Actions dependency management system
  .github/actions/setup-gh-cli/action.yml
  docs/custom-github-actions-framework.md
Due: docs-quality, validate-metadata-standards

FEAT(workflows): replace sersoft-gmbh/setup-gh-cli-action with custom implementation
  .github/workflows/ci-dashboard-generator.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/close-codex-issues.yml
  .github/workflows/dev-orchestrator.yml
  .github/workflows/env-doc-alignment.yml
  .github/workflows/notify.yml
  .github/workflows/prod-orchestrator.yml
  .github/workflows/review-known-errors.yml
  .github/workflows/secrets-alignment.yml
  .github/workflows/security-audit.yml
  .github/workflows/staging-orchestrator.yml
  frameworks/quality-assurance/quality-control/qc_pre_push.sh
  scripts/manage_github_actions_deps.py
Due: terminal-output-policy

FIX(ci): resolve git fetch issue, add security tooling, fix UTC timestamp compliance
  .github/workflows/ci.yml
  .gitignore
  CI_SECRETS_MISALIGNMENT_RESOLUTION.md
  GITHUB_ACTIONS_DEPENDENCY_MANAGEMENT_COMPLETION_SUMMARY.md
  GITHUB_ACTIONS_IMPLEMENTATION_ROADMAP.md
  ROOT_ARTIFACT_CLEANUP_COMPLETION.md
  scripts/manage_github_actions_deps.py
  scripts/security_scan.sh
  src/devonboarder/auth_service.py
Due: terminal-output-policy, docs-quality, pytest

FIX(ci): resolve undefined variable issue in auto-fix workflow
  .github/workflows/auto-fix.yml
Due: terminal-output-policy

FIX(ci): resolve empty workflow files causing GitHub Actions failures
  .github/workflows/compat-matrix.yml
  .github/workflows/docs-drift.yml
  .github/workflows/docs-release.yml
  .github/workflows/fts-bot.yml
Due: terminal-output-policy

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  CI_SECRETS_MISALIGNMENT_RESOLUTION.md
  GITHUB_ACTIONS_DEPENDENCY_MANAGEMENT_COMPLETION_SUMMARY.md
  GITHUB_ACTIONS_IMPLEMENTATION_ROADMAP.md
  ROOT_ARTIFACT_CLEANUP_COMPLETION.md
  docs/custom-github-actions-framework.md
Due: docs-quality, validate-metadata-standards

SECURITY(workflows): implement explicit permissions and Copilot suggestions
  .github/workflows/compat-matrix.yml
  .github/workflows/docs-drift.yml
  .github/workflows/docs-release.yml
  .github/workflows/fts-bot.yml
  .github/workflows/notify.yml
Due: terminal-output-policy

FEAT(security): implement Copilot contextual permissions analysis
  .github/workflows/compat-matrix.yml
  .github/workflows/docs-drift.yml
  .github/workflows/docs-release.yml
  .github/workflows/fts-bot.yml
Due: terminal-output-policy

FIX(workflows): correct YAML syntax in compat-matrix.yml
  .github/workflows/compat-matrix.yml
Due: terminal-output-policy

STYLE(workflows): standardize setup-gh-cli parameter order per Copilot
  .github/workflows/notify.yml
Due: terminal-output-policy

FIX(ci): GitHub Actions dependency management, security tooling, and auto-fix workflow bug fix (#1764)
  .github/actions/setup-gh-cli/action.yml
  .github/workflows/auto-fix.yml
  .github/workflows/ci-dashboard-generator.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/close-codex-issues.yml
  .github/workflows/compat-matrix.yml
  .github/workflows/dev-orchestrator.yml
  .github/workflows/docs-drift.yml
  .github/workflows/docs-release.yml
  .github/workflows/env-doc-alignment.yml
  .github/workflows/fts-bot.yml
  .github/workflows/notify.yml
  .github/workflows/prod-orchestrator.yml
  .github/workflows/review-known-errors.yml
  .github/workflows/secrets-alignment.yml
  .github/workflows/security-audit.yml
  .github/workflows/staging-orchestrator.yml
  .gitignore
  CI_SECRETS_MISALIGNMENT_RESOLUTION.md
  GITHUB_ACTIONS_DEPENDENCY_MANAGEMENT_COMPLETION_SUMMARY.md
  GITHUB_ACTIONS_IMPLEMENTATION_ROADMAP.md
  ROOT_ARTIFACT_CLEANUP_COMPLETION.md
  docs/custom-github-actions-framework.md
  frameworks/quality-assurance/quality-control/qc_pre_push.sh
  scripts/manage_github_actions_deps.py
  scripts/security_scan.sh
  src/devonboarder/auth_service.py
Due: terminal-output-policy, docs-quality, validate-metadata-standards, pytest

FEAT(ci): implement comprehensive GitHub Actions cache management system
  .github/workflows/cache-cleanup.yml
  scripts/analyze_cache_usage.sh
Due: terminal-output-policy

FIX(qc): implement GitHub Actions context detection for PR merges
  QC_VALIDATION_REMEDIATION_PLAN.md
  test_branch_logic.sh
  test_qc_fix.sh
Due: docs-quality

CHORE(docs): apply markdownlint formatting fixes
  coverage-summary.md
  frameworks/quality-assurance/quality-control/qc_pre_push.sh
  test_branch_logic.sh
  test_precommit.sh
  test_pytest_cleanup.sh
  test_qc_fix.sh
Due: docs-quality

FIX(qc): address Copilot review comments - extract helper function, enhance security, improve error handling
  frameworks/quality-assurance/quality-control/qc_pre_push.sh
  pyproject.toml
  scripts/manage_github_actions_deps.py
  src/devonboarder/auth_service.py
Due: pytest

FIX(qc): resolve 7 cascading workflow failures - GitHub Actions context detection (#1773)
  .github/workflows/cache-cleanup.yml
  QC_VALIDATION_REMEDIATION_PLAN.md
  coverage-summary.md
  frameworks/quality-assurance/quality-control/qc_pre_push.sh
  pyproject.toml
  scripts/analyze_cache_usage.sh
  scripts/manage_github_actions_deps.py
  src/devonboarder/auth_service.py
  test_precommit.sh
  test_pytest_cleanup.sh
Due: terminal-output-policy, docs-quality, pytest

FIX(actions): resolve GitHub CLI stable version handling
  .github/actions/setup-gh-cli/action.yml
Due: none

FEAT(aar-bot): implement standardized GPG key generation and framework integration
  .github/workflows/aar-automation.yml
  .github/workflows/aar-portal.yml
  .github/workflows/scan-proprietary-refs.yml
  .github/workflows/test-gpg-framework.yml
  AAR_BOT_STANDARDIZATION_COMPLETE.md
  WORKFLOW_FAILURE_DIAGNOSTIC_REPORT.md
  docs/architecture/framework-bot-strategy.md
  docs/guides/gpg-automation-development.md
  docs/guides/gpg-framework-setup.md
  scripts/generate_aar_bot_gpg_key.sh
Due: terminal-output-policy, docs-quality, validate-metadata-standards

SECURITY(workflow): Add explicit permissions to scan-proprietary-refs workflow
  .github/workflows/scan-proprietary-refs.yml
Due: terminal-output-policy

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  AAR_BOT_STANDARDIZATION_COMPLETE.md
  QC_VALIDATION_REMEDIATION_PLAN.md
  WORKFLOW_FAILURE_DIAGNOSTIC_REPORT.md
  coverage-summary.md
Due: docs-quality

FIX(actions): Resolve GitHub CLI stable version handling (#1778)
  .github/actions/setup-gh-cli/action.yml
  .github/workflows/aar-automation.yml
  .github/workflows/aar-portal.yml
  .github/workflows/scan-proprietary-refs.yml
  .github/workflows/test-gpg-framework.yml
  AAR_BOT_STANDARDIZATION_COMPLETE.md
  QC_VALIDATION_REMEDIATION_PLAN.md
  WORKFLOW_FAILURE_DIAGNOSTIC_REPORT.md
  coverage-summary.md
  docs/architecture/framework-bot-strategy.md
  docs/guides/gpg-automation-development.md
  docs/guides/gpg-framework-setup.md
  scripts/generate_aar_bot_gpg_key.sh
Due: terminal-output-policy, docs-quality, validate-metadata-standards

FEAT(aar-bot): implement standardized GPG key generation and framework integration
  .github/workflows/scan-proprietary-refs.yml
  AAR_BOT_STANDARDIZATION_COMPLETE.md
  WORKFLOW_FAILURE_DIAGNOSTIC_REPORT.md
Due: terminal-output-policy, docs-quality

FEAT(security): add external toolkit integration patterns
  .github/copilot-instructions.md
  .gitignore
  .vale/styles/TAGS/ProprietaryTerms.yml
  docs/agents/agent-requirements.md
  docs/agents/external-toolkit-integration.md
  scripts/test_toolkit_detection.sh
  scripts/tooling/detect_enhanced.sh
  scripts/verify_enhanced_capabilities.sh
Due: docs-quality, validate-metadata-standards

FIX(security): address Copilot review comments - improve error handling and security patterns
  docs/agents/external-toolkit-integration.md
  scripts/generate_aar_bot_gpg_key.sh
  scripts/tooling/detect_enhanced.sh
  scripts/verify_enhanced_capabilities.sh
Due: docs-quality, validate-metadata-standards

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  docs/agents/external-toolkit-integration.md
Due: docs-quality, validate-metadata-standards

FIX(agents): Add required metadata fields to external-toolkit-integration
  docs/agents/external-toolkit-integration.md
Due: docs-quality, validate-metadata-standards

FEAT(security): External Toolkit Integration with Security-Conscious Patterns (#1784)
  .github/copilot-instructions.md
  .github/workflows/scan-proprietary-refs.yml
  .gitignore
  .vale/styles/TAGS/ProprietaryTerms.yml
  AAR_BOT_STANDARDIZATION_COMPLETE.md
  WORKFLOW_FAILURE_DIAGNOSTIC_REPORT.md
  docs/agents/agent-requirements.md
  docs/agents/external-toolkit-integration.md
  scripts/generate_aar_bot_gpg_key.sh
  scripts/test_toolkit_detection.sh
  scripts/tooling/detect_enhanced.sh
  scripts/verify_enhanced_capabilities.sh
Due: terminal-output-policy, docs-quality, validate-metadata-standards

FIX(workflows): resolve authentication conflicts in cleanup and AAR workflows
  .github/actions/setup-gh-cli/action.yml
  .github/workflows/aar-automation.yml
  .github/workflows/aar-portal.yml
  .github/workflows/cleanup-ci-failure.yml
Due: terminal-output-policy

FIX(ci): resolve terminal output policy violations in PR Issue Automation
  .github/workflows/pr-issue-automation.yml
Due: terminal-output-policy

Path conditions:
  terminal-output-policy: any of: \.github/workflows/.*\.ya?ml$
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|pytest\.ini|pyproject\.toml).*$
  milestone-format-validation: any of: ^milestones/.*\.md$
