Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: terminal-output-policy, docs-quality, validate-agents, validate-metadata-standards, pytest, milestone-format-validation

Path conditions:
  terminal-output-policy: any of: \.github/workflows/.*\.ya?ml$
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|pytest\.ini|pyproject\.toml).*$
  milestone-format-validation: any of: ^milestones/.*\.md$

DOCS(lint): clear all non-MD060 markdownlint errors
  AGENTS.md
  docs/ci/DEVONBOARDER_CI_RECON_2025-12-05.md
Due: docs-quality, validate-metadata-standards

DOCS(product): add DevOnboarder product documentation foundation
  docs/product/GETTING_STARTED_NEW_DEV.md
  docs/product/WHY_DEVONBOARDER.md
Due: docs-quality, validate-metadata-standards

DOCS(readme): add navigation to product documentation
  README.md
Due: docs-quality

DOCS(ci): record DevOnboarder dependency debt for Phase 4
  .gitignore
  docs/ci/DEVONBOARDER_DEPENDENCY_DEBT_2025-12-08.md
Due: docs-quality, validate-metadata-standards

SECURITY(deps): bump glob to 10.5.0, fix frontend override constraint
  .github/actions/ci-toolkit/package-lock.json
  .gitignore
  bot/package-lock.json
  frontend/package-lock.json
  frontend/package.json
Due: none

CI(actions): pin GitHub Actions to commit SHAs (workflows + templates)
  .github/actions/ci-health-monitor/action.yml
  .github/workflow-templates/basic-ci.yml
  .github/workflow-templates/documentation.yml
  .github/workflow-templates/pr-automation.yml
  .github/workflow-templates/security.yml
  .github/workflows/aar-automation.yml
  .github/workflows/aar-generator.yml
  .github/workflows/aar-portal.yml
  .github/workflows/action-policy.yml
  .github/workflows/agent-instruction-validation.yml
  .github/workflows/auto-fix.yml
  .github/workflows/ci-dashboard-generator.yml
  .github/workflows/ci-failure-analyzer.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/code-review-bot.yml
  .github/workflows/documentation-quality.yml
  .github/workflows/milestone-validation.yml
  .github/workflows/no-verify-policy.yml
  .github/workflows/openapi-validate.yml
  .github/workflows/post-merge-cleanup.yml
  .github/workflows/potato-policy-focused.yml
  .github/workflows/pr-automation.yml
  .github/workflows/pr-gates.yml
  .github/workflows/pr-issue-automation.yml
  .github/workflows/pr-merge-cleanup.yml
  .github/workflows/priority-matrix-synthesis.yml
  .github/workflows/quality-gate-health.yml
  .github/workflows/root-artifact-monitor.yml
  .github/workflows/security-audit.yml
  .github/workflows/terminal-policy-enforcement.yml
  .github/workflows/test-ci-health-framework-bot.yml
  .github/workflows/test-gpg-framework.yml
  .github/workflows/troubleshooting-harvest.yml
  tools/ci_action_policy.py
  tools/ci_action_policy.yaml
  tools/pin_action_uses.py
Due: terminal-output-policy

CI(actions): import markdownlint/yamllint workflows with SHA pins
  .github/workflows/markdownlint.yml
  .github/workflows/validate-permissions.yml
  tools/ci_action_policy.yaml
Due: terminal-output-policy

FIX(ci): unquote yamllint glob pattern for shell expansion
  .github/workflows/validate-permissions.yml
Due: terminal-output-policy

FIX(ci): use find instead of glob for yamllint file discovery
  .github/workflows/validate-permissions.yml
Due: terminal-output-policy

FIX(ci-governance): Remove ibiqlik action and pin remaining @v refs
  .github/workflows/audit-retro-actions.yml
  .github/workflows/auto-fix.yml
  .github/workflows/branch-cleanup.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/ci-sanity.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/close-codex-issues.yml
  .github/workflows/dev-orchestrator.yml
  .github/workflows/docs-quality.yml
  .github/workflows/env-doc-alignment.yml
  .github/workflows/notify.yml
  .github/workflows/openapi-validate.yml
  .github/workflows/post-merge-cleanup.yml
  .github/workflows/pr-ci-analysis.yml
  .github/workflows/prod-orchestrator.yml
  .github/workflows/review-known-errors.yml
  .github/workflows/scan-proprietary-refs.yml
  .github/workflows/secrets-alignment.yml
  .github/workflows/security-audit.yml
  .github/workflows/staging-orchestrator.yml
  docker-compose.local.yaml
  docs/CI_BREACH_ISSUE_2025-12.md
Due: terminal-output-policy, docs-quality, validate-metadata-standards

INFRA(drift): SHA-pin markdownlint-cli2 to v0.20.0
  .pre-commit-config.yaml
Due: none

SECURITY(scanner): add filesystem scanner audit and repo-root anchoring
  .github/workflows/scanner-audit.yml
  scripts/audit_filesystem_scanners.sh
  scripts/safe_commit.sh
Due: terminal-output-policy

DOCS(governance): pilot Phase Governance System for Service Integration
  .tgs/PROJECT_MANIFEST.json
  .tgs/phase.lock.json
  docs/phases/DEVONBOARDER_PHASE_001_PLAN.md
  docs/triage/SERVICE_INTEGRATION_TRIAGE.md
Due: docs-quality, validate-metadata-standards

PILOT: Phase Governance System - Service Integration (#1933)
  .tgs/PROJECT_MANIFEST.json
  .tgs/phase.lock.json
  docs/ci/DEVONBOARDER_CI_RECON_2025-12-05.md
  docs/phases/DEVONBOARDER_PHASE_001_PLAN.md
  docs/triage/SERVICE_INTEGRATION_TRIAGE.md
Due: docs-quality, validate-metadata-standards

FIX(ci): required checks always run on PRs with noop for docs-only
  .github/workflows/actions-policy-enforcement.yml
  .github/workflows/devonboarder-qc.yml
Due: terminal-output-policy

FIX(ci): required checks always run on PRs with noop for docs-only (#1934)
  .github/workflows/actions-policy-enforcement.yml
  .github/workflows/devonboarder-qc.yml
Due: terminal-output-policy

FEAT(ci): add two-lane CI pattern workflow
  .github/workflows/two-lane-ci.yml
Due: terminal-output-policy

SECURITY(ci): add explicit fork PR detection and security comments
  .github/workflows/two-lane-ci.yml
Due: terminal-output-policy

FEAT(governance): CI is source of truth, pre-commit optional
  .github/workflows/ci-lite-two-lane.yml
  CONTRIBUTING.md
  docs/governance/COMPATIBILITY.md
Due: terminal-output-policy, docs-quality, validate-metadata-standards

FIX(ci): resolve CI policy debt across workflows
  .github/workflows/actions-policy-enforcement.yml
  .github/workflows/auto-fix.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/close-codex-issues.yml
  .github/workflows/env-doc-alignment.yml
  .github/workflows/notify.yml
  .github/workflows/secrets-alignment.yml
  .github/workflows/security-audit.yml
  .github/workflows/validate-permissions.yml
Due: terminal-output-policy

FIX(ci): resolve CI failures and review thread concerns
  .github/workflows/ci-lite-two-lane.yml
  .github/workflows/devonboarder-qc.yml
  .github/workflows/security-audit.yml
  .github/workflows/validate-permissions.yml
  docs/governance/COMPATIBILITY.md
Due: terminal-output-policy, docs-quality, validate-metadata-standards

FIX(ci): use MERGEABLE and MERGE_STATE variables in report
  scripts/merge_gate_report.sh
Due: none

FIX(ci): enable persist-credentials for fetch-depth: 0
  .github/workflows/priority-matrix-synthesis.yml
Due: terminal-output-policy

FIX(ci): upgrade markdownlint-cli2 to v0.20.0 + auto-fix markdown
  .github/workflows/markdownlint.yml
  .pre-commit-config.yaml
  AGENTS.md
  AGENT_MERGE_READINESS_BUG_FIX.md
  CI_DEBT_DEVONBOARDER.md
  CI_DEBT_PROJECT_LINKAGE_PLAN.md
  DEVONBOARDER_V3_COMPLETION_SUMMARY.md
  DEVONBOARDER_V3_V4_QC_STANDARDS.md
  POST_MERGE_1893_CHECKLIST.md
  PROCESS_BUG_FIX_STATUS.md
  PR_1893_FINAL_STATUS.md
  PR_1893_MERGE_VERIFICATION.md
  PR_1893_MERGE_VERIFICATION_UPDATED.md
  PR_1893_UNBLOCK_QUICK_ACTION.md
  PR_TRIAGE_BRIEF.md
  PR_TRIAGE_DEVONBOARDER_2025-12-03.md
  PR_TRIAGE_EXECUTION_PLAYBOOK.md
  READY_TO_EXECUTE.md
  TRIAGE_COMMAND_QUICK_REF.md
  docs/DOCKER_ENVIRONMENT_COMPATIBILITY.md
  docs/PRIORITY_MATRIX_GPG_STATUS.md
  docs/SONAR_SCOPE_DECISION_PR1901.md
  docs/ci/DEVONBOARDER_CI_RECON_2025-12-05.md
  docs/governance/COMPATIBILITY.md
  docs/phases/DEVONBOARDER_PHASE_001_PLAN.md
  docs/phases/phase5-advanced-orchestration.md
  docs/scripts/git-utilities.md
  docs/standards/quality-gate-protection-system.md
  docs/triage/SERVICE_INTEGRATION_TRIAGE.md
  docs/troubleshooting/DEPENDENCY_TROUBLESHOOTING_ENHANCEMENTS.md
Due: terminal-output-policy, docs-quality, validate-metadata-standards

FIX(lint): disable MD060 table-column-style rule
  .markdownlint.json
Due: none

FIX(lint): resolve remaining 16 markdownlint errors
  AGENTS.md
  AGENT_MERGE_READINESS_BUG_FIX.md
  POST_MERGE_1893_CHECKLIST.md
  PR_1893_FINAL_STATUS.md
  PR_1893_MERGE_VERIFICATION.md
  docs/SONAR_SCOPE_DECISION_PR1901.md
  docs/ci/DEVONBOARDER_CI_RECON_2025-12-05.md
  docs/governance/COMPATIBILITY.md
  docs/phases/DEVONBOARDER_PHASE_001_PLAN.md
Due: docs-quality, validate-metadata-standards

FIX(format): apply Black 26.1.0 formatting to match CI
  scripts/audit_token_usage.py
  scripts/ci_failure_diagnoser.py
  scripts/known_errors_loop.py
  scripts/list-bots.py
  scripts/list_open_ci_issues.py
  scripts/parse_retro_actions.py
  scripts/process_notifications.py
  scripts/sync-issue-to-kekb.py
  scripts/update_coverage_badge.py
  scripts/update_devonboarder_dictionary.py
  scripts/verify_versions.py
  src/devonboarder/diagnostics.py
  src/utils/discord.py
  tests/test_dashboard_service.py
Due: pytest

FIX(test): accept 401 or 403 for auth failure in test_contribute_endpoint_auth_required
  tests/test_xp_api.py
Due: pytest

FIX(ci): SHA-pin tags-workflows@v1.0.0 for Actions Policy compliance
  .github/workflows/ci-lite-two-lane.yml
Due: terminal-output-policy

FIX(policy): allowlist theangrygamershowproductions for same-org reusable workflows
  .github/workflows/actions-policy-enforcement.yml
Due: terminal-output-policy

FIX(review): address Copilot PR reviewer feedback
  .github/workflows/ci-lite-two-lane.yml
  docs/governance/COMPATIBILITY.md
Due: terminal-output-policy, docs-quality, validate-metadata-standards

INFRA(ci): switch to tags-workflows@v1.0.0 as CI source of truth (#1944)
  .github/workflows/actions-policy-enforcement.yml
  .github/workflows/ci-lite-two-lane.yml
  CONTRIBUTING.md
  docs/governance/COMPATIBILITY.md
Due: terminal-output-policy, docs-quality, validate-metadata-standards

FIX(ci): fix yamllint glob pattern in 11 workflows
  .github/workflows/auto-fix.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/close-codex-issues.yml
  .github/workflows/env-doc-alignment.yml
  .github/workflows/notify.yml
  .github/workflows/secrets-alignment.yml
  .github/workflows/security-audit.yml
  .github/workflows/validate-permissions.yml
Due: terminal-output-policy

FIX(ci): fix yamllint glob pattern in 11 workflows (#1946)
  .github/workflows/auto-fix.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/close-codex-issues.yml
  .github/workflows/env-doc-alignment.yml
  .github/workflows/notify.yml
  .github/workflows/secrets-alignment.yml
  .github/workflows/security-audit.yml
  .github/workflows/validate-permissions.yml
Due: terminal-output-policy

CHORE(ci): harden actions policy enforcement
  .github/workflows/actions-policy-enforcement.yml
  .github/workflows/auto-fix.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/close-codex-issues.yml
  .github/workflows/env-doc-alignment.yml
  .github/workflows/notify.yml
  .github/workflows/secrets-alignment.yml
  .github/workflows/security-audit.yml
  .github/workflows/validate-permissions.yml
Due: terminal-output-policy

CHORE(ci): pin tags-workflows refs
  .github/workflows/ci-lite-two-lane.yml
Due: terminal-output-policy

CHORE(ci): resolve ci-lite conflict
  .github/workflows/ci-lite-two-lane.yml
Due: terminal-output-policy
