Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$

DOCS(git): upper-case commit type in example
  docs/git/Git.md
Due: docs-quality, validate-metadata-standards

FEAT(scripts): add comprehensive git utilities with pre-commit log review and proper branching
  COMMIT_HELP.md
  docs/scripts/git-utilities.md
  scripts/README.md
  scripts/commit_changes.sh
  scripts/commit_message_guide.sh
  scripts/git_commit_utils.sh
  scripts/quick_branch_cleanup.sh
  scripts/simple_sync.sh
  scripts/sync_with_remote.sh
Due: docs-quality, validate-metadata-standards

DOCS(changelog): note incorrect commit message in 8270ca8
  docs/CHANGELOG.md
Due: docs-quality, validate-metadata-standards

DOCS(validation): update agent validation references
  .github/copilot-instructions.md
  docs/core-metadata-standards.md
Due: docs-quality, validate-metadata-standards

DOCS(node): update guides for Node.js 22
  SECURITY.md
  docs/CHANGELOG.md
  docs/ci-workflow.md
  docs/network-exception-list.md
  docs/network-troubleshooting.md
  docs/ubuntu-setup.md
Due: docs-quality, validate-metadata-standards

DOCS(ci): allow no-ci prefix in commit hook
  docs/ci-workflow.md
  docs/git-guidelines.md
  scripts/check_commit_messages.sh
  scripts/commit-msg
Due: docs-quality, validate-metadata-standards

FIX(ci): comment PR checklist via gh pr comment
  docs/CHANGELOG.md
  scripts/validate_pr_checklist.sh
  tests/test_validate_pr_checklist.py
Due: docs-quality, validate-metadata-standards, pytest

FEAT(automation): implement comprehensive AAR system with enhanced test artifact management
  .aar/2025/Q3/automation/automation-enhancement-2025-07-30.md
  .aar/2025/Q3/incidents/incident-2025-07-30.md
  .aar/2025/Q3/issues/issue-Discord Bot Authentication Enhancement-issue-discord-bot-authentication-enhancement.md
  .aar/2025/Q3/sprints/sprint-2025-07-30.md
  .aar/index.md
  .aar/templates/issue-aar-template.md
  .github/workflows/aar-automation.yml
  codex_response_to_scope_alignment.md
  coverage.svg
  docs/standards/after-actions-report-process.md
  scripts/generate_aar.sh
  scripts/manage_test_artifacts.sh
  simple_sync.sh
Due: docs-quality, validate-metadata-standards

CHORE(ci): update coverage badge
  coverage.svg
Due: none

DOCS(labeling): add comprehensive issue labeling system documentation
  CONTRIBUTING.md
  coverage.svg
  docs/README.md
  docs/contributing/issue-labeling-guide.md
  docs/contributing/labels-quick-reference.md
Due: docs-quality, validate-metadata-standards

DOCS(instructions): add terminal output best practices to prevent hanging
  .github/copilot-instructions.md
Due: docs-quality

DOCS(instructions): enforce terminal output standards to prevent hanging
  .github/copilot-instructions.md
Due: docs-quality
