Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

DOCS(dai): implement comprehensive Documentation as Infrastructure foundation with policy access tools and agent context loading system
  PHASE_INDEX.md
  docs/agent-context-loading-strategy.md
  docs/troubleshooting/DOCUMENTATION_AS_INFRASTRUCTURE_IMPLEMENTATION_GUIDELINES.md
  docs/troubleshooting/POLICY_QUICK_ACCESS_GUIDE.md
  docs/troubleshooting/README.md
  scripts/agent_context_loader.sh
  scripts/devonboarder_policy_check.sh
Due: docs-quality, validate-metadata-standards

FIX(scripts): fix bash syntax in policy script and add efficient PR inline comments checker
  scripts/check_pr_inline_comments.sh
  scripts/devonboarder_policy_check.sh
Due: none

DOCS(pr-tools): Complete PR inline comments tool documentation integration
  .github/copilot-instructions.md
  docs/tools-dashboard.md
  docs/troubleshooting/PR_INLINE_COMMENTS_WORKFLOW.md
  scripts/README.md
Due: docs-quality, validate-metadata-standards

FEAT(pr-tools): Implement resolution annotation system for PR inline comments
  .devonboarder/pr_resolutions/1330.yaml
  docs/tools-dashboard.md
  docs/troubleshooting/PR_INLINE_COMMENTS_WORKFLOW.md
  scripts/README.md
  scripts/check_pr_inline_comments.sh
Due: docs-quality, validate-metadata-standards

DOCS(dai): Implement comprehensive Documentation as Infrastructure foundation (#1330)
  .devonboarder/pr_resolutions/1330.yaml
  .github/copilot-instructions.md
  PHASE_INDEX.md
  docs/agent-context-loading-strategy.md
  docs/tools-dashboard.md
  docs/troubleshooting/DOCUMENTATION_AS_INFRASTRUCTURE_IMPLEMENTATION_GUIDELINES.md
  docs/troubleshooting/POLICY_QUICK_ACCESS_GUIDE.md
  docs/troubleshooting/PR_INLINE_COMMENTS_WORKFLOW.md
  docs/troubleshooting/README.md
  scripts/README.md
  scripts/agent_context_loader.sh
  scripts/check_pr_inline_comments.sh
  scripts/devonboarder_policy_check.sh
  scripts/manage_ci_failure_issues.sh
Due: docs-quality, validate-metadata-standards

DOCS(milestone): document DaI implementation as transformational milestone
  milestones/2025-09/2025-09-10-enhancement-documentation-as-infrastructure-foundation.md
Due: docs-quality

DOCS(milestone): Replace placeholder metrics with actual DaI performance data
  milestones/2025-09/2025-09-10-enhancement-documentation-as-infrastructure-foundation.md
Due: docs-quality

DOCS(milestone): Document DaI implementation as transformational milestone (#1334)
  milestones/2025-09/2025-09-10-enhancement-documentation-as-infrastructure-foundation.md
Due: docs-quality

DOCS(handoff): Update session handoff to reflect DaI completion and strategic foundation priorities
  SESSION_HANDOFF.md
Due: docs-quality

FIX(docs): correct mathematical accuracy in SESSION_HANDOFF.md metrics
  SESSION_HANDOFF.md
Due: docs-quality

DOCS(handoff): Update session handoff to reflect DaI completion and strategic priorities (#1337)
  SESSION_HANDOFF.md
Due: docs-quality

FEAT(infrastructure): add comprehensive automation scaffolding foundation
  .github/ISSUE_TEMPLATE/docs-drift.yml
  .github/ISSUE_TEMPLATE/fts-failure.yml
  .github/labels.json
  .github/workflows/compat-matrix.yml
  .github/workflows/docs-drift.yml
  .github/workflows/docs-release.yml
  .github/workflows/fts-bot.yml
  .github/workflows/potato-policy.yml
  .github/workflows/troubleshooting-harvest.yml
  docs/@v1.0.0/README.md
  docs/DAI_IMPLEMENTATION_PLAN.md
  docs/DAI_IMPLEMENTATION_STATUS.md
  docs/PHASE1_STATUS_CRITICAL.md
  docs/PHASE_DAI_DOCUMENTATION_AS_INFRASTRUCTURE.md
  docs/TROUBLESHOOTING.md
  docs/compatibility.md
  docs/sessions/2025-09-10-milestone-validation-and-ci-fixes-complete.md
  docs/troubleshooting/CI_ISSUE_AUTOMATION_TOKEN_FAILURES.md
  docs/troubleshooting/MILESTONE_VALIDATION_TROUBLESHOOTING.md
  docs/troubleshooting/POST_MERGE_CLEANUP_EXIT_CODES.md
  scripts/fts_run.sh
Due: docs-quality, validate-metadata-standards

DOCS(readme): fix Phase 1 status from Active to Complete - resolves #1341
  README.md
Due: docs-quality

FEAT(infrastructure): add comprehensive automation scaffolding foundation (#1339)
  .github/ISSUE_TEMPLATE/docs-drift.yml
  .github/ISSUE_TEMPLATE/fts-failure.yml
  .github/labels.json
  .github/workflows/compat-matrix.yml
  .github/workflows/docs-drift.yml
  .github/workflows/docs-release.yml
  .github/workflows/fts-bot.yml
  .github/workflows/potato-policy.yml
  .github/workflows/troubleshooting-harvest.yml
  docs/@v1.0.0/README.md
  docs/DAI_IMPLEMENTATION_PLAN.md
  docs/DAI_IMPLEMENTATION_STATUS.md
  docs/PHASE1_STATUS_CRITICAL.md
  docs/PHASE_DAI_DOCUMENTATION_AS_INFRASTRUCTURE.md
  docs/TROUBLESHOOTING.md
  docs/compatibility.md
  docs/sessions/2025-09-10-milestone-validation-and-ci-fixes-complete.md
  docs/troubleshooting/CI_ISSUE_AUTOMATION_TOKEN_FAILURES.md
  docs/troubleshooting/MILESTONE_VALIDATION_TROUBLESHOOTING.md
  docs/troubleshooting/POST_MERGE_CLEANUP_EXIT_CODES.md
  scripts/fts_run.sh
Due: docs-quality, validate-metadata-standards

FIX(ci): enhance post-merge cleanup with better error handling for already-closed issues
  docs/troubleshooting/POST_MERGE_CLEANUP_EXIT_CODES.md
  scripts/manage_ci_failure_issues.sh
Due: docs-quality, validate-metadata-standards

FEAT(validation): add documentation accuracy validation script with GitHub API integration
  scripts/validate_documentation_accuracy.sh
Due: none

REFACTOR(validation): address inline review comments - extract hardcoded values and improve maintainability
  docs/troubleshooting/CI_ISSUE_AUTOMATION_TOKEN_FAILURES.md
  scripts/validate_documentation_accuracy.sh
Due: docs-quality, validate-metadata-standards

FIX(scripts): handle already-closed issues in post-merge cleanup script
  scripts/manage_ci_failure_issues.sh
Due: none

DOCS(analysis): comprehensive PR automation issue analysis and resolution summary
  COMPREHENSIVE_PR_AUTOMATION_ISSUE_ANALYSIS.md
Due: docs-quality

FIX(validation): address inline review comments for maintainability
  scripts/validate_documentation_accuracy.sh
Due: none

FIX(validation): replace hardcoded project numbers with README_PROJECT_CONFIG array
  scripts/validate_documentation_accuracy.sh
Due: none

FEAT(validation): add documentation accuracy validation script with GitHub API integration (#1346)
  docs/troubleshooting/CI_ISSUE_AUTOMATION_TOKEN_FAILURES.md
  scripts/validate_documentation_accuracy.sh
Due: docs-quality, validate-metadata-standards

DOCS(handoff): update session handoff to reflect PR #1346 successful merge and code quality achievements
  SESSION_HANDOFF.md
Due: docs-quality

FIX(docs): correct relative paths in troubleshooting documentation
  docs/troubleshooting/POST_MERGE_CLEANUP_EXIT_CODES.md
Due: docs-quality, validate-metadata-standards

REFACTOR(ci): improve logic flow in issue state checking
  scripts/manage_ci_failure_issues.sh
Due: none

FIX(ci): enhance post-merge cleanup with better error handling for already-closed issues (#1345)
  COMPREHENSIVE_PR_AUTOMATION_ISSUE_ANALYSIS.md
  docs/troubleshooting/POST_MERGE_CLEANUP_EXIT_CODES.md
  scripts/manage_ci_failure_issues.sh
Due: docs-quality, validate-metadata-standards

DOCS(update): reflect PR #1345 successful merge in session handoff
  SESSION_HANDOFF.md
Due: docs-quality

DOCS(handoff): update session handoff to reflect PR #1346 successful merge and code quality achievements (#1353)
  SESSION_HANDOFF.md
Due: docs-quality

DOCS(aar): update AAR portal
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
Due: none

SECURITY(deps): resolve 4 dependabot alerts - AJV, TMP, VITE vulnerabilities
  docs/security-audit-2025-09-11.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: docs-quality, validate-metadata-standards

DOCS(security): add npm pollution prevention standards
  docs/NPM_SECURITY_QUICK_REFERENCE.md
  docs/security/README.md
  docs/security/npm-security-standards.md
Due: docs-quality, validate-metadata-standards

FIX(security): address Copilot inline comments on tmp dependency
  frontend/package-lock.json
  frontend/package.json
Due: none

DOCS(security): clarify tmp vulnerability resolution method
  docs/security-audit-2025-09-11.md
Due: docs-quality, validate-metadata-standards

CHORE(security): update package-lock after tmp dependency fix
  package-lock.json
Due: none

DOCS(security): address Copilot comment on tmp resolution approach
  docs/security-audit-2025-09-11.md
Due: docs-quality, validate-metadata-standards

FIX(ci): remove root package.json causing CI artifact pollution
  package-lock.json
  package.json
Due: none

SECURITY: Resolve 4 Dependabot alerts - AJV, TMP, VITE vulnerabilities (#1361)
  docs/NPM_SECURITY_QUICK_REFERENCE.md
  docs/security-audit-2025-09-11.md
  docs/security/README.md
  docs/security/npm-security-standards.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Due: docs-quality, validate-metadata-standards

SECURITY: Add explicit workflow permissions to openapi-validate (#1281)
  .github/workflows/openapi-validate.yml
  .github/workflows/potato-policy-focused.yml
  .github/workflows/potato-policy.yml
  .github/workflows/pr-issue-automation.yml
  SESSION_HANDOFF.md
  agents/permissions.yml
  codex/tasks/completed/terminal-output-cleanup-phases.md
  frontend/src/components/PublicLandingPage.test.tsx
  frontend/vite.config.ts
Due: docs-quality

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$
