Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: terminal-output-policy, docs-quality, validate-agents, validate-metadata-standards, pytest, milestone-format-validation

terminal-output-policy:
  name: Terminal Output Policy Enforcement
  entry: scripts/validate_terminal_output_simple.sh
  language: script
  stages:
  - pre-commit
  always_run: false
  pass_filenames: false

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

milestone-format-validation:
  name: Milestone Format Validation
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_milestone_format.py milestones/ 2>&1 | tee logs/milestone_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false
  always_run: false
  stages:
  ...

FEAT(ci): implement GPG-signed Priority Matrix Bot commits
  .github/scripts/setup-gpg-signing.sh
  .github/workflows/priority-matrix-synthesis.yml
  docs/PRIORITY_MATRIX_BOT_SETUP.md
Due: terminal-output-policy, docs-quality, validate-metadata-standards

FEAT(priority-matrix): implement SSH commit signing for bot verification
  .github/workflows/priority-matrix-synthesis.yml
  docs/PRIORITY_MATRIX_BOT_SSH_SETUP.md
  scripts/generate_bot_ssh_key.sh
Due: terminal-output-policy, docs-quality, validate-metadata-standards

TEST(priority-matrix): trigger SSH signing test with configured secrets
  docs/PRIORITY_MATRIX_BOT_SSH_SETUP.md
Due: docs-quality, validate-metadata-standards

FIX(priority-matrix): use vars context for repository variables
  .github/workflows/priority-matrix-synthesis.yml
Due: terminal-output-policy

DOCS(priority-matrix): clarify secrets vs variables configuration
  docs/PRIORITY_MATRIX_BOT_SSH_SETUP.md
Due: docs-quality, validate-metadata-standards

DOCS(priority-matrix): update status to reflect testing phase
  docs/PRIORITY_MATRIX_BOT_SSH_SETUP.md
Due: docs-quality, validate-metadata-standards

FIX(priority-matrix): correct script filename to synthesize_priority_matrix.py
  .github/workflows/priority-matrix-synthesis.yml
Due: terminal-output-policy

FIX(priority-matrix): correct script usage for synthesize_priority_matrix.py
  .github/workflows/priority-matrix-synthesis.yml
Due: terminal-output-policy

FIX(ci): replace GPG with SSH signing and fix dependency order
  .github/workflows/priority-matrix-synthesis.yml
  .gitignore
  docs/PRIORITY_MATRIX_BOT_SSH_SETUP.md
Due: terminal-output-policy, docs-quality, validate-metadata-standards

DOCS(aar): update AAR portal
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
Due: none

FIX(ci): implement recommended SSH signing approach
  .github/workflows/priority-matrix-synthesis.yml
Due: terminal-output-policy

FIX(ci): remove terminal policy violations in SSH debug
  .github/workflows/priority-matrix-synthesis.yml
Due: terminal-output-policy

DOCS(instructions): update copilot instructions with current GPG signing context
  .github/scripts/setup-gpg-signing.sh
Due: none

FEAT(scripts): add persistent GPG key generation and verification for Priority Matrix Bot
  fix_gpg_key_instructions.md
  scripts/generate_persistent_gpg_keys.sh
  scripts/verify_gpg_keys.sh
Due: docs-quality

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  docs/PRIORITY_MATRIX_BOT_SETUP.md
  fix_gpg_key_instructions.md
Due: docs-quality, validate-metadata-standards

TEST(ci): trigger Priority Matrix workflow with updated GitHub Secret
  fix_gpg_key_instructions.md
Due: docs-quality

FIX(ci): restore newline in SSH key printf to fix line count validation
  .github/workflows/priority-matrix-synthesis.yml
Due: terminal-output-policy

FIX(ci): resolve SSH key corruption with base64 encoding approach
  .github/workflows/priority-matrix-synthesis.yml
  fix_gpg_key_instructions.md
  scripts/debug_ssh_secret_content.sh
  scripts/test_ssh_secret_formats.sh
Due: terminal-output-policy, docs-quality

DOCS(ssh-verification): update status after GitHub Secret updates
  fix_ssh_signature_verification.md
Due: docs-quality

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  fix_ssh_signature_verification.md
Due: docs-quality

FEAT(scripts): add SSH secret troubleshooting tools and test Environment Secrets
  fix_gpg_key_instructions.md
  scripts/fix_github_ssh_secret.sh
Due: docs-quality

DOCS(instructions): sync copilot instructions with latest GPG signing implementation
  .github/copilot-instructions.md
Due: docs-quality

FEAT(ssh-verification): implement SSH signature verification for Priority Matrix Bot
  .gitsigners
  fix_ssh_signature_verification.md
  scripts/configure_ssh_signature_verification.sh
  scripts/extract_github_ssh_public_key.sh
  scripts/update_github_ssh_secret.sh
Due: docs-quality

DOCS(ssh-verification): confirm SSH signature verification working with commit 49cc1905
  fix_ssh_signature_verification.md
Due: docs-quality

FIX(ci): comply with Terminal Output Policy in Priority Matrix workflow
  .github/workflows/priority-matrix-synthesis.yml
  fix_gpg_key_instructions.md
  scripts/test_ssh_secret_formats.sh
Due: terminal-output-policy, docs-quality

FEAT(automation): fix markdown compliance violations in script generation
  scripts/automate_pr_process.sh
  scripts/clean_markdown_compliance_violations.sh
  scripts/fix_markdown_compliance_automation.sh
  scripts/generate_aar.sh
  scripts/validate_markdown_compliance.sh
Due: none

DOCS(automation): add markdown compliance automation documentation
  docs/workflows/markdown-compliance-automation.md
Due: docs-quality, validate-metadata-standards

FIX(automation): resolve Copilot review comments for markdown compliance scripts
  scripts/clean_markdown_compliance_violations.sh
  scripts/validate_markdown_compliance.sh
Due: none

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  docs/workflows/markdown-compliance-automation.md
Due: docs-quality, validate-metadata-standards

FIX(schema): add missing required field and restore YAML readability
  docs/frameworks/strategic-planning/framework-governance.md
  schema/agent-schema.json
Due: docs-quality, validate-metadata-standards

FIX(scripts): address Copilot review comments in issue closure generator
  scripts/generate_issue_closure_comment.sh
Due: none

REFACTOR(scripts): replace 28 positional args with JSON config approach
  scripts/generate_issue_closure_comment.sh
Due: none

FEAT(issue-management): implement Issue Closure Template System for standardized closures
  docs/workflows/issue-closure-template-system.md
  scripts/ci_gh_issue_wrapper.sh
  scripts/generate_issue_closure_comment.sh
  templates/issue-closure/bug-fix.md
  templates/issue-closure/ci-failure-fix.md
  templates/issue-closure/feature-completion.md
  templates/issue-closure/pr-completion.md
Due: docs-quality, validate-metadata-standards

DOCS(workflows): add Priority Matrix Bot frontmatter to issue closure template system documentation
  docs/workflows/issue-closure-template-system.md
Due: docs-quality, validate-metadata-standards

DOCS(workflows): fix formatting in Priority Matrix Bot frontmatter
  docs/workflows/issue-closure-template-system.md
Due: docs-quality, validate-metadata-standards

FIX(ci): add GitHub CLI authentication to PR Issue Automation workflow
  .github/workflows/pr-issue-automation.yml
Due: terminal-output-policy

REFACTOR(scripts): remove unused variables addressing Copilot maintenance feedback
  scripts/generate_issue_closure_comment.sh
Due: none

FIX(scripts): resolve ROOT_CAUSE variable naming conflict addressing Copilot feedback
  scripts/generate_issue_closure_comment.sh
  templates/issue-closure/ci-failure-fix.md
Due: docs-quality

Path conditions:
  terminal-output-policy: any of: \.github/workflows/.*\.ya?ml$
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|pytest\.ini|pyproject\.toml).*$
  milestone-format-validation: any of: ^milestones/.*\.md$
