Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: terminal-output-policy, docs-quality, validate-agents, validate-metadata-standards, pytest, milestone-format-validation

terminal-output-policy:
  name: Terminal Output Policy Enforcement
  entry: scripts/validate_terminal_output_simple.sh
  language: script
  stages:
  - pre-commit
  always_run: false
  pass_filenames: false

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

milestone-format-validation:
  name: Milestone Format Validation
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_milestone_format.py milestones/ 2>&1 | tee logs/milestone_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false
  always_run: false
  stages:
  ...

FIX(ci): correct auth service coverage config to exclude unrelated files
  config/.coveragerc.auth
Due: none

FIX(auth): add bcrypt__truncate_error=True to prevent password length errors
  src/devonboarder/auth_service.py
Due: pytest

TEST(auth): add test for bcrypt password truncation
  src/devonboarder/auth_service.py
  tests/test_auth_service.py
Due: pytest

FIX(auth): add bcrypt 5.0.0 compatibility patch for password truncation
  src/devonboarder/auth_service.py
Due: pytest

FIX(ci): add commit message format validation to safe_commit.sh
  scripts/safe_commit.sh
Due: none

FIX(ci): resolve root pollution by allowing .github/actions node_modules and removing redundant root package.json
  package-lock.json
  package.json
  scripts/enforce_output_location.sh
Due: none

FIX(ci): make security audit non-blocking to prevent CI failures from pip-audit
  scripts/security_audit.sh
Due: none

FEAT(commit): enhance safe commit wrapper with comprehensive error prevention patterns
  scripts/safe_commit.sh
Due: none

DOCS(instructions): update copilot instructions with enhanced safe commit wrapper capabilities
  .github/copilot-instructions.md
Due: docs-quality

STYLE(commit): address inline review comments for safe commit wrapper
  config/.coveragerc.auth
  scripts/safe_commit.sh
Due: none

Update Header.tsx
  frontend/src/components/Header.tsx
Due: none

FEAT(commit): enhance safe commit wrapper with comprehensive error prevention patterns (#1690)
  .github/copilot-instructions.md
  config/.coveragerc.auth
  scripts/safe_commit.sh
Due: docs-quality

FEAT(framework): implement Framework Organization Initiative with Security Validation framework
  frameworks/quality-assurance/quality-control/qc_pre_push.sh
  frameworks/security-validation/README.md
  frameworks/security-validation/VERSION
  frameworks/security-validation/access-control/check-bot-permissions.sh
  frameworks/security-validation/access-control/lint-bot-permissions.sh
  frameworks/security-validation/access-control/validate-bot-permissions.sh
  frameworks/security-validation/access-control/validate_token_architecture.sh
  frameworks/security-validation/access-control/validate_token_cleanup.sh
  frameworks/security-validation/compliance-checks/check_root_artifacts.sh
  frameworks/security-validation/compliance-checks/enhanced_root_artifact_guard.sh
  frameworks/security-validation/security-scanning/audit_env_vars.sh
  frameworks/security-validation/security-scanning/audit_frameworks.sh
  frameworks/security-validation/security-scanning/audit_token_usage.py
  frameworks/security-validation/security-scanning/env_security_audit.sh
  frameworks/security-validation/security-scanning/security_audit.sh
  frameworks/security-validation/security-scanning/trivy_scan.sh
  frameworks/security-validation/vulnerability-assessment/aar_security.py
  frameworks/security-validation/vulnerability-assessment/generate_token_audit_report.sh
  frameworks/security-validation/vulnerability-assessment/manage_token_audits.sh
  frameworks/security-validation/vulnerability-assessment/scan_project_errors.sh
  scripts/safe_commit.sh
Due: docs-quality

CLEANUP(framework): remove migrated security scripts from scripts/ directory
  scripts/aar_security.py
  scripts/audit_env_vars.sh
  scripts/audit_frameworks.sh
  scripts/audit_token_usage.py
  scripts/check-bot-permissions.sh
  scripts/check_potato_ignore.sh
  scripts/check_root_artifacts.sh
  scripts/enhanced_root_artifact_guard.sh
  scripts/env_security_audit.sh
  scripts/generate_token_audit_report.sh
  scripts/lint-bot-permissions.sh
  scripts/manage_token_audits.sh
  scripts/potato_policy_enforce.sh
  scripts/potato_violation_reporter.sh
  scripts/scan_project_errors.sh
  scripts/trivy_scan.sh
  scripts/validate-bot-permissions.sh
  scripts/validate_token_architecture.sh
  scripts/validate_token_cleanup.sh
Due: none

FEAT(frontend): add dark mode toggle functionality
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/ThemeToggle.tsx
  frontend/src/hooks/useTheme.tsx
  frontend/src/styles/themes.css
Due: none

FEAT(frameworks): create Utility Management and Project Management frameworks
  frameworks/project-management/README.md
  frameworks/project-management/VERSION
  frameworks/project-management/branch-management/create_smart_branch.sh
  frameworks/project-management/issue-management/bulk_close_ci_issues.sh
  frameworks/project-management/issue-management/ci_gh_issue_wrapper.sh
  frameworks/project-management/issue-management/close_all_ci_issues.sh
  frameworks/project-management/issue-management/close_resolved_issues.sh
  frameworks/project-management/issue-management/comment_on_issue.py
  frameworks/project-management/issue-management/create_pr_tracking_issue.sh
  frameworks/project-management/issue-management/create_terminal_policy_issue.sh
  frameworks/project-management/pull-request-management/assess_pr_968.sh
  frameworks/project-management/pull-request-management/check_pr_inline_comments.sh
  frameworks/project-management/pull-request-management/create_fix_pr.sh
  frameworks/project-management/pull-request-management/create_pr.sh
  frameworks/project-management/pull-request-management/create_pr_safe.sh
  frameworks/utility-management/README.md
  frameworks/utility-management/VERSION
  frameworks/utility-management/cleanup-utilities/clean_root_artifacts.sh
  frameworks/utility-management/cleanup-utilities/cleanup_branches.sh
  frameworks/utility-management/cleanup-utilities/cleanup_merged_branch.sh
  frameworks/utility-management/cleanup-utilities/final_cleanup.sh
  frameworks/utility-management/fix-automation/auto_fix_terminal_violations.sh
  frameworks/utility-management/fix-automation/ci_fix.sh
  frameworks/utility-management/fix-automation/final_emoji_fix.sh
  frameworks/utility-management/fix-automation/fix_commit_messages.sh
  frameworks/utility-management/fix-automation/fix_frontmatter.py
  frameworks/utility-management/fix-automation/fix_markdown_formatting.sh
  frameworks/utility-management/fix-automation/fix_markdown_simple.sh
  frameworks/utility-management/fix-automation/fix_milestone_duplicates.py
  frameworks/utility-management/fix-automation/fix_phase3_terminal_compliance.sh
  frameworks/utility-management/helper-functions/color_utils.sh
Due: docs-quality

FEAT(frameworks): create Integration and Configuration frameworks, cross 50% milestone
  frameworks/cicd-enhancement/testing-validation/phase2_start_and_test.sh
  frameworks/cicd-enhancement/testing-validation/quick_aar_test.sh
  frameworks/cicd-enhancement/testing-validation/run_auth_tests_local.sh
  frameworks/cicd-enhancement/testing-validation/setup_tests.sh
  frameworks/cicd-enhancement/testing-validation/simple_token_test.sh
  frameworks/cicd-enhancement/testing-validation/test_check_root_artifacts.sh
  frameworks/cicd-enhancement/testing-validation/test_coverage_implementation.sh
  frameworks/cicd-enhancement/testing-validation/test_option1_implementation.sh
  frameworks/configuration-management/README.md
  frameworks/configuration-management/VERSION
  frameworks/configuration-management/settings-validation/validate_bot_config.sh
  frameworks/configuration-management/settings-validation/validate_cors_configuration.sh
  frameworks/configuration-management/version-control/version_project_configs.sh
  frameworks/data-management/reporting-generation/post_coverage_comment.py
  frameworks/integration-management/README.md
  frameworks/integration-management/VERSION
  frameworks/integration-management/api-integrations/ci-health-aar-integration
  frameworks/integration-management/api-integrations/ci_health_aar_integration.py
  frameworks/integration-management/api-integrations/milestone_integration.sh
  frameworks/integration-management/api-integrations/setup_vscode_integration.sh
  frameworks/integration-management/api-integrations/test_tunnel_integration.sh
  frameworks/integration-management/service-connectors/extract_service_interfaces.py
  frameworks/integration-management/service-connectors/generate_openapi.py
  frameworks/integration-management/service-connectors/rapid_ci_cleanup.sh
  frameworks/integration-management/service-connectors/test_per_service_coverage_local.sh
  frameworks/integration-management/service-connectors/wait_for_service.sh
  frameworks/project-management/issue-management/batch_close_ci_noise.sh
  frameworks/project-management/issue-management/close_ci_batch.sh
  frameworks/utility-management/fix-automation/qc_with_autofix.sh
  frameworks/utility-management/maintenance-tools/auto_consolidate_content.sh
Due: docs-quality

FEAT(frameworks): hybrid organization approach - preserve critical scripts, copy low-risk to frameworks
  HYBRID_MIGRATION_APPROACH.md
  frameworks/data-management/analytics-processing/final_push_analysis.sh
  frameworks/security-validation/security-scanning/inspect_token_permissions.sh
  frameworks/system-monitoring/status-validation/fine_grained_actions_diagnostic.sh
  frameworks/system-monitoring/status-validation/fine_grained_org_diagnostic.sh
  frameworks/utility-management/fix-automation/fix_unicode_final.sh
Due: docs-quality

FEAT(frameworks): link to #1506 - establish milestone connections and issue integration
  .pre-commit-config.yaml
  FRAMEWORK_MIGRATION_ROADMAP.md
  frameworks/data-management/log-analysis/analyze_logs.sh
  frameworks/data-management/log-analysis/enhanced_ci_failure_analysis.sh
  frameworks/data-management/log-analysis/enhanced_ci_failure_analyzer.py
  frameworks/data-management/log-analysis/ensure_logs_structure.sh
Due: docs-quality

DOCS(frameworks): integrate existing issue structure into migration roadmap
  FRAMEWORK_MIGRATION_ROADMAP.md
Due: docs-quality

DOCS(framework): fix markdown formatting issues
  FRAMEWORK_MIGRATION_ROADMAP.md
  HYBRID_MIGRATION_APPROACH.md
Due: docs-quality

DOCS(frameworks): framework organization strategy documentation - hybrid migration approach
  FRAMEWORK_MIGRATION_ROADMAP.md
  HYBRID_MIGRATION_APPROACH.md
  README.md
Due: docs-quality

FIX(docs): remove duplicate bash code block marker in migration roadmap
  FRAMEWORK_MIGRATION_ROADMAP.md
Due: docs-quality

DOCS(frameworks): Framework Organization Strategy Documentation - Hybrid Migration Approach (#1698)
  FRAMEWORK_MIGRATION_ROADMAP.md
  HYBRID_MIGRATION_APPROACH.md
  README.md
Due: docs-quality

FIX(ci): align actions/checkout version to v5 for consistency across workflows
  .github/workflows/troubleshooting-harvest.yml
Due: terminal-output-policy

FIX(ci): resolve GitHub Actions context and error handling issues in troubleshooting-harvest workflow
  .github/workflows/troubleshooting-harvest.yml
Due: terminal-output-policy

FIX(ci): standardize actions/checkout@v5 across all remaining workflows for consistency
  .github/workflows/agent-instruction-validation.yml
  .github/workflows/pr-ci-analysis.yml
  .github/workflows/test-ci-health-framework-bot.yml
Due: terminal-output-policy

FIX(ci): restore explicit GitHub CLI authentication in PR Issue Automation workflow
  .github/workflows/pr-issue-automation.yml
Due: terminal-output-policy

FIX(ci): GitHub Actions workflow consistency and error fixes (#1703)
  .github/workflows/agent-instruction-validation.yml
  .github/workflows/pr-ci-analysis.yml
  .github/workflows/pr-issue-automation.yml
  .github/workflows/test-ci-health-framework-bot.yml
  .github/workflows/troubleshooting-harvest.yml
Due: terminal-output-policy

FIX(docs): fix markdown formatting in External PR Security Guide
  docs/EXTERNAL_PR_SECURITY_GUIDE.md
Due: docs-quality, validate-metadata-standards

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  FRAMEWORK_MIGRATION_ROADMAP.md
  HYBRID_MIGRATION_APPROACH.md
Due: docs-quality

FIX(docs): address Copilot inline comments in External PR Security Guide
  docs/EXTERNAL_PR_SECURITY_GUIDE.md
Due: docs-quality, validate-metadata-standards

DOCS(accessibility): enhance three-tier architecture description for screen readers
  docs/EXTERNAL_PR_SECURITY_GUIDE.md
Due: docs-quality, validate-metadata-standards

DOCS(security): Add External PR Security Guide (#1708)
  FRAMEWORK_MIGRATION_ROADMAP.md
  HYBRID_MIGRATION_APPROACH.md
  docs/EXTERNAL_PR_SECURITY_GUIDE.md
Due: docs-quality, validate-metadata-standards

FEAT(automation): implement external PR welcome system for first-time contributors
  .github/workflows/pr-automation.yml
  scripts/test_external_pr_welcome.sh
  templates/external-pr-welcome.md
Due: terminal-output-policy, docs-quality

FEAT(automation): Add external PR welcome testing and ops playbook
  .github/workflows/pr-automation.yml
  WORKFLOW_DIAGNOSTIC_ANALYSIS.md
  create_strategic_pr_issue.sh
  docs/external-pr-welcome-ops-playbook.md
  scripts/create_external_pr_test_repo.sh
  scripts/emergency_rollback_external_pr_welcome.sh
  scripts/enhanced_workflow_monitor.sh
  scripts/log_workflow_failure.sh
  scripts/monitor_external_pr_production.sh
  scripts/test_external_pr_welcome_integration.sh
Due: terminal-output-policy, docs-quality, validate-metadata-standards

Path conditions:
  terminal-output-policy: any of: \.github/workflows/.*\.ya?ml$
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|pytest\.ini|pyproject\.toml).*$
  milestone-format-validation: any of: ^milestones/.*\.md$
