Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: terminal-output-policy, docs-quality, validate-agents, validate-metadata-standards, pytest, milestone-format-validation

Path conditions:
  terminal-output-policy: any of: \.github/workflows/.*\.ya?ml$
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|pytest\.ini|pyproject\.toml).*$
  milestone-format-validation: any of: ^milestones/.*\.md$

FEAT(framework): implement comprehensive friction prevention framework
  docs/frameworks/strategic-planning/framework-governance.md
  docs/guides/friction-prevention.md
  scripts/auto_environment_setup.sh
  scripts/check_environment_consistency.sh
  scripts/cleanup_merged_branch.sh
  scripts/create_smart_branch.sh
  scripts/qc_pre_push.sh
  scripts/validate_documentation_structure.sh
  scripts/validate_template_variables.sh
Due: docs-quality, validate-metadata-standards

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  docs/guides/friction-prevention.md
Due: docs-quality, validate-metadata-standards

DOCS(aar): update AAR portal
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
Due: none

FIX(scripts): implement comprehensive Copilot AI feedback across automation framework
  scripts/auto_environment_setup.sh
  scripts/cleanup_merged_branch.sh
  scripts/create_smart_branch.sh
  scripts/qc_pre_push.sh
  scripts/validate_documentation_structure.sh
  scripts/validate_template_variables.sh
Due: none

TEMP: add bot SSH key extraction workflow
  .github/workflows/extract-bot-ssh-key.yml
Due: terminal-output-policy

FEAT(automation): add SSH key extraction for Priority Matrix Bot configuration
  scripts/extract_bot_ssh_key.sh
Due: none

FEAT(framework): implement comprehensive friction prevention framework and bot automation
  .github/workflows/extract-bot-ssh-key.yml
  docs/frameworks/strategic-planning/framework-governance.md
  docs/guides/bot-ssh-key-setup.md
  docs/guides/friction-prevention.md
  scripts/auto_environment_setup.sh
  scripts/check_environment_consistency.sh
  scripts/cleanup_merged_branch.sh
  scripts/create_smart_branch.sh
  scripts/extract_bot_ssh_key.sh
  scripts/qc_pre_push.sh
  scripts/validate_documentation_structure.sh
  scripts/validate_template_variables.sh
Due: terminal-output-policy, docs-quality, validate-metadata-standards

FIX(ci): resolve GitHub CLI authentication conflict in PR Issue Automation
  .github/workflows/pr-issue-automation.yml
Due: terminal-output-policy

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  docs/guides/bot-ssh-key-setup.md
Due: docs-quality, validate-metadata-standards

STYLE(scripts): improve spacing in qc_pre_push.sh template validation
  scripts/qc_pre_push.sh
Due: none

FIX(scripts): systematically address all 5 Copilot inline suggestions
  scripts/auto_environment_setup.sh
  scripts/cleanup_merged_branch.sh
  scripts/create_smart_branch.sh
  scripts/qc_pre_push.sh
  scripts/validate_template_variables.sh
Due: none

FIX(ci): add build/ directory to gitignore to prevent Root Artifact Guard violations
  .gitignore
Due: none

CHORE(security): complete Phase 2 Terminal Output Compliance and Enhanced Potato Policy v3.0
  .codespell-ignore
  .dockerignore
  .gitignore
  scripts/check_potato_ignore.sh
  scripts/qc_pre_push.sh
Due: none

SECURITY(shell-safety): implement comprehensive shell interpretation incident prevention framework
  docs/ai-agent-shell-safety-guidelines.md
  docs/incidents/shell-interpretation-incident-20250919.md
  scripts/validate_shell_safety.sh
Due: docs-quality, validate-metadata-standards

CHORE(quality): address Copilot code quality feedback
  .codespell-ignore
  .dockerignore
  scripts/qc_pre_push.sh
Due: none

DOCS(qc): explicitly address Copilot shebang comment
  scripts/qc_pre_push.sh
Due: none

DOCS(dockerignore): explicitly address Copilot duplication comment
  .dockerignore
Due: none

DOCS(codespell): explicitly address Copilot duplication comment
  .codespell-ignore
Due: none

DOCS(milestone): complete Phase 2 Terminal Output Compliance milestone
  milestones/2025-09/2025-09-19-infrastructure-phase2-terminal-output-compliance-complete.md
Due: docs-quality, milestone-format-validation

DOCS(phase2): update documentation to reflect Phase 2 completion
  PHASE_INDEX.md
  PHASE_ISSUE_INDEX.md
  README.md
Due: docs-quality

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  docs/ai-agent-shell-safety-guidelines.md
  docs/incidents/shell-interpretation-incident-20250919.md
Due: docs-quality, validate-metadata-standards

FIX(codespell): resolve Copilot feedback on pattern duplication
  .codespell-ignore
  scripts/enhanced_potato_check.sh
Due: none

FIX(milestone,security): fix date validation and Enhanced Potato Policy violations
  .dockerignore
  milestones/2025-09/2025-09-19-infrastructure-phase2-terminal-output-compliance-complete.md
Due: docs-quality, milestone-format-validation

FEAT(security): comprehensive GitHub signature verification fix and prevention system
  SETUP.md
  docs/solutions/github-signature-verification-complete.md
  docs/troubleshooting/GITHUB_SIGNATURE_VERIFICATION.md
  scripts/setup-env.sh
  scripts/setup_github_gpg_keys.sh
Due: docs-quality, validate-metadata-standards

FIX(ci): make GitHub GPG key setup non-blocking for CI
  scripts/setup-env.sh
Due: none

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  docs/solutions/github-signature-verification-complete.md
  docs/troubleshooting/GITHUB_SIGNATURE_VERIFICATION.md
Due: docs-quality, validate-metadata-standards

CHORE(ci): force PR history refresh to remove unverified commit references
  .force-refresh
Due: none

CHORE(ci): cleanup temporary refresh file
  .force-refresh
Due: none

CHORE(bot): add bot SSH key extraction workflow
  .github/workflows/extract-bot-ssh-key.yml
Due: terminal-output-policy

DOCS(automation): add Priority Matrix Bot SSH key setup guide
  docs/guides/bot-ssh-key-setup.md
Due: docs-quality, validate-metadata-standards

FEAT(framework): complete Maintenance Operations framework migration with 21 scripts
  .pre-commit-config.yaml
  frameworks/maintenance-operations/artifact-management/enhanced_root_artifact_guard.sh
  frameworks/maintenance-operations/artifact-management/manage_test_artifacts.sh
  frameworks/maintenance-operations/artifact-management/unicode_artifact_manager.py
  frameworks/maintenance-operations/backup/backup_docs.sh
  frameworks/maintenance-operations/cleanup/clean_markdown_compliance_violations.sh
  frameworks/maintenance-operations/cleanup/clean_pytest_artifacts.sh
  frameworks/maintenance-operations/cleanup/clean_root_artifacts.sh
  frameworks/maintenance-operations/cleanup/cleanup_branches.sh
  frameworks/maintenance-operations/cleanup/final_cleanup.sh
  frameworks/maintenance-operations/cleanup/manual_branch_cleanup.sh
  frameworks/maintenance-operations/cleanup/quick_branch_cleanup.sh
  frameworks/maintenance-operations/monitoring/catalog_shared_resources.sh
  frameworks/maintenance-operations/monitoring/coverage_monitor.sh
  frameworks/maintenance-operations/system-maintenance/detect_system_misalignment.sh
  frameworks/maintenance-operations/system-maintenance/manage_cloudflare_tunnel.sh
  frameworks/maintenance-operations/system-maintenance/update_systems_for_tokens.sh
  frameworks/maintenance-operations/system-maintenance/version_project_configs.sh
  frameworks/maintenance-operations/system-maintenance/wait_for_service.sh
  frameworks/maintenance-operations/trace-utilities/analyze_logs.sh
  frameworks/maintenance-operations/trace-utilities/ensure_logs_structure.sh
  frameworks/maintenance-operations/trace-utilities/manage_logs.sh
Due: none

FEAT(framework): complete Testing Coverage framework migration with 19 scripts
  frameworks/testing-coverage/automation/dashboard_service_test.py
  frameworks/testing-coverage/automation/quick_aar_test.sh
  frameworks/testing-coverage/automation/setup_tests.sh
  frameworks/testing-coverage/automation/test_tunnel_integration.sh
  frameworks/testing-coverage/coverage-analysis/append_coverage_summary.sh
  frameworks/testing-coverage/coverage-analysis/test_coverage_implementation.sh
  frameworks/testing-coverage/coverage-analysis/test_per_service_coverage_local.sh
  frameworks/testing-coverage/coverage-analysis/update_coverage_badge.py
  frameworks/testing-coverage/reporting/validation_summary.sh
  frameworks/testing-coverage/test-execution/phase2_complete_test.sh
  frameworks/testing-coverage/test-execution/phase2_start_and_test.sh
  frameworks/testing-coverage/test-execution/run_tests.sh
  frameworks/testing-coverage/test-execution/run_tests_with_logging.sh
  frameworks/testing-coverage/test-execution/simple_test.sh
  frameworks/testing-coverage/test-execution/test_option1_implementation.sh
  frameworks/testing-coverage/test-execution/test_phase2_implementation.sh
  frameworks/testing-coverage/test-execution/test_phase3_implementation.sh
  frameworks/testing-coverage/validation/show_no_verify_enforcement.sh
  frameworks/testing-coverage/validation/verify_and_commit.sh
Due: none

FEAT(framework): complete Issues/PR Management framework migration with 26 scripts
  frameworks/issue-pr-management/integration/comment_on_issue.py
  frameworks/issue-pr-management/integration/milestone_integration.sh
  frameworks/issue-pr-management/integration/post_coverage_comment.py
  frameworks/issue-pr-management/integration/process_notifications.py
  frameworks/issue-pr-management/integration/project_root_wrapper.sh
  frameworks/issue-pr-management/issue-tracking/close_resolved_issues.sh
  frameworks/issue-pr-management/issue-tracking/review_resolved_issues.sh
  frameworks/issue-pr-management/pr-automation/assess_pr_968.sh
  frameworks/issue-pr-management/pr-automation/auto_branch_manager.sh
  frameworks/issue-pr-management/pr-automation/cleanup_merged_branch.sh
  frameworks/issue-pr-management/pr-automation/comprehensive_branch_cleanup.sh
  frameworks/issue-pr-management/pr-automation/create_fix_pr.sh
  frameworks/issue-pr-management/pr-automation/execute_merge_pr_968.sh
  frameworks/issue-pr-management/pr-automation/git_safety_wrapper.sh
  frameworks/issue-pr-management/reporting/generate_ci_dashboard_report.py
  frameworks/issue-pr-management/reporting/predictive_analytics.py
  frameworks/issue-pr-management/review-management/assess_staged_task_readiness.sh
  frameworks/issue-pr-management/triage/analyze_issue_triage.py
  frameworks/issue-pr-management/triage/auto_consolidate_content.sh
  frameworks/issue-pr-management/triage/cache_precommit_hooks.sh
  frameworks/issue-pr-management/triage/ci_troubleshooting_framework.sh
  frameworks/issue-pr-management/triage/comprehensive_auto_fixer.py
  frameworks/issue-pr-management/triage/fix_milestone_duplicates.py
  frameworks/issue-pr-management/triage/project_navigator.sh
  frameworks/issue-pr-management/triage/scan_project_errors.sh
  frameworks/issue-pr-management/triage/troubleshoot_precommit_cache.sh
Due: none

FEAT(framework): complete Environment Management framework migration with 18 scripts - ALL 7 FRAMEWORKS COMPLETE
  frameworks/environment-management/configuration/regenerate_env_docs.py
  frameworks/environment-management/management/devonboarder-ci-health.sh
  frameworks/environment-management/management/update_devonboarder_dictionary.py
  frameworks/environment-management/setup/auto_environment_setup.sh
  frameworks/environment-management/setup/dev_setup.sh
  frameworks/environment-management/setup/install_commit_msg_hook.sh
  frameworks/environment-management/setup/setup-env.sh
  frameworks/environment-management/setup/setup_discord_bot.sh
  frameworks/environment-management/setup/setup_discord_env.sh
  frameworks/environment-management/setup/setup_tunnel.sh
  frameworks/environment-management/setup/setup_vscode_integration.sh
  frameworks/environment-management/synchronization/simple_sync.sh
  frameworks/environment-management/synchronization/smart_env_sync.sh
  frameworks/environment-management/synchronization/sync_content_references.sh
  frameworks/environment-management/synchronization/sync_env_variables.sh
  frameworks/environment-management/validation/analyze_service_dependencies.sh
  frameworks/environment-management/validation/qc_docs.sh
  frameworks/environment-management/validation/show_network_exceptions.sh
  frameworks/environment-management/validation/terminal_zero_tolerance_validator.sh
Due: none

REVERT(qc): remove TEMP exception - will fix commit message properly via rebase
  frameworks/quality-assurance/checking/check_commit_messages.sh
Due: none
