Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

FIX(ci): ensure virtual environment exists before activation in always() steps
  .github/workflows/ci.yml
Due: none

FEAT(ci): Phase 4 CI Triage Guard Enhancement - COMPLETE
  bot/src/commands/deploy.ts
  ci_failure_analysis.json
  docs/phase-4-ci-triage-guard.md
  docs/phase4-ci-triage-guard.md
  github_cli_analysis.json
  phase4-ci-triage-guard-complete.md
  phase4_analysis_report.json
  phase4_health_report.json
  precommit_analysis.json
  precommit_analysis_v2.json
  scripts/ci_health_monitor.py
  scripts/enhanced_ci_failure_analyzer.py
  test_gh_error.log
Due: docs-quality, validate-metadata-standards

FEAT(orchestration): Phase 5 Advanced Orchestration - COMPLETE
  phase5-advanced-orchestration-complete.md
  phase5-advanced-orchestration.md
  pyproject.toml
  scripts/advanced_orchestrator.py
  scripts/predictive_analytics.py
Due: docs-quality, pytest

DOCS(setup): add comprehensive master setup guide with MD032 compliance
  CONTRIBUTING.md
  SETUP.md
  docs/QA_CHECKLIST.md
Due: docs-quality, validate-metadata-standards

FIX(ci): align commit message validation with mandatory scope requirement
  scripts/check_commit_messages.sh
Due: none

FIX(ci): resolve commit message validation regex and enforce mandatory scopes
  scripts/check_commit_messages.sh
Due: none

FIX(ci): resolve script hanging issue with temp file approach for commit validation
  scripts/check_commit_messages.sh
Due: none

FIX(agents): resolve schema validation errors and add README frontmatter
  .codex/agents/README.md
  .codex/agents/code_quality_agent.md
  .codex/agents/metadata-standards.md
Due: docs-quality, validate-agents, validate-metadata-standards

FEAT(tools): add DevOnboarder dictionary management system
  .codespell-ignore
  .codex/checklists/standards/node_modules_hygiene.md
  .github/workflows/potato-policy-focused.yml
  scripts/update_devonboarder_dictionary.py
Due: docs-quality, validate-metadata-standards

FIX(ci): resolve coverage data file location issue
  .github/workflows/ci.yml
  scripts/post_coverage_comment.py
Due: none

FIX(ci): resolve YAML formatting issues in potato-policy workflow
  .github/workflows/ci.yml
  ci_failure_analysis.json
Due: none

FIX(ci): add missing GitHub Actions permissions for coverage badge
  .github/workflows/ci.yml
Due: none

FEAT(ci): implement centralized logging policy and fix validation suite failures
  .codex/checklists/standards/node_modules_hygiene.md
  .codex/scripts/ci-monitor.py
  .github/copilot-instructions.md
  .github/workflows/auto-fix.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/ci.yml
  .github/workflows/potato-policy-focused.yml
  .pre-commit-config.yaml
  .prettierignore
  CONTRIBUTING.md
  docs/standards/centralized-logging-policy.md
  env_audit.log
  pre-commit-errors.log
  schema/agent-schema.json
  scripts/analyze_failed_ci_runs.sh
  scripts/demo_failure_filtering.sh
  scripts/download_ci_failure_issue.sh
  scripts/monitor_ci_health.sh
  scripts/security_audit.sh
  scripts/summarize_ci_failures.py
  scripts/validate.sh
  scripts/validate_log_centralization.sh
  test_gh_error.log
Due: docs-quality, validate-metadata-standards

FIX(ci): remove overly restrictive path filtering to ensure tests run consistently
  .github/workflows/ci.yml
Due: none

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$
