Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

FEAT(architecture): move CI monitor to proper location and add PR #1244 success documentation
  PR-1244-SUCCESS-ANNOTATION.md
  docs/PR-1244-MONITORING-DASHBOARD.md
  docs/PR-1244-SUCCESS-STORY.md
  reports/token-audit-20250904_223435.md
  scripts/ci-monitor.py
Due: docs-quality, validate-metadata-standards

REFACTOR(architecture): complete DevOnboarder script location compliance
  .github/workflows/pr-issue-automation.yml
  docs/ci-failure-analysis-guide.md
  docs/ci/ci-status-demo.md
  docs/core-metadata-standards.md
  docs/devonboarder-integration-status.md
  docs/enhanced-potato-policy.md
  docs/failure-filtering-implementation-summary.md
  scripts/demo_failure_filtering.sh
Due: docs-quality, validate-metadata-standards

CLEANUP(architecture): remove stale .codex/scripts/ci-monitor.py file
  .codex/scripts/ci-monitor.py
Due: none

FIX(copilot): address GitHub Copilot PR review comments
  scripts/manage_token_audits.sh
  scripts/token_health_check.sh
Due: none

FIX(test): resolve Copilot blocking issues in vite-config test assertions
  frontend/src/test/vite-config.test.js
Due: none

DOCS(test): add comment to trigger Copilot re-evaluation
  frontend/src/test/vite-config.test.js
Due: none

DOCS(agents): add comprehensive DevOnboarder utilities guidance to copilot instructions
  .github/copilot-instructions.md
  MILESTONE_LOG.md
  PHASE_INDEX.md
  PHASE_ISSUE_INDEX.md
  docs/lessons/documentation-coordination-strategy.md
Due: docs-quality, validate-metadata-standards

FIX(ci): correct Token Architecture v2.1 implementation in PR Issue Automation
  .github/workflows/pr-issue-automation.yml
Due: none

FIX(docs): resolve Copilot-identified markdown formatting issues
  MILESTONE_LOG.md
  PHASE_INDEX.md
Due: docs-quality

DOCS(aar): update AAR portal
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
Due: none

DOCS(milestone): document Zero-Accountability-Loss Framework graduation
  MILESTONE_LOG.md
Due: docs-quality

DOCS(milestone): address Copilot review feedback on formatting
  MILESTONE_LOG.md
Due: docs-quality

DOCS(milestone): add realistic capability valuation matrix
  MILESTONE_LOG.md
Due: docs-quality

DOCS(milestone): add milestone IDs and direct GitHub links
  MILESTONE_LOG.md
Due: docs-quality

FIX(docs): address Copilot review feedback
  scripts/fix_markdown_formatting.py
  scripts/qc_docs.sh
Due: none

FIX(docs): comprehensive list handling for MD032 compliance
  scripts/fix_markdown_formatting.py
Due: none

FIX(ci): remove extra spaces in YAML brackets for lint compliance
  .github/workflows/openapi-validate.yml
Due: none

FIX(docs,tests): fix markdown formatting and replace invalid client import test
  docs/openapi.md
  tests/test_openapi_client_smoke.py
Due: docs-quality, validate-metadata-standards, pytest

FIX(ci): update actions/checkout to v5 for consistency with other workflows
  .github/workflows/openapi-validate.yml
Due: none

FEAT(openapi): scaffold OpenAPI spec with CI validation and documentation (fixed)
  .github/workflows/openapi-validate.yml
  .redocly.yaml
  .spectral.json
  docs/openapi.md
  openapi/devonboarder.ci.yaml
  tests/test_openapi_client_smoke.py
Due: docs-quality, validate-metadata-standards, pytest

REFACTOR(openapi): use built-in DevOnboarder validation instead of external tools
  .github/workflows/openapi-validate.yml
  SESSION_HANDOFF.md
  docs/openapi.md
Due: docs-quality, validate-metadata-standards

FIX(ci): fix shell globbing in openapi validation workflow
  .github/workflows/openapi-validate.yml
Due: none

SECURITY(ci): add explicit permissions to OpenAPI workflow
  .github/workflows/openapi-validate.yml
Due: none

FIX(terminal): remove emojis and variable expansion from echo statements
  .codex/agents/code_quality_agent.md
  .codex/validate_prompts.sh
  .redocly.yaml
  .spectral.json
  scripts/qc_docs.sh
Due: docs-quality, validate-agents, validate-metadata-standards

FIX(bot): correct Jest moduleNameMapper typo to fix ES module imports
  bot/package.json
Due: none

FIX(agents): repair corrupted YAML frontmatter in code_quality_agent.md
  .codex/agents/code_quality_agent.md
Due: docs-quality, validate-agents, validate-metadata-standards

SECURITY(workflows): add explicit permissions to openapi-validate workflow
  .github/workflows/openapi-validate.yml
Due: none

SECURITY(workflows): add explicit actions:write permission to openapi-validate
  .github/workflows/openapi-validate.yml
Due: none

CHORE(ci): update coverage badge
  coverage.svg
Due: none

FIX(ci): remove trailing spaces from workflow YAML
  .github/workflows/ci.yml
Due: none

CHORE(ci): update coverage badge signature
  coverage.svg
Due: none

FIX(coverage): add missing newline to coverage.svg file
  coverage.svg
Due: none

DOCS(session): update handoff with authentication debugging success
  SESSION_HANDOFF.md
Due: docs-quality

FIX(ci): restrict coverage badge commit to main branch only
  .github/workflows/ci.yml
Due: none

DOCS(workflows): add comprehensive core-instructions metadata to CI workflows
  .github/workflows/openapi-validate.yml
  .github/workflows/pr-issue-automation.yml
Due: none

DOCS(session): add critical CI troubleshooting best practice
  SESSION_HANDOFF.md
Due: docs-quality

CLEANUP(potato-policy): remove empty workflow file and update references
  .github/workflows/potato-policy-focused.yml
  .github/workflows/potato-policy.yml
  codex/tasks/completed/terminal-output-cleanup-phases.md
Due: docs-quality

FIX(ci): resolve bot permissions and frontend test timing issues
  agents/permissions.yml
  frontend/src/components/PublicLandingPage.test.tsx
Due: none

TEST(frontend): achieve 95%+ coverage compliance with comprehensive branch testing
  frontend/src/components/PublicLandingPage.test.tsx
  frontend/vite.config.ts
Due: none

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$
