Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$

FEAT(docs): implement comprehensive AAR protection system
  .github/CODEOWNERS
  .github/workflows/protect-archived-aar.yml
  .pre-commit-config.yaml
  docs/aar-protection-system.md
Due: docs-quality, validate-metadata-standards

feat(ci): implement smart documentation validation for PR efficiency
  .github/workflows/documentation-quality.yml
Due: none

DOCS(cleanup): comprehensive analysis for PR #1234 obsolete closure
  docs/pr-analysis/PR-1234-OBSOLETE-ANALYSIS.md
  docs/pr-cleanup-tracking-2025-09-11.md
Due: docs-quality, validate-metadata-standards

DOCS(cleanup): update PR #1234 closure completion in tracking
  docs/pr-cleanup-tracking-2025-09-11.md
Due: docs-quality, validate-metadata-standards

FIX(patterns): correct glob patterns for AAR protection per Copilot review
  .github/CODEOWNERS
  .github/workflows/protect-archived-aar.yml
  .pre-commit-config.yaml
Due: none

feat: implement comprehensive AAR protection system (#1367)
  .github/CODEOWNERS
  .github/workflows/protect-archived-aar.yml
  .pre-commit-config.yaml
  docs/aar-protection-system.md
Due: docs-quality, validate-metadata-standards

DOCS(pr-closure): add comprehensive success report for AAR protection system
  docs/pr-closure/PR-1367-SUCCESS-REPORT.md
Due: docs-quality, validate-metadata-standards

DOCS(session): update SESSION_HANDOFF with PR #1367 success and current status
  SESSION_HANDOFF.md
Due: docs-quality

FIX(ci): prevent token loader from overriding GitHub Actions secrets
  docs/fixes/ci-token-override-protection.md
  scripts/token_loader.py
  tests/test_ci_token_protection.py
Due: docs-quality, validate-metadata-standards, pytest

FIX(ci): remove token override that conflicts with workflow-set GITHUB_TOKEN
  scripts/create_pr_tracking_issue.sh
Due: none

SECURITY(tokens): ensure compliance with No Default Token Policy v1.0
  .codex/tokens/token_scope_map.yaml
  .github/workflows/pr-issue-automation.yml
  scripts/token_loader.py
Due: none

FIX(ci): prevent token loader from overriding GitHub Actions secrets (#1374)
  .codex/tokens/token_scope_map.yaml
  .github/workflows/pr-issue-automation.yml
  docs/fixes/ci-token-override-protection.md
  docs/pr-analysis/PR-1234-OBSOLETE-ANALYSIS.md
  docs/pr-cleanup-tracking-2025-09-11.md
  docs/pr-closure/PR-1367-SUCCESS-REPORT.md
  scripts/create_pr_tracking_issue.sh
  scripts/token_loader.py
  tests/test_ci_token_protection.py
Due: docs-quality, validate-metadata-standards, pytest

DOCS(session): update SESSION_HANDOFF with PR #1367 success (#1372)
  SESSION_HANDOFF.md
Due: docs-quality

DOCS(strategy): eliminate SESSION_HANDOFF.md duplication via existing frontmatter infrastructure
  SESSION_HANDOFF.md
  docs/agent-context-loading-strategy.md
  docs/agent-memory-best-practices.md
  docs/anti-duplication-strategy-complete.md
  docs/priority-context-september-11-2025.md
  docs/sessions/2025-09-11-aar-protection-system-complete.md
Due: docs-quality, validate-metadata-standards

FIX(docs): replace hardcoded paths with environment variables for portability
  docs/priority-context-september-11-2025.md
  docs/sessions/2025-09-11-aar-protection-system-complete.md
Due: docs-quality, validate-metadata-standards

DOCS(strategy): eliminate SESSION_HANDOFF.md duplication via existing frontmatter infrastructure (#1380)
  SESSION_HANDOFF.md
  docs/agent-context-loading-strategy.md
  docs/agent-memory-best-practices.md
  docs/anti-duplication-strategy-complete.md
  docs/priority-context-september-11-2025.md
  docs/sessions/2025-09-11-aar-protection-system-complete.md
Due: docs-quality, validate-metadata-standards

DOCS(aar): update AAR portal
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
Due: none

DOCS(strategy): eliminate SESSION_HANDOFF.md duplication via existing frontmatter infrastructure
  docs/priority-context-september-11-2025.md
  docs/sessions/2025-09-11-aar-protection-system-complete.md
Due: docs-quality, validate-metadata-standards

DOCS(frontmatter): fix codex agent frontmatter with required fields
  .codex/agents/README.md
  .codex/agents/ai-mentor.md
  .codex/agents/code_quality_agent.md
  .codex/agents/dev-orchestrator.md
  .codex/agents/diagnostics-bot.md
  .codex/agents/management-ingest.md
  .codex/agents/metadata-standards.md
  .codex/agents/tags/ci_root_artifact_guard.md
Due: docs-quality, validate-agents, validate-metadata-standards

DOCS(frontmatter): fix core documentation frontmatter alignment
  CODE_OF_CONDUCT.md
  ISSUE_1261_STATUS_REPORT.md
  PHASE_ISSUE_INDEX.md
  SECURITY.md
  SETUP.md
  coverage-summary.md
Due: docs-quality

DOCS(validation): critical frontmatter validation fixes - first logical group
  .aar/2025/Q3/automation/ci-failure-analyzer-integration-2025-08-02.md
  .aar/2025/Q3/incidents/incident-2025-07-30.md
  .aar/2025/Q3/pull-requests/pr-1098-documentation-quality-certification-framework---mvp-ready.md
  .aar/2025/Q3/sprints/sprint-2025-07-30.md
  .aar/index.md
  .aar/templates/issue-aar-template.md
  .aar/templates/pr-aar-template.md
  .codex/Agents.md
  .codex/BASELINE_LOCKED.md
  codex/tasks/create_new_repos_checklist.md
  codex/tasks/cross_repo_orchestration.md
  codex/tasks/migrate_code_checklist.md
  codex/tasks/phase2_1b_rollout_tasks.md
  codex/tasks/staged/mvp_task_staging_overview.md
  docs/tools/auto-fixers.md
  scripts/validate_frontmatter_content.py
Due: docs-quality, validate-metadata-standards

DOCS(codex): enhance case study frontmatter with comprehensive metadata
  .codex/case-studies/pr-970-ci-recovery-fixed.md
  .codex/case-studies/pr-970-ci-recovery.md
Due: docs-quality, validate-metadata-standards

DOCS(codex): enhance checklists frontmatter with comprehensive metadata
  .codex/checklists/standards/node_modules_hygiene.md
  .codex/checklists/triage_reports/2025-07-28_execution_success.md
  .codex/checklists/triage_reports/2025-07-28_root_artifact_pollution.md
Due: docs-quality, validate-metadata-standards

DOCS(frontmatter): fix document type mismatches for troubleshooting, reference, and changelog files
  docs/CHANGELOG.md
  docs/DOCKER_ENVIRONMENT_COMPATIBILITY.md
  docs/MARKDOWN_LINTING_TROUBLESHOOTING.md
  docs/TERMINAL_OUTPUT_VIOLATIONS.md
  docs/troubleshooting/CI_MYPY_TYPE_STUBS.md
Due: docs-quality, validate-metadata-standards

DOCS(frontmatter): fix document types for guide and report files
  CONTRIBUTING.md
  ISSUE_RESOLUTION_SUMMARY.md
  PHASE3_STATUS_REPORT.md
  docs/README.md
  docs/TOKEN_MIGRATION_GUIDE.md
Due: docs-quality, validate-metadata-standards

DOCS(frontmatter): fix title and description mismatches in 8 key files
  LOCAL_CI_COVERAGE.md
  PR_SUMMARY.md
  docs/dependencies.md
  docs/ecosystem.md
  docs/environment.md
  infra/README.md
  templates/aar-template.md
  tests/README.md
Due: docs-quality, validate-metadata-standards, pytest

DOCS(frontmatter): fix titles, descriptions, and document types for reference and guide files
  docs/CONFIG_VERSIONS.md
  docs/KEKB.md
  docs/ONBOARDING.md
Due: docs-quality, validate-metadata-standards

DOCS(frontmatter): fix title and description for metrics and infrastructure files
  PR-1244-SUCCESS-ANNOTATION.md
  infra/blueprint-aurora.md
  infra/blueprint-laramie.md
  metrics/llama2-usage.md
Due: docs-quality

FIX(frontmatter): add H1 titles and missing frontmatter fields
  docs/CI_VSCODE_CONSISTENCY_FRAMEWORK.md
  docs/COVERAGE_CHALLENGE_LESSONS_LEARNED.md
  docs/troubleshooting/MILESTONE_VALIDATION_TROUBLESHOOTING.md
Due: docs-quality, validate-metadata-standards

FIX(frontmatter): fix multiple blank lines in README.md
  README.md
Due: docs-quality

FIX(frontmatter): add content to compatibility and VS Code integration docs
  docs/VSCODE_INTEGRATION_SUCCESS.md
  docs/compatibility.md
Due: docs-quality, validate-metadata-standards

DOCS(frontmatter): fix title and description for templates and prompts
  TSM_GITHUB_ISSUE_DRAFT.md
  prompts/devonboarder_integration_task.md
  templates/potato-report.md
  templates/pr/docs.md
Due: docs-quality

FIX(frontmatter): add H1 titles and content to DAI and troubleshooting docs
  docs/DAI_IMPLEMENTATION_PLAN.md
  docs/DAI_IMPLEMENTATION_STATUS.md
  docs/TROUBLESHOOTING.md
Due: docs-quality, validate-metadata-standards

DOCS(frontmatter): standardize tag consistency for template files
  templates/HAND-OFF.md
  templates/markdown-template.md
  templates/milestone.md
  templates/security-report.md
Due: docs-quality

FEAT(frontmatter): add H1 titles and content to empty documentation files
  docs/@v1.0.0/README.md
  docs/PHASE1_STATUS_CRITICAL.md
  docs/PHASE_DAI_DOCUMENTATION_AS_INFRASTRUCTURE.md
  docs/checklists/retros/2025-07-22-ci-documentation-quality.md
Due: docs-quality, validate-metadata-standards

FEAT(frontmatter): add comprehensive content and fix project field
  docs/implementation/CACHE_MANAGEMENT_IMPLEMENTATION.md
  docs/implementation/MISSION_ACCOMPLISHED_SUMMARY.md
  docs/sessions/2025-09-10-milestone-validation-and-ci-fixes-complete.md
Due: docs-quality, validate-metadata-standards
