Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$

FEAT(docs): auto-synthesize Priority Matrix field
  docs/CI_DASHBOARD_INTEGRATION_SUMMARY.md
Due: docs-quality, validate-metadata-standards

FIX(ci): correct printf exclusion regex for safe format strings
  .github/workflows/code-review-bot.yml
Due: none

CHORE: fix trailing whitespace from pre-commit hooks
  docs/processes/pr-ci-integration-guide.md
Due: docs-quality, validate-metadata-standards

FIX(ci): improve terminal policy validation to exclude safe patterns
  .github/workflows/code-review-bot.yml
Due: none

DOCS(lessons): comprehensive analysis of PR #1397 merge process
  docs/lessons/pr-1397-immediate-actions.md
  docs/lessons/pr-1397-merge-analysis.md
Due: docs-quality, validate-metadata-standards

FEAT(docs): auto-synthesize Priority Matrix fields
  docs/lessons/pr-1397-immediate-actions.md
  docs/lessons/pr-1397-merge-analysis.md
Due: docs-quality, validate-metadata-standards

HOTFIX(docs): fix corrupted YAML frontmatter in README.md
  README.md
Due: docs-quality

DOCS(aar): update AAR portal
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
Due: none

DOCS(copilot): enhance copilot instructions organization and add missing patterns
  .github/copilot-instructions.md
Due: docs-quality

FIX(readme): hyphenate on-boarding as adjective per Copilot suggestion
  README.md
Due: docs-quality

🚨 HOTFIX: Fix corrupted YAML frontmatter in README.md (#1409)
  .github/copilot-instructions.md
  README.md
Due: docs-quality

FEAT(ci): implement smart documentation validation for PR efficiency
  .github/workflows/documentation-quality.yml
Due: none

FEAT(ci): implement smart documentation validation for PR efficiency (#1370)
  .github/workflows/documentation-quality.yml
Due: none

DOCS(frameworks): implement organized strategic planning framework structure
  docs/frameworks/README.md
  docs/frameworks/strategic-planning/application-registry.md
  docs/frameworks/strategic-planning/conversation_continuity_guide.md
  docs/frameworks/strategic-planning/framework-governance.md
  docs/frameworks/strategic-planning/scope-assessment-checklist.md
  docs/initiatives/README.md
  docs/initiatives/github-issue-management/executive_summary_issue_strategy.md
  docs/initiatives/github-issue-management/issue_analysis_framework.md
  docs/initiatives/github-issue-management/issue_roadmap_90day.md
  docs/initiatives/github-issue-management/project_status_issue_management.md
  docs/initiatives/github-issue-management/scope-assessment-completed.md
Due: docs-quality, validate-metadata-standards

FEAT(docs): auto-synthesize Priority Matrix fields
  docs/frameworks/README.md
  docs/frameworks/strategic-planning/application-registry.md
  docs/frameworks/strategic-planning/conversation_continuity_guide.md
  docs/frameworks/strategic-planning/framework-governance.md
  docs/frameworks/strategic-planning/scope-assessment-checklist.md
  docs/initiatives/README.md
  docs/initiatives/github-issue-management/executive_summary_issue_strategy.md
  docs/initiatives/github-issue-management/issue_analysis_framework.md
  docs/initiatives/github-issue-management/issue_roadmap_90day.md
  docs/initiatives/github-issue-management/project_status_issue_management.md
  docs/initiatives/github-issue-management/scope-assessment-completed.md
Due: docs-quality, validate-metadata-standards

FIX(docs): resolve Copilot inline comments for markdown rendering
  docs/frameworks/strategic-planning/framework-governance.md
Due: docs-quality, validate-metadata-standards

DOCS(framework): add mandatory PR workflow checklist and Copilot review requirements
  docs/frameworks/strategic-planning/application-registry.md
  docs/frameworks/strategic-planning/conversation_continuity_guide.md
  docs/frameworks/strategic-planning/pr-workflow-checklist.md
Due: docs-quality, validate-metadata-standards

FEAT(docs): auto-synthesize Priority Matrix fields
  docs/frameworks/strategic-planning/pr-workflow-checklist.md
Due: docs-quality, validate-metadata-standards

FIX(frontend): configure TailwindCSS v4 PostCSS plugin and reduce YAML line lengths
  .github/workflows/code-review-bot.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
Due: none

FIX(docs): resolve Copilot markdown rendering issues in framework-governance.md
  docs/frameworks/strategic-planning/framework-governance.md
Due: docs-quality, validate-metadata-standards

FIX(docs): remove orphaned markdown delimiters in framework-governance.md
  docs/frameworks/strategic-planning/framework-governance.md
Due: docs-quality, validate-metadata-standards

FIX(docs): resolve all Copilot inline comments in Strategic Planning Framework
  docs/frameworks/strategic-planning/framework-governance.md
  docs/frameworks/strategic-planning/pr-workflow-checklist.md
  docs/frameworks/strategic-planning/scope-assessment-checklist.md
Due: docs-quality, validate-metadata-standards

FIX(docs): remove nested YAML frontmatter delimiters causing markdown parsing issues
  docs/frameworks/strategic-planning/framework-governance.md
Due: docs-quality, validate-metadata-standards

FIX(docs): add comment to YAML example to trigger markdown parser refresh
  docs/frameworks/strategic-planning/framework-governance.md
Due: docs-quality, validate-metadata-standards

Strategic Planning Framework v1.0.0 Implementation (#1438)
  docs/frameworks/README.md
  docs/frameworks/strategic-planning/application-registry.md
  docs/frameworks/strategic-planning/conversation_continuity_guide.md
  docs/frameworks/strategic-planning/framework-governance.md
  docs/frameworks/strategic-planning/pr-workflow-checklist.md
  docs/frameworks/strategic-planning/scope-assessment-checklist.md
  docs/initiatives/README.md
  docs/initiatives/github-issue-management/executive_summary_issue_strategy.md
  docs/initiatives/github-issue-management/issue_analysis_framework.md
  docs/initiatives/github-issue-management/issue_roadmap_90day.md
  docs/initiatives/github-issue-management/project_status_issue_management.md
  docs/initiatives/github-issue-management/scope-assessment-completed.md
Due: docs-quality, validate-metadata-standards

FEAT(framework): integrate agent requirements prevention into Strategic Planning Framework v1.0.1
  docs/frameworks/strategic-planning/framework-governance.md
  schema/agent-schema.json
Due: docs-quality, validate-metadata-standards

FEAT(issue-management): implement Issue Closure Template System for standardized closures
  docs/workflows/issue-closure-template-system.md
  scripts/ci_gh_issue_wrapper.sh
  scripts/generate_issue_closure_comment.sh
  templates/issue-closure/bug-fix.md
  templates/issue-closure/ci-failure-fix.md
  templates/issue-closure/feature-completion.md
  templates/issue-closure/pr-completion.md
Due: docs-quality, validate-metadata-standards

FEAT(docs): auto-synthesize Priority Matrix fields
  docs/workflows/issue-closure-template-system.md
Due: docs-quality, validate-metadata-standards

FIX(qc): enforce 95% coverage standard consistently
  scripts/analyze_issue_triage.py
  scripts/qc_pre_push.sh
Due: none

FEAT(workflow): implement systematic prevention of main branch work violations
  .pre-commit-config.yaml
  config/navigation_config.yaml
  docs/WORKFLOW_VIOLATION_PREVENTION.md
  docs/initiatives/github-issue-management/administrative_triage_summary.md
  docs/navigation/context_loader.md
  scripts/enforce_branch_workflow.sh
  scripts/project_navigator.sh
  scripts/qc_pre_push.sh
Due: docs-quality, validate-metadata-standards

TEST(auth): Fix all auth service test failures and achieve 99% coverage
  pyproject.toml
  tests/test_auth_service.py
Due: pytest

FIX(ci): update Priority Matrix workflow to use hierarchical token architecture
  .github/workflows/priority-matrix-synthesis.yml
Due: none

FEAT(docs): auto-synthesize Priority Matrix fields
  docs/WORKFLOW_VIOLATION_PREVENTION.md
  docs/initiatives/github-issue-management/administrative_triage_summary.md
  docs/navigation/context_loader.md
Due: docs-quality, validate-metadata-standards

FIX(ci): disable GPG signing for Priority Matrix Bot automated commits
  .github/workflows/priority-matrix-synthesis.yml
Due: none

FIX(copilot): address all 5 GitHub Copilot inline code suggestions
  .pre-commit-config.yaml
  scripts/analyze_issue_triage.py
  scripts/enforce_branch_workflow.sh
  scripts/project_navigator.sh
  scripts/qc_pre_push.sh
Due: none

FEAT(ci): implement GPG-signed Priority Matrix Bot commits
  .github/scripts/setup-gpg-signing.sh
  .github/workflows/priority-matrix-synthesis.yml
  docs/PRIORITY_MATRIX_BOT_SETUP.md
Due: docs-quality, validate-metadata-standards
