Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: terminal-output-policy, docs-quality, validate-agents, validate-metadata-standards, pytest, milestone-format-validation

terminal-output-policy:
  name: Terminal Output Policy Enforcement
  entry: scripts/validate_terminal_output_simple.sh
  language: script
  stages:
  - pre-commit
  always_run: false
  pass_filenames: false

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

milestone-format-validation:
  name: Milestone Format Validation
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_milestone_format.py milestones/ 2>&1 | tee logs/milestone_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false
  always_run: false
  stages:
  ...

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  WORKFLOW_DIAGNOSTIC_ANALYSIS.md
  docs/external-pr-welcome-ops-playbook.md
Due: docs-quality, validate-metadata-standards

FIX(copilot): Address all 7 Copilot review comments
  .github/workflows/pr-automation.yml
  docs/external-pr-welcome-ops-playbook.md
  scripts/create_external_pr_test_repo.sh
  scripts/enhanced_workflow_monitor.sh
  scripts/log_workflow_failure.sh
  templates/external-pr-welcome.md
Due: terminal-output-policy, docs-quality, validate-metadata-standards

FIX(monitoring): Ensure failure count variables always initialized
  scripts/enhanced_workflow_monitor.sh
Due: none

DOCS(ops): Update deployment status and confirmation of Copilot fixes
  docs/external-pr-welcome-ops-playbook.md
Due: docs-quality, validate-metadata-standards

FIX(docs): correct link to TERMINAL_OUTPUT_VIOLATIONS.md in welcome template
  templates/external-pr-welcome.md
Due: docs-quality

DOCS(security): Complete External PR Security Guide and Welcome System (#1715)
  .github/workflows/pr-automation.yml
  WORKFLOW_DIAGNOSTIC_ANALYSIS.md
  create_strategic_pr_issue.sh
  docs/external-pr-welcome-ops-playbook.md
  scripts/create_external_pr_test_repo.sh
  scripts/emergency_rollback_external_pr_welcome.sh
  scripts/enhanced_workflow_monitor.sh
  scripts/log_workflow_failure.sh
  scripts/monitor_external_pr_production.sh
  scripts/test_external_pr_welcome.sh
  scripts/test_external_pr_welcome_integration.sh
  templates/external-pr-welcome.md
Due: terminal-output-policy, docs-quality, validate-metadata-standards

FIX(validation): resolve shellcheck warning in link validation script
  .pre-commit-config.yaml
  docs/github-review-process-guide.md
  scripts/validate_internal_links.sh
Due: docs-quality, validate-metadata-standards

FIX(validation): remove unused variable in enhanced safe commit wrapper
  .github/copilot-instructions.md
  docs/documentation-quality-standards.md
  scripts/safe_commit_enhanced.sh
Due: docs-quality, validate-metadata-standards

PERF(validation): exclude node_modules directories from link validation
  .github/workflows/docs-quality.yml
  README.md
  docs/production-readiness-report.md
  scripts/safe_commit_new.sh
  scripts/validate_internal_links.sh
Due: terminal-output-policy, docs-quality, validate-metadata-standards

FIX(validator): fix critical subshell variable scope bug in link validator
  scripts/validate_internal_links.sh
Due: none

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  docs/documentation-quality-standards.md
  docs/github-review-process-guide.md
  docs/production-readiness-report.md
Due: docs-quality, validate-metadata-standards

FIX(ci): update docs workflow to use checkout@v5 and add permissions
  .github/workflows/docs-quality.yml
Due: terminal-output-policy

FEAT(validation): add template exclusions and placeholder handling to internal link validator
  scripts/validate_internal_links.sh
Due: none

FIX(ci): isolate link validation to prevent test conflicts
  .github/workflows/docs-quality.yml
  scripts/validate_internal_links.sh
Due: terminal-output-policy

FIX(scripts): enhance timeout exit code handling in safe commit wrapper
  scripts/safe_commit_enhanced.sh
Due: none

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  docs/api/README.md
  docs/checklists/agent-review-checklist.md
  docs/setup.md
Due: docs-quality, validate-metadata-standards

FEAT(docs): implement enhanced documentation validation system
  .github/copilot-instructions.md
  .github/workflows/docs-quality.yml
  .github/workflows/pr-welcome.yml
  .github/workflows/troubleshooting-harvest.yml
  .prettierignore
  CORRECTED_HANDOFF_PACK.md
  agents/documentation-quality-enforcer.md
  docs/Agents.md
  docs/documentation-quality-standards.md
  scripts/anchors_github.py
  scripts/safe_commit_enhanced.sh
  scripts/validate_internal_links.sh
  templates/external-pr-welcome.md
  templates/potato-report.md
Due: terminal-output-policy, docs-quality, validate-agents, validate-metadata-standards

FEAT(docs): restructure Agent Service Map for improved machine and human readability
  .markdownlint-cli2.yaml
  .markdownlint.json
  .pre-commit-config.yaml
  DOCUMENTATION_VALIDATION_ENHANCEMENT_AAR.md
  docs/Agents.md
Due: docs-quality, validate-metadata-standards

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  CORRECTED_HANDOFF_PACK.md
  DOCUMENTATION_VALIDATION_ENHANCEMENT_AAR.md
Due: docs-quality

FIX(scripts): address all Copilot review comments with centralized logging compliance
  docs/Agents.md
  scripts/safe_commit_enhanced.sh
  scripts/validate_internal_links.sh
Due: docs-quality, validate-metadata-standards

FIX(docs): Resolve fragment link validation in Agents.md
  docs/Agents.md
Due: docs-quality, validate-metadata-standards

FIX(scripts): Address Copilot review - improve error handling in safe_commit_enhanced.sh
  scripts/safe_commit_enhanced.sh
Due: none

DOCS(aar): Complete Documentation Validation Enhancement AAR with final status
  DOCUMENTATION_VALIDATION_ENHANCEMENT_AAR.md
Due: docs-quality

FIX(scripts): Address Copilot concern about return code handling in handle_precommit_modifications
  scripts/safe_commit_enhanced.sh
Due: none

FIX(ci): Fix documentation quality workflow git diff merge base issue
  .github/workflows/documentation-quality.yml
Due: terminal-output-policy

CLEANUP(scripts): Remove debug echo from safe_commit_enhanced.sh
  scripts/safe_commit_enhanced.sh
Due: none

FEAT(docs): Documentation Validation Enhancement System - Fix Auto-Formatting Corruption (#1726)
  .github/copilot-instructions.md
  .github/workflows/docs-quality.yml
  .github/workflows/documentation-quality.yml
  .github/workflows/pr-welcome.yml
  .github/workflows/troubleshooting-harvest.yml
  .markdownlint-cli2.yaml
  .markdownlint.json
  .pre-commit-config.yaml
  .prettierignore
  CORRECTED_HANDOFF_PACK.md
  DOCUMENTATION_VALIDATION_ENHANCEMENT_AAR.md
  agents/documentation-quality-enforcer.md
  docs/Agents.md
  docs/documentation-quality-standards.md
  scripts/anchors_github.py
  scripts/safe_commit_enhanced.sh
  scripts/validate_internal_links.sh
  templates/external-pr-welcome.md
  templates/potato-report.md
Due: terminal-output-policy, docs-quality, validate-agents, validate-metadata-standards

FEAT(ci): enhance Priority Matrix Bot communication and success detection
  .github/workflows/priority-matrix-synthesis.yml
Due: terminal-output-policy

FIX(ci): address Copilot review comments on Priority Matrix Bot
  .github/workflows/priority-matrix-synthesis.yml
Due: terminal-output-policy

FEAT(ci): Priority Matrix Bot Enhancement - Success Detection & Improved Messaging (#1736)
  .github/workflows/priority-matrix-synthesis.yml
Due: terminal-output-policy

FEAT(framework): implement Framework Phase 2 - Friction Prevention Framework (#1528)
  frameworks/friction_prevention/README.md
  frameworks/friction_prevention/automation/assess_pr_health.sh
  frameworks/friction_prevention/automation/auto_branch_manager.sh
  frameworks/friction_prevention/automation/automate_issue_discovery.sh
  frameworks/friction_prevention/automation/automate_post_merge_cleanup.sh
  frameworks/friction_prevention/automation/automate_pr_process.sh
  frameworks/friction_prevention/automation/automate_signature_verification.sh
  frameworks/friction_prevention/automation/batch_close_ci_noise.sh
  frameworks/friction_prevention/automation/cleanup_branches.sh
  frameworks/friction_prevention/automation/close_ci_batch.sh
  frameworks/friction_prevention/automation/close_resolved_issues.sh
  frameworks/friction_prevention/automation/comprehensive_branch_cleanup.sh
  frameworks/friction_prevention/automation/create_pr.sh
  frameworks/friction_prevention/automation/create_pr_safe.sh
  frameworks/friction_prevention/automation/create_pr_tracking_issue.sh
  frameworks/friction_prevention/automation/execute_automation_plan.sh
  frameworks/friction_prevention/automation/final_automation_execution.sh
  frameworks/friction_prevention/automation/manage_ci_failure_issues.sh
  frameworks/friction_prevention/automation/manual_branch_cleanup.sh
  frameworks/friction_prevention/automation/pr_decision_engine.sh
  frameworks/friction_prevention/automation/setup_automation.sh
  frameworks/friction_prevention/config/framework.conf
  frameworks/friction_prevention/config/framework_integration.sh
  frameworks/friction_prevention/developer_experience/safe_commit.sh
  frameworks/friction_prevention/developer_experience/safe_commit_enhanced.sh
  frameworks/friction_prevention/productivity/analyze_logs.sh
  frameworks/friction_prevention/productivity/check_dependencies.sh
  frameworks/friction_prevention/productivity/generate_aar.py
  frameworks/friction_prevention/workflow/anchors_github.py
  frameworks/friction_prevention/workflow/clean_pytest_artifacts.sh
  frameworks/friction_prevention/workflow/enhanced_token_loader.sh
  frameworks/friction_prevention/workflow/env_security_audit.sh
  frameworks/friction_prevention/workflow/manage_logs.sh
  frameworks/friction_prevention/workflow/monitor_ci_health.sh
  frameworks/friction_prevention/workflow/qc_pre_push.sh
  frameworks/friction_prevention/workflow/run_tests.sh
  frameworks/friction_prevention/workflow/run_tests_with_logging.sh
  frameworks/friction_prevention/workflow/smart_env_sync.sh
  frameworks/friction_prevention/workflow/validate_internal_links.sh
  friction-prevention-script-catalog.md
Due: docs-quality

FIX(ci): resolve PR Issue Automation token authentication conflict
  .github/workflows/pr-issue-automation.yml
Due: terminal-output-policy

REFACTOR(framework): address Copilot code review feedback on Framework Phase 2
  frameworks/friction_prevention/automation/comprehensive_branch_cleanup.sh
  frameworks/friction_prevention/developer_experience/safe_commit.sh
  frameworks/friction_prevention/workflow/smart_env_sync.sh
  friction-prevention-script-catalog.md
Due: docs-quality

DOCS(frameworks): comprehensive Framework Phase 2 documentation
  docs/frameworks/README.md
  docs/frameworks/friction-prevention-integration.md
  docs/frameworks/friction-prevention-quickstart.md
  docs/frameworks/friction-prevention.md
Due: docs-quality, validate-metadata-standards

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  docs/frameworks/friction-prevention-integration.md
  docs/frameworks/friction-prevention-quickstart.md
  docs/frameworks/friction-prevention.md
  friction-prevention-script-catalog.md
Due: docs-quality, validate-metadata-standards

DOCS(framework): add Phase 2 completion documentation
  FRAMEWORK_PHASE2_DOCUMENTATION_COMPLETE.md
Due: docs-quality

FEAT(framework): add Phase 3 Security Validation Framework planning and extended metadata schema implementation guide
  EXTENDED_METADATA_SCHEMA_IMPLEMENTATION.md
  FRAMEWORK_PHASE3_SECURITY_VALIDATION_PLANNING.md
Due: docs-quality

Path conditions:
  terminal-output-policy: any of: \.github/workflows/.*\.ya?ml$
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|pytest\.ini|pyproject\.toml).*$
  milestone-format-validation: any of: ^milestones/.*\.md$
