Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$

FIX(ci): fix YAML syntax error in Auto Fix workflow patch generation
  .github/workflows/auto-fix.yml
Due: none

Checkpoint from VS Code for coding agent session
  pr_body.md
Due: docs-quality

CHORE(ci): initial plan Checkpoint from VS Code for coding agent session
  pr_body.md
Due: docs-quality

FIX(ci): fix diagnostics module execution in CI workflow
  .github/workflows/ci.yml
Due: none

CHORE(ci): update coverage badge
  coverage.svg
Due: none

FIX(ci): skip coverage badge commit/push for pull requests
  .github/workflows/ci.yml
Due: none

Merge pull request #1193 from theangrygamershowproductions/copilot/vscode1756540618332
  pr_body.md
Due: docs-quality

TEST: verify GPG signing works
  test_gpg_verification.txt
Due: none

FIX(ci): limit commit message validation to last week only
  scripts/check_commit_messages.sh
Due: none

docs(ci): archive CI modernization AAR (2025-09-01)
  docs/ci/ci-modernization-2025-09-01-archived.md
Due: docs-quality, validate-metadata-standards

DOCS(ci): update AAR portal
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
Due: none

DOCS(new): Create work_item_template.md
  .github/ISSUE_TEMPLATE/work_item_template.md
Due: docs-quality

DOCS(ci): update documentation for centralized logging policy
  .gitignore
  .markdownlint-cli2.yaml
  .markdownlint-ignore
  .markdownlintignore
  .pre-commit-config.yaml
  frontend/.lighthouseci/config.js
  scripts/clean_pytest_artifacts.sh
Due: none

DOCS(ci): add pre-commit guard and edit banner for archived CI AAR
  .pre-commit-config.yaml
  docs/ci/ci-modernization-2025-09-01-archived.md
Due: docs-quality, validate-metadata-standards

DOCS(ci): archive CI modernization AAR (2025-09-01)
  docs/ci/ci-modernization-2025-09-01-archived.md
Due: docs-quality, validate-metadata-standards

DOCS(ci): update AAR portal
  .github/CODEOWNERS
  .github/workflows/protect-archived-aar.yml
  .pre-commit-config.yaml
Due: none

DOCS(ci): add CI AAR discoverability and archive protection
  .github/CODEOWNERS
  README.md
Due: docs-quality

FIX(ci): resolve Copilot-identified code quality issues
  .github/workflows/ci.yml
  .github/workflows/close-codex-issues.yml
  scripts/clean_pytest_artifacts.sh
  scripts/validate_ci_locally.sh
Due: none

FIX(ci): remove trailing spaces in close-codex-issues.yml
  .github/workflows/close-codex-issues.yml
Due: none

FIX(infrastructure): add missing alembic.ini and fix migrations/env.py
  alembic.ini
  migrations/env.py
Due: none

FIX(diagnostics): move diagnostics module to correct location for CI compatibility
  src/devonboarder/diagnostics.py
Due: pytest

FIX(ci): resolve pre-commit markdownlint and shellcheck issues
  tests/test_diagnostics.py
Due: pytest

FIX(ci): use approved GitHub CLI wrapper for issue operations in close-codex-issues.yml
  .github/workflows/close-codex-issues.yml
Due: none

FIX(docs): add node_modules exclusions to markdownlint configuration
  .markdownlint-cli2.yaml
  .markdownlintignore
Due: none
