Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$

FIX(ci): resolve permissions validation failures
  .codex/bot-permissions.yaml
  .github/workflows/validate-permissions.yml
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/assessment.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/envvar-misalignment.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/secret-alignment.md
Due: docs-quality

FIX(scripts): eliminate shellcheck warnings by inlining PROJECT_ROOT setup
  docs/cache-management-strategy.md
  scripts/run_tests_with_logging.sh
Due: docs-quality, validate-metadata-standards

FIX(scripts): eliminate terminal output violations in PROJECT_ROOT scripts
  scripts/check_project_root.sh
  scripts/set_project_root.sh
Due: none

FIX(ci): implement intelligent PR checklist validation
  scripts/validate_pr_checklist.sh
Due: none

FEAT(ci): add concurrency control to prevent resource waste
  .github/workflows/markdownlint.yml
  .github/workflows/pr-automation.yml
  .github/workflows/root-artifact-monitor.yml
  .github/workflows/validate-permissions.yml
Due: none

FIX(ci): make PR checklist validation more robust
  scripts/validate_pr_checklist.sh
Due: none

FIX(scripts): eliminate terminal output violations in PROJECT_ROOT scripts
  .github/workflows/root-artifact-monitor.yml
Due: none

REFACTOR(ci): implement production-grade root artifact monitoring
  .github/workflows/root-artifact-monitor.yml
  scripts/check_root_artifacts.sh
  scripts/clean_root_artifacts.sh
  scripts/list_root_violations.sh
  scripts/test_check_root_artifacts.sh
Due: none

FIX(ci): Improve CI diagnostic tools and virtual environment handling
  scripts/analyze_ci_patterns.sh
  scripts/run_tests_with_logging.sh
Due: none

FIX(test): Update PR checklist validation test for new process-specific logic
  tests/test_validate_pr_checklist.py
Due: pytest

FIX(aar): implement comprehensive shellcheck and markdownlint compliance
  .devonboarder/cli-shortcuts.json
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/instructions/copilot-instructions.md
  .markdownlint-cli2.yaml
  README.md
  docs/cli-shortcuts.md
  frontend/src/components/Login.test.tsx
  pyproject.toml
  scripts/ensure_logs_structure.sh
  scripts/generate_aar.sh
Due: docs-quality, validate-metadata-standards, pytest

FIX(ci): add json-summary coverage reporters to resolve CI coverage generation failure
  bot/package.json
  frontend/vite.config.ts
Due: none

CHORE(ci): update coverage badge
  coverage.svg
Due: none
