Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: terminal-output-policy, docs-quality, validate-agents, validate-metadata-standards, pytest, milestone-format-validation

terminal-output-policy:
  name: Terminal Output Policy Enforcement
  entry: scripts/validate_terminal_output_simple.sh
  language: script
  stages:
  - pre-commit
  always_run: false
  pass_filenames: false

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

milestone-format-validation:
  name: Milestone Format Validation
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_milestone_format.py milestones/ 2>&1 | tee logs/milestone_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false
  always_run: false
  stages:
  ...

DOCS(copilot): enhance instructions with today's architectural lessons
  .github/copilot-instructions.md
Due: docs-quality

DOCS(copilot): update copilot-instructions.md with comprehensive DevOnboarder guidance
  .github/copilot-instructions.md
  .github/workflows/aar-automation.yml
  scripts/ci-monitor.py
  scripts/file_version_tracker.py
  scripts/fix_utc_timestamp_infrastructure.sh
  scripts/generate_aar.py
  scripts/validate_utc_compliance.sh
Due: terminal-output-policy, docs-quality

FIX(infrastructure): implement standardized UTC timestamp utilities for diagnostic accuracy (#1571)
  .github/copilot-instructions.md
  .github/workflows/aar-automation.yml
  .github/workflows/aar-portal.yml
  .github/workflows/extract-bot-ssh-key.yml
  .github/workflows/priority-matrix-synthesis.yml
  .github/workflows/test-ci-health-framework-bot.yml
  .github/workflows/test-gpg-framework.yml
  UTC_FIX_SUMMARY.md
  docs/PRIORITY_MATRIX_BOT_SETUP.md
  docs/PRIORITY_MATRIX_BOT_SSH_SETUP.md
  docs/TERMINAL_OUTPUT_VIOLATIONS.md
  docs/architecture/framework-bot-strategy.md
  docs/automation-audit-phase3.md
  docs/guides/adding-automated-workflows.md
  docs/guides/gpg-framework-setup.md
  docs/guides/gpg-troubleshooting.md
  docs/templates/README.md
  docs/templates/gpg-automation-workflow.yml
  docs/templates/setup_bot_gpg_key_template.sh
  docs/testing/ci-health-framework-bot-poc.md
  docs/troubleshooting/TIMESTAMP_SYNCHRONIZATION_DIAGNOSTIC_ISSUE.md
  priority-matrix-test.md
  scripts/ci-monitor.py
  scripts/color_utils.sh
  scripts/display_ci_health_bot_credentials.sh
  scripts/file_version_tracker.py
  scripts/fix_utc_timestamp_infrastructure.sh
  scripts/generate_aar.py
  scripts/manual_utc_fix_remaining.sh
  scripts/qc_pre_push.sh
  scripts/setup_aar_bot_gpg_key.sh
  scripts/setup_bot_gpg_key.sh
  scripts/setup_ci_health_bot_gpg_key.sh
  scripts/validate_utc_compliance.sh
  src/utils/timestamp_fallback.py
  src/utils/timestamps.py
  test_quality_gate_1758570536.md
Due: terminal-output-policy, docs-quality, validate-metadata-standards, pytest

fix: resolve centralized logging policy violations and enable blocking mode
  scripts/bulk_dependabot_processor.sh
  scripts/fix_terminal_violations.sh
Due: none

FEAT(frameworks): implement Quality Assurance Framework v1.0.0
  frameworks/quality-assurance/README.md
  frameworks/quality-assurance/VERSION
  frameworks/quality-assurance/code-standards/standards_enforcement_assessment.sh
  frameworks/quality-assurance/formatting/fix_markdown_comprehensive.py
  frameworks/quality-assurance/quality-control/qc_docs.sh
  frameworks/quality-assurance/quality-control/qc_pre_push.sh
  frameworks/quality-assurance/quality-control/validation_summary.sh
  frameworks/quality-assurance/testing/run_tests.sh
  frameworks/quality-assurance/testing/run_tests_with_logging.sh
Due: docs-quality

FIX(frameworks/qa): add backward compatibility symlinks
  frameworks/quality-assurance/README.md
  scripts/fix_markdown_comprehensive.py
  scripts/load_token_environment.sh
  scripts/qc_docs.sh
  scripts/qc_pre_push.sh
  scripts/run_tests.sh
  scripts/run_tests_with_logging.sh
  scripts/standards_enforcement_assessment.sh
  scripts/validation_summary.sh
Due: docs-quality

FIX(frameworks/qa): fix hardcoded script paths and update documentation
  frameworks/quality-assurance/README.md
  frameworks/quality-assurance/quality-control/qc_pre_push.sh
Due: docs-quality

FIX(frameworks/qa): resolve CI blocking issues - path fixes and YAML linting
  .github/workflows/aar-automation.yml
  frameworks/quality-assurance/quality-control/qc_pre_push.sh
Due: terminal-output-policy

FIX(frameworks/qa): address all Copilot inline comments - variable quoting, path resolution, script references, and markdown formatting
  frameworks/quality-assurance/README.md
  frameworks/quality-assurance/quality-control/qc_docs.sh
  frameworks/quality-assurance/quality-control/qc_pre_push.sh
  frameworks/quality-assurance/quality-control/validation_summary.sh
  scripts/load_token_environment.sh
Due: docs-quality

FIX(frameworks/qa): fix final markdown code block formatting issue in README.md
  frameworks/quality-assurance/README.md
Due: docs-quality

FIX(ci): fetch base branch in CI for commit message validation
  .github/workflows/ci.yml
Due: terminal-output-policy

FIX(ci): make commit message validation more robust for CI
  scripts/check_commit_messages.sh
Due: none

FIX(ci): fix commit message validation fallback logic
  scripts/check_commit_messages.sh
Due: none

FIX(ci): fetch base branch for both push and PR events
  .github/workflows/ci.yml
Due: terminal-output-policy

FIX(ci): use local main branch reference for commit validation
  scripts/check_commit_messages.sh
Due: none

FIX(qc): show commit message validation output for debugging CI failures
  frameworks/quality-assurance/quality-control/qc_pre_push.sh
Due: none

FIX(qc): resolve symlinks in SCRIPT_DIR calculation to fix REPO_ROOT in CI
  frameworks/quality-assurance/quality-control/qc_pre_push.sh
Due: none

feat: implement Quality Assurance Framework v1.0.0 (#1642)
  .github/workflows/aar-automation.yml
  .github/workflows/ci.yml
  frameworks/quality-assurance/README.md
  frameworks/quality-assurance/VERSION
  frameworks/quality-assurance/code-standards/standards_enforcement_assessment.sh
  frameworks/quality-assurance/formatting/fix_markdown_comprehensive.py
  frameworks/quality-assurance/quality-control/qc_docs.sh
  frameworks/quality-assurance/quality-control/qc_pre_push.sh
  frameworks/quality-assurance/quality-control/validation_summary.sh
  frameworks/quality-assurance/testing/run_tests.sh
  frameworks/quality-assurance/testing/run_tests_with_logging.sh
  scripts/check_commit_messages.sh
  scripts/fix_markdown_comprehensive.py
  scripts/load_token_environment.sh
  scripts/qc_docs.sh
  scripts/qc_pre_push.sh
  scripts/run_tests.sh
  scripts/run_tests_with_logging.sh
  scripts/standards_enforcement_assessment.sh
  scripts/validation_summary.sh
Due: terminal-output-policy, docs-quality

DOCS(archive): archive outdated Quality Assurance Framework migration files
  archive/README.md
  archive/old-quality-assurance-framework/README.md
  archive/old-quality-assurance-framework/compliance/security_audit.sh
  archive/old-quality-assurance-framework/quality_control/qc_pre_push.sh
  archive/old-quality-assurance-framework/testing/run_tests.sh
  archive/old-quality-assurance-framework/validation/validate-bot-permissions.sh
  archive/old-quality-assurance-framework/validation/validate_cache_centralization.sh
  archive/old-quality-assurance-framework/validation/validate_log_centralization.sh
  archive/old-quality-assurance-framework/validation/validate_terminal_output.sh
  archive/phase1-migration-scripts/phase1_dependency_analysis.sh
  archive/phase1-migration-scripts/phase1_diagnostic_assessment.sh
  archive/phase1-migration-scripts/phase1_migration_verification.sh
  archive/phase1-migration-scripts/phase1_pre_migration_validation.sh
  archive/phase1-migration-scripts/phase1_pre_migration_validation_accurate.sh
  archive/phase1-migration-scripts/temp_qa_script_categorization.md
  frameworks/build_deployment/README.md
  frameworks/monitoring_automation/README.md
  phase1_pre_migration_validation.sh
  templates/pr/framework.md
Due: docs-quality

DOCS(archive): fix archive README formatting from pre-commit hooks
  archive/README.md
Due: docs-quality

docs: archive outdated Quality Assurance Framework migration files (#1647)
  archive/README.md
  archive/old-quality-assurance-framework/README.md
  archive/old-quality-assurance-framework/compliance/security_audit.sh
  archive/old-quality-assurance-framework/quality_control/qc_pre_push.sh
  archive/old-quality-assurance-framework/testing/run_tests.sh
  archive/old-quality-assurance-framework/validation/validate-bot-permissions.sh
  archive/old-quality-assurance-framework/validation/validate_cache_centralization.sh
  archive/old-quality-assurance-framework/validation/validate_log_centralization.sh
  archive/old-quality-assurance-framework/validation/validate_terminal_output.sh
  archive/phase1-migration-scripts/phase1_dependency_analysis.sh
  archive/phase1-migration-scripts/phase1_diagnostic_assessment.sh
  archive/phase1-migration-scripts/phase1_migration_verification.sh
  archive/phase1-migration-scripts/phase1_pre_migration_validation.sh
  archive/phase1-migration-scripts/phase1_pre_migration_validation_accurate.sh
  archive/phase1-migration-scripts/temp_qa_script_categorization.md
  frameworks/build_deployment/README.md
  frameworks/monitoring_automation/README.md
  phase1_pre_migration_validation.sh
  templates/pr/framework.md
Due: docs-quality

FEAT(framework): implement framework validation system
  .github/workflows/ci.yml
  frameworks/quality-assurance/README.md
Due: terminal-output-policy, docs-quality

FEAT(new): add framework audit script for CI validation
  scripts/audit_frameworks.sh
Due: none

FEAT(ci): implement framework validation system with centralized logging fixes
  .github/workflows/ci.yml
  frameworks/build-deployment/build_automation/clean_pytest_artifacts.sh
  frameworks/build-deployment/build_automation/clean_root_artifacts.sh
  frameworks/build-deployment/continuous_integration/analyze_ci_patterns.sh
  frameworks/build-deployment/continuous_integration/analyze_failed_ci_runs.sh
  frameworks/build-deployment/continuous_integration/assess_pr_health.sh
  frameworks/build-deployment/continuous_integration/batch_close_ci_noise.sh
  frameworks/build-deployment/continuous_integration/ci_troubleshoot.sh
  frameworks/build-deployment/environment_management/audit_env_vars.sh
  frameworks/build-deployment/environment_management/auto_environment_setup.sh
  frameworks/build-deployment/environment_management/check_environment_consistency.sh
  frameworks/monitoring-automation/health_checks/assess_pr_health_robust.sh
  frameworks/monitoring-automation/health_checks/check_automerge_health.sh
  frameworks/monitoring-automation/health_checks/comprehensive_token_health_check.sh
  frameworks/monitoring-automation/monitoring_scripts/analyze_ci_patterns_robust.sh
  frameworks/monitoring-automation/monitoring_scripts/coverage_monitor.sh
  scripts/audit_frameworks.sh
  test_quality_gate_1758697734.md
Due: terminal-output-policy, docs-quality

FIX(docs): resolve markdown formatting issues in quality-assurance README
  frameworks/quality-assurance/README.md
Due: docs-quality

FEAT(framework): implement framework validation system
  frameworks/build-deployment/environment_management/smart_env_sync.sh
  frameworks/monitoring-automation/README.md
  templates/pr/framework.md
Due: docs-quality

FIX(ci): exclude server.py from auth service coverage config
  config/.coveragerc.auth
Due: none

FIX(framework): resolve terminal output violations and improve error handling
  frameworks/quality-assurance/code-standards/standards_enforcement_assessment.sh
  frameworks/quality-assurance/quality-control/qc_docs.sh
  frameworks/quality-assurance/quality-control/qc_pre_push.sh
  frameworks/quality-assurance/quality-control/validation_summary.sh
  frameworks/quality-assurance/testing/run_tests_with_logging.sh
Due: none

FIX(ci): remove problematic frameworks_audit.md file
  frameworks_audit.md
Due: docs-quality

FEAT(framework): implement framework validation system
  docs/guides/gpg-automation-development.md
  frameworks_audit.md
Due: docs-quality, validate-metadata-standards

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  test_quality_gate_1758695111.md
  test_quality_gate_1758697734.md
  test_quality_gate_1758703446.md
Due: docs-quality

CHORE(CI): FORMAT VERIFY_VERSIONS.PY
  .github/actions/enforce-versions/README.md
  .github/actions/enforce-versions/action.yml
  .github/workflows/pr-gates.yml
  scripts/verify_versions.py
  versions.yaml
Due: terminal-output-policy, docs-quality

CHORE(CI): UPGRADE CHECKOUT TO actions/checkout@v5 + fix verifier
  .github/workflows/pr-gates.yml
  scripts/verify_versions.py
Due: terminal-output-policy

CHORE(ci): allow major.minor matching and add minimal workflow permissions
  .github/workflows/pr-gates.yml
  scripts/verify_versions.py
  versions.yaml
Due: terminal-output-policy

CHORE(ci): move permissions to enforce-bom job per docs
  .github/workflows/pr-gates.yml
Due: terminal-output-policy

CHORE(ci): move GitHub Actions toolkit deps into in-repo action folder
  .github/actions/ci-toolkit/package-lock.json
  .github/actions/ci-toolkit/package.json
Due: none

Path conditions:
  terminal-output-policy: any of: \.github/workflows/.*\.ya?ml$
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|pytest\.ini|pyproject\.toml).*$
  milestone-format-validation: any of: ^milestones/.*\.md$
