Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

FIX(ci): remove overly restrictive path filtering to ensure tests run consistently
  .github/workflows/ci.yml
Due: none

CHORE(ci): update coverage badge
  coverage.svg
Due: none

FIX(ci): correct commit message format in coverage badge automation
  .github/workflows/ci.yml
Due: none

FEAT(ci): add comprehensive AI-ready CI failure dashboard
  docs/ci-dashboard.md
Due: docs-quality, validate-metadata-standards

FIX(automation): standardize all automated commit messages to uppercase conventional format
  .codex/agents/code_quality_agent.md
  .codex/agents/tags/ci_root_artifact_guard.md
  CI_RESOLUTION_REPORT.md
  docs/git/Git.md
  docs/git/README.md
  scripts/automate_pr_process.sh
  scripts/finish_strong.sh
Due: docs-quality, validate-agents, validate-metadata-standards

FIX(ci): correct auto-fix workflow commit message format to uppercase
  .github/workflows/auto-fix.yml
Due: none

FIX(security): replace xlsx with CSV output to resolve high-severity vulnerabilities
  bot/package-lock.json
  bot/package.json
  bot/src/commands/dependency_inventory.ts
  bot/tests/dependency_inventory.test.ts
Due: none

FIX(ci): redirect mypy cache to logs directory to prevent root artifact pollution
  .github/workflows/ci.yml
Due: none

DOCS(guidelines): switch CI commit example to CHORE
  .github/copilot-instructions.md
  .github/instructions/copilot-instructions.md
  docs/CHANGELOG.md
Due: docs-quality, validate-metadata-standards

DOCS(git): clarify CHORE usage in commit examples
  docs/CHANGELOG.md
  docs/git-guidelines.md
Due: docs-quality, validate-metadata-standards

CHORE(scripts): fix all shellcheck errors and complete branch cleanup system
  BRANCH_CLEANUP_ANALYSIS.md
  BRANCH_PROTECTION_SUMMARY.md
  PRE_COMMIT_ERROR_RESOLUTION.md
  coverage.svg
  scripts/cleanup_branches.sh
  scripts/commit_changes.sh
  scripts/comprehensive_branch_cleanup.sh
  scripts/manual_branch_cleanup.sh
  scripts/quick_branch_cleanup.sh
  scripts/verify_and_commit.sh
Due: docs-quality

CHORE(ci): sync commit lint script with hook
  docs/CHANGELOG.md
  docs/git-guidelines.md
  docs/git/Git.md
  scripts/check_commit_messages.sh
Due: docs-quality, validate-metadata-standards

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$
