Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$

docs: update AAR portal
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
Due: none

FEAT(infrastructure): implement cloudflare tunnel architecture and fix discord bot ES modules
  .gitignore
  IMPLEMENTATION_STATUS_REPORT.md
  bot/src/commands/contribute.ts
  bot/src/commands/profile.ts
  bot/src/commands/verify.ts
  bot/src/main.ts
  scripts/manage_cloudflare_tunnel.sh
Due: docs-quality

REVERT(infrastructure): revert cloudflare tunnel architecture and discord bot ES modules
  .gitignore
  IMPLEMENTATION_STATUS_REPORT.md
  bot/src/commands/contribute.ts
  bot/src/commands/profile.ts
  bot/src/commands/verify.ts
  bot/src/main.ts
  scripts/manage_cloudflare_tunnel.sh
Due: docs-quality

FIX(scripts): resolve pytest cleanup and shellcheck validation issues
  .github/copilot-instructions.md
  .github/workflows/aar-automation.yml
  .github/workflows/code-review-bot.yml
  .github/workflows/no-verify-policy.yml
  .github/workflows/pr-automation.yml
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  README.md
  bot/scripts/test-guild-connections.js
  bot/tsconfig.json
  coverage.svg
  docker-compose.tags.dev.yaml
  docker-compose.tags.prod.yaml
  docs/CHANGELOG.md
  docs/NO_VERIFY_POLICY.md
  docs/NO_VERIFY_QUICK_REFERENCE.md
  docs/README.md
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
  docs/ci-dashboard.md
  docs/ci-failure-issues.md
  docs/v1/CHANGELOG.md
  docs/v1/README.md
  scripts/assess_staged_task_readiness.sh
  scripts/clean_pytest_artifacts.sh
  scripts/git_safety_wrapper.sh
  scripts/project_root_wrapper.sh
  scripts/show_no_verify_enforcement.sh
  scripts/validate_no_verify_usage.sh
  src/devonboarder/dashboard_service.py
  tests/test_dashboard_service.py
  tests/test_docker_compose.py
Due: docs-quality, validate-metadata-standards, pytest

FEAT(infrastructure): add development Docker configuration and database initialization
  auth/Dockerfile.dev
  bot/Dockerfile.dev
  docker-compose.dev.yaml
  frontend/Dockerfile.dev
  init-db.sql
  scripts/init-db.sql
Due: none

DOCS(cloudflare): add Cloudflare tunnel architecture and service documentation
  docs/CLOUDFLARE_TUNNEL_GUIDE.md
  docs/service-api-contracts.md
  docs/strategic-split-assessment.md
Due: docs-quality, validate-metadata-standards

FEAT(codex): add staged task documentation and strategic readiness diagnostics
  codex/tasks/staged/agent_documentation_and_validation_system_enhancement.md
  codex/tasks/staged/ci_workflow_token_security_and_authentication_enhancement.md
  codex/tasks/staged/enhanced_terminal_output_valdation_and_enforcement_system.md
  codex/tasks/staged/implement_codex_catch_system.md
  codex/tasks/staged/implement_modular_runtime_and_module_manifest.md
  codex/tasks/staged/implement_mvp_quality_gates_framework.md
  codex/tasks/staged/mvp_task_staging_overview.md
  codex/tasks/staged/root_artifcact_guard_and_ci_hygiene_system_enhancement.md
  codex/tasks/strategic_split_readiness_diagnostic_COMPLETE.md
Due: docs-quality

FEAT(scripts): add strategic analysis tools and safe commit wrapper
  scripts/analyze_service_dependencies.sh
  scripts/catalog_shared_resources.sh
  scripts/check_jest_config.sh
  scripts/extract_service_interfaces.py
  scripts/safe_commit.sh
  scripts/validate_split_readiness.sh
Due: none

DOCS(project): add comprehensive implementation summaries and project documentation
  CACHE_MANAGEMENT_IMPLEMENTATION.md
  CLOUDFLARE_TUNNEL_IMPLEMENTATION_COMPLETE.md
  DEPENDENCY_TROUBLESHOOTING_ENHANCEMENTS.md
  INFRASTRUCTURE_COMPLETE.md
  INSTRUCTION_ENHANCEMENT_SUMMARY.md
  INTEGRATION_COMPLETE.md
  PROJECT_CLEANUP_AND_STAGED_TASK_ANALYSIS.md
  PROJECT_QUICK_REFERENCE.md
  THREE_PROJECT_FRAMEWORK_IMPLEMENTATION_COMPLETE.md
Due: docs-quality

DOCS(project): add comprehensive project implementation summaries
  scripts/safe_commit.sh
Due: none

CHORE(cleanup): add markdown linting utilities and PR documentation
  pr_comment.md
  scripts/fix_mvp_markdown_lint.sh
  scripts/fix_mvp_markdown_lint_simple.sh
Due: docs-quality

CHORE(cleanup): remove duplicate markdown linting script
  scripts/fix_mvp_markdown_lint_simple.sh
Due: none

FEAT(architecture): add single domain architecture summary and enhance safe commit logging
  .codespell-ignore
  .dockerignore
  SINGLE_DOMAIN_ARCHITECTURE_SUMMARY.md
  docs/enhanced-potato-policy.md
  scripts/safe_commit.sh
Due: docs-quality, validate-metadata-standards

CHORE(cleanup): commit remaining files from architecture implementation
  .gitignore
  IMPLEMENTATION_STATUS_REPORT.md
  scripts/fix_mvp_markdown_lint.sh
  scripts/manage_cloudflare_tunnel.sh
Due: docs-quality

DOCS(instructions): enhance agent guidelines with session learnings
  .github/copilot-instructions.md
Due: docs-quality

FEAT(ci): add centralized GitHub issue wrapper to fix CI policy violations
  .github/workflows/pr-issue-automation.yml
  .github/workflows/pr-merge-cleanup.yml
  scripts/ci_gh_issue_wrapper.sh
Due: none

FIX(ci): improve centralized logging policy validation for mypy cache exclusion
  scripts/validate_log_centralization.sh
Due: none

FIX(ci): correct bot permission script name in workflows
  .github/workflows/audit-retro-actions.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/close-codex-issues.yml
  .github/workflows/env-doc-alignment.yml
  .github/workflows/notify.yml
  .github/workflows/secrets-alignment.yml
Due: none

FEAT(ci): add orchestration_bot permissions for cleanup workflow
  agents/permissions.yml
Due: none

FIX(ci): create documentation-quality workflow to resolve empty file error
  .github/workflows/documentation-quality.yml
Due: none

FEAT(cloudflare): implement Cloudflare tunnel multi-subdomain architecture (Phase 1)
  CLOUDFLARE_TUNNEL_PHASE1_COMPLETE.md
  config/cloudflare/tunnel-config.yml
  docker-compose.dev.yaml
  scripts/setup_tunnel.sh
  scripts/validate_tunnel_setup.sh
Due: docs-quality

FEAT(cloudflare): implement Cloudflare tunnel Phase 2 - Integration & CORS Testing
  CLOUDFLARE_TUNNEL_PHASE2_COMPLETE.md
  scripts/phase2_start_and_test.sh
  scripts/test_tunnel_integration.sh
  scripts/validate_cors_configuration.sh
Due: docs-quality

FIX(frontend): restore missing Tailwind CSS configuration and dependencies
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/tailwind.config.js
Due: none

DOCS(learn): add comprehensive environment variable management lessons learned and update agent guidelines
  .github/copilot-instructions.md
  docs/LESSONS_LEARNED_ENV_MANAGEMENT.md
Due: docs-quality, validate-metadata-standards

FEAT(docker): Add comprehensive health checks for bot and cloudflare tunnel with centralized logging
  .codespell-ignore
  .dockerignore
  .gitignore
  README.md
  bot/health-check.js
  docker-compose.dev.yaml
  docs/troubleshooting/CENTRALIZED_LOGGING_PERMISSIONS.md
  docs/troubleshooting/DISCORD_BOT_HEALTH_CHECK_FIX.md
  docs/troubleshooting/DOCKER_CONTAINER_HEALTH_TROUBLESHOOTING.md
  docs/troubleshooting/README.md
  tests/test_auth_service.py
  tests/test_plugins.py
Due: docs-quality, validate-metadata-standards, pytest

FEAT(environment): implement centralized environment file hierarchy and Discord bot fixes
  bot/deploy.sh
  bot/package.json
  bot/scripts/deploy-commands.js
  bot/src/commands/contribute.ts
  bot/src/commands/profile.ts
  bot/src/commands/verify.ts
  docker-compose.dev.yaml
  docker-compose.prod.yaml
Due: none

FEAT(infra): implement centralized environment variable management with security audit system
  .env.ci
  config/env-sync-config.yaml
  scripts/env_security_audit.sh
  scripts/manage_cloudflare_tunnel.sh
  scripts/phase2_complete_test.sh
  scripts/smart_env_sync.sh
  scripts/sync_env_variables.sh
  scripts/test_tunnel_integration.sh
  scripts/validate_cors_configuration.sh
  scripts/validate_tunnel_setup.sh
Due: none

FIX(frontend): resolve host blocking and missing react-router-dom dependency
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: none

FIX(frontend): downgrade Tailwind CSS to stable v3.4.17
  frontend/package-lock.json
  frontend/package.json
Due: none

FEAT(auth): implement Discord OAuth integration with frontend authentication UI
  bot/src/main.ts
  config/cloudflare/tunnel-config.yml
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/ProtectedDashboard.tsx
  frontend/src/components/PublicLandingPage.tsx
  scripts/setup_tunnel.sh
  src/devonboarder/auth_service.py
Due: pytest

REFACTOR(docker): Move health check from volume mount to built-in image
  bot/Dockerfile.dev
  docker-compose.dev.yaml
Due: none

DOCS(agents): add multi-service Docker and ES modules troubleshooting patterns
  .github/copilot-instructions.md
Due: docs-quality

FEAT(frontend): use environment variables for Vite allowed hosts configuration
  frontend/vite.config.ts
Due: none

FEAT(infrastructure): implement single domain architecture with subdomain routing
  .env.ci
  SINGLE_DOMAIN_ARCHITECTURE.md
  bot/config/roles.json
  bot/start-dev.sh
  bot/start-prod.sh
  docker-compose.dev.yaml
  src/devonboarder/auth_service.py
  src/devonboarder/dashboard_service.py
  tests/test_auth_service.py
  tests/test_docker_compose.py
Due: docs-quality, pytest
