Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: terminal-output-policy, docs-quality, validate-agents, validate-metadata-standards, pytest, milestone-format-validation

terminal-output-policy:
  name: Terminal Output Policy Enforcement
  entry: scripts/validate_terminal_output_simple.sh
  language: script
  stages:
  - pre-commit
  always_run: false
  pass_filenames: false

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

milestone-format-validation:
  name: Milestone Format Validation
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_milestone_format.py milestones/ 2>&1 | tee logs/milestone_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false
  always_run: false
  stages:
  ...

FIX(tokens): correct PR Issue Automation to use AAR_BOT_TOKEN for AAR operations
  .github/workflows/pr-issue-automation.yml
  scripts/ci_gh_issue_wrapper.sh
  scripts/create_pr_tracking_issue.sh
Due: terminal-output-policy

FIX(workflows): correct token fallback logic in cleanup-ci-failure.yml
  .github/workflows/cleanup-ci-failure.yml
Due: terminal-output-policy

FIX(workflows): fix token fallback logic in aar-portal.yml
  .github/workflows/aar-portal.yml
Due: terminal-output-policy

FIX(workflows): fix token fallback logic in ci.yml
  .github/workflows/ci.yml
Due: terminal-output-policy

FIX(workflows): fix token fallback logic in aar-automation.yml
  .github/workflows/aar-automation.yml
Due: terminal-output-policy

FIX(workflows): fix token fallback logic in priority-matrix-synthesis.yml
  .github/workflows/priority-matrix-synthesis.yml
Due: terminal-output-policy

FIX(workflows): fix token fallback logic in ci-health.yml
  .github/workflows/ci-health.yml
Due: terminal-output-policy

FIX(workflows): fix token fallback logic in ci-monitor.yml and post-merge-cleanup.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/post-merge-cleanup.yml
Due: terminal-output-policy

FIX(workflows): fix token fallback logic in potato-policy-focused.yml and test-gpg-framework.yml
  .github/workflows/potato-policy-focused.yml
  .github/workflows/test-gpg-framework.yml
Due: terminal-output-policy

FIX(workflows): fix token fallback logic in pr-issue-automation.yml
  .github/workflows/pr-issue-automation.yml
Due: terminal-output-policy

FIX(workflows): resolve authentication conflicts in cleanup and AAR workflows (#1786)
  .github/actions/setup-gh-cli/action.yml
  .github/workflows/aar-automation.yml
  .github/workflows/aar-portal.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/post-merge-cleanup.yml
  .github/workflows/potato-policy-focused.yml
  .github/workflows/pr-issue-automation.yml
  .github/workflows/priority-matrix-synthesis.yml
  .github/workflows/test-gpg-framework.yml
  scripts/ci_gh_issue_wrapper.sh
  scripts/create_pr_tracking_issue.sh
Due: terminal-output-policy

FIX(aar): resolve artifact dependency issue in security-audit job
  .github/workflows/aar-generator.yml
  scripts/fix_workflow_token_fallback.py
Due: terminal-output-policy

FIX(ci): Skip PR Issue Automation for dependabot PRs
  .github/workflows/pr-issue-automation.yml
Due: terminal-output-policy

FIX(ci): Skip PR Issue Automation for dependabot PRs (#1802)
  .github/workflows/pr-issue-automation.yml
Due: terminal-output-policy

DOCS(aar): update AAR portal [signed]
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
Due: none

REFACTOR(ecosystem): standardize branch references to main only
  .automation-config.json
  .github/workflows/potato-policy-focused.yml
  .github/workflows/pr-automation.yml
  .github/workflows/pr-issue-automation.yml
  .github/workflows/pr-merge-cleanup.yml
  docs/EXTERNAL_PR_SECURITY_GUIDE.md
  docs/about-potato.md
  frameworks/build-deployment/continuous_integration/ci_troubleshooting_framework.sh
  frameworks/build-deployment/deployment_scripts/setup_automation.sh
  frameworks/friction_prevention/automation/setup_automation.sh
  frameworks/monitoring-automation/automation_orchestration/setup_automation.sh
  scripts/check_instruction_quality.sh
  scripts/ci_troubleshooting_framework.sh
  scripts/generate_milestone.sh
  scripts/manage_github_actions_deps.py
  scripts/milestone_integration.sh
  scripts/setup_automation.sh
Due: terminal-output-policy, docs-quality, validate-metadata-standards

DOCS(ecosystem): add AI context management standards to documentation
  docs/EXTERNAL_PR_SECURITY_GUIDE.md
  docs/about-potato.md
Due: docs-quality, validate-metadata-standards

DOCS(quality): fix line length violations in documentation files
  docs/EXTERNAL_PR_SECURITY_GUIDE.md
  docs/about-potato.md
  scripts/check_instruction_quality.sh
Due: docs-quality, validate-metadata-standards

DOCS(monitoring): add acceptance criteria and fix line length violations
  TOKEN_EXPIRY_MONITORING_README.md
  docs/external-pr-maintainer-procedures.md
  docs/external-pr-tier3-summary.md
  scripts/safe_commit.sh
Due: docs-quality, validate-metadata-standards

FEAT(monitoring): add token expiry monitoring system
  scripts/token_expiry_integrator.py
  test_end.sh
  test_syntax.sh
Due: none

CLEANUP(ecosystem): comprehensive DevOnboarder workspace organization and logging infrastructure
  .codex/bot-permissions.yaml
  agents/permissions.yml
  archive/temp_files/fix_gpg_key_instructions.md
  archive/temp_files/fix_ssh_signature_verification.md
  archive/temp_files/test_quality_gate_1757109715.md
  archive/temp_files/test_quality_gate_1758570536.md
  archive/temp_files/test_quality_gate_1758695111.md
  archive/temp_files/test_quality_gate_1758697734.md
  archive/temp_files/test_quality_gate_1758703446.md
  archive/temp_files/test_quality_gate_1759123749.md
  archive/temp_files/test_quality_gate_1759123754.md
  scripts/check_instruction_quality.sh
  scripts/fix/fix_aar_markdown.py
  scripts/fix/fix_all_issues.sh
  scripts/fix/fix_all_markdown.sh
  scripts/fix/fix_coverage_doc.sh
  scripts/fix/fix_duplicate_tags.py
  scripts/fix/fix_duplicate_tags.sh
  scripts/fix/fix_final_markdown.py
  scripts/fix/fix_markdown.py
  scripts/fix/fix_markdown_comprehensive.py
  scripts/fix/fix_markdown_formatting.py
  scripts/fix/fix_markdown_spacing.sh
  scripts/fix/fix_terminal_output.py
  scripts/qc_pre_push.sh
  scripts/safe_commit.sh
  scripts/setup_real_tokens.sh
  scripts/test/test_end.sh
  scripts/test/test_syntax.sh
  scripts/test_token_setup.sh
  scripts/token_expiry_monitor.sh
  scripts/token_expiry_scheduler.sh
  scripts/utility/bulk_markdown_fix.sh
  scripts/utility/cleanup_test_credentials.sh
  scripts/utility/create_strategic_pr_issue.sh
  scripts/utility/integrate_auto_fixers.sh
  scripts/utility/simple_sync.sh
Due: docs-quality

FIX(scripts): Update PR creation script to use correct GitHub labels
  scripts/create_pr.sh
Due: none

DOCS(agents): Add AGENTS.md file for DevOnboarder ecosystem guidelines
  AGENTS.md
Due: docs-quality

FIX(gitignore): Add comprehensive patterns to prevent garbage file commits
  .gitignore
Due: none

FIX(ci): Restore versions.yaml and remove from .gitignore - required for PR Gates
  .gitignore
  versions.yaml
Due: none

CLEANUP(repo): Remove broken internal links to deleted files
  milestones/2025-09/2025-09-09-enhancement-strategic-foundation-systems-implementation.md
  milestones/2025-09/2025-09-19-infrastructure-phase2-terminal-output-compliance-complete.md
Due: docs-quality, milestone-format-validation

FEAT(ci): add commit status creation for branch protection
  .github/workflows/ci.yml
  .github/workflows/root-artifact-monitor.yml
Due: terminal-output-policy

FIX(ci): add statuses write permission for branch protection
  .github/workflows/ci.yml
  .github/workflows/root-artifact-monitor.yml
Due: terminal-output-policy

DEBUG(ci): add logging to status creation step
  .github/workflows/root-artifact-monitor.yml
Due: terminal-output-policy

DEBUG(ci): add error handling to status creation
  .github/workflows/root-artifact-monitor.yml
Due: terminal-output-policy

FIX(ci): use gh CLI for status creation instead of github-script
  .github/workflows/root-artifact-monitor.yml
Due: terminal-output-policy

FIX(ci): use curl with GITHUB_TOKEN for status creation
  .github/workflows/root-artifact-monitor.yml
Due: terminal-output-policy

DEBUG(ci): add debug logging for status creation
  .github/workflows/root-artifact-monitor.yml
Due: terminal-output-policy

Path conditions:
  terminal-output-policy: any of: \.github/workflows/.*\.ya?ml$
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|pytest\.ini|pyproject\.toml).*$
  milestone-format-validation: any of: ^milestones/.*\.md$
