Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: terminal-output-policy, docs-quality, validate-agents, validate-metadata-standards, pytest, milestone-format-validation

terminal-output-policy:
  name: Terminal Output Policy Enforcement
  entry: scripts/validate_terminal_output_simple.sh
  language: script
  stages:
  - pre-commit
  always_run: false
  pass_filenames: false

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

milestone-format-validation:
  name: Milestone Format Validation
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_milestone_format.py milestones/ 2>&1 | tee logs/milestone_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false
  always_run: false
  stages:
  ...

DOCS(framework): add comprehensive validation report for Script Framework Organization v1.0.0
  FRAMEWORK_VALIDATION_REPORT.md
Due: docs-quality

FIX(qc): add TEMP as legacy commit format exception for framework organization merge
  frameworks/quality-assurance/checking/check_commit_messages.sh
Due: none

FIX(qc): update qc_pre_push.sh to use framework path for commit message validation
  scripts/qc_pre_push.sh
Due: none

FIX(qc): update qc_pre_push.sh to use framework path for documentation validation
  scripts/qc_pre_push.sh
Due: none

CLEANUP(bot): remove temporary SSH key extraction workflow
  .github/workflows/extract-bot-ssh-key.yml
Due: terminal-output-policy

DOCS(aar): update AAR portal
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
Due: none

FEAT(frameworks): implement Phase 1 Quality Assurance Framework structure and initial migration
  frameworks/quality_assurance/README.md
  frameworks/quality_assurance/compliance/security_audit.sh
  frameworks/quality_assurance/quality_control/qc_pre_push.sh
  frameworks/quality_assurance/testing/run_tests.sh
  frameworks/quality_assurance/validation/validate-bot-permissions.sh
  frameworks/quality_assurance/validation/validate_cache_centralization.sh
  frameworks/quality_assurance/validation/validate_log_centralization.sh
  frameworks/quality_assurance/validation/validate_terminal_output.sh
  phase1_dependency_analysis.sh
  phase1_migration_verification.sh
  phase1_pre_migration_validation.sh
  phase1_pre_migration_validation_accurate.sh
Due: docs-quality

FIX(scripts): add zsh-safe PR creation utility to prevent shell interpretation issues
  docs/troubleshooting/common-issues-resolution.md
  scripts/create_pr_safe.sh
Due: docs-quality, validate-metadata-standards

FIX(validation): remove emoji usage to comply with ZERO TOLERANCE terminal output policy
  frameworks/quality_assurance/validation/validate_log_centralization.sh
Due: none

FEAT(frameworks): implement Phase 2 Build & Deployment Framework initial structure
  frameworks/build_deployment/README.md
  frameworks/build_deployment/continuous_integration/analyze_ci_patterns.sh
  frameworks/build_deployment/continuous_integration/validate_ci_locally.sh
  frameworks/build_deployment/deployment_scripts/orchestrate-dev.sh
  frameworks/build_deployment/deployment_scripts/orchestrate-staging.sh
  frameworks/build_deployment/environment_management/setup-env.sh
  frameworks/build_deployment/environment_management/smart_env_sync.sh
Due: docs-quality

FEAT(frameworks): continue Phase 2 Build & Deployment Framework migration
  frameworks/build_deployment/build_automation/analyze_service_dependencies.sh
  frameworks/build_deployment/build_automation/check_dependencies.sh
  frameworks/build_deployment/build_automation/clean_pytest_artifacts.sh
  frameworks/build_deployment/build_automation/clean_root_artifacts.sh
  frameworks/build_deployment/build_automation/enhanced_root_artifact_guard.sh
  frameworks/build_deployment/build_automation/manage_logs.sh
  frameworks/build_deployment/build_automation/manage_test_artifacts.sh
  frameworks/build_deployment/build_automation/run_tests_with_logging.sh
  frameworks/build_deployment/continuous_integration/analyze_failed_ci_runs.sh
  frameworks/build_deployment/continuous_integration/batch_close_ci_noise.sh
  frameworks/build_deployment/continuous_integration/ci_recovery_system.sh
  frameworks/build_deployment/continuous_integration/ci_troubleshoot.sh
  frameworks/build_deployment/continuous_integration/ci_troubleshooting_framework.sh
  frameworks/build_deployment/continuous_integration/enhanced_ci_failure_analysis.sh
  frameworks/build_deployment/continuous_integration/monitor_ci_health.sh
  frameworks/build_deployment/continuous_integration/quick_ci_dashboard.sh
  frameworks/build_deployment/continuous_integration/rapid_ci_cleanup.sh
  frameworks/build_deployment/deployment_scripts/deployment_summary.sh
  frameworks/build_deployment/deployment_scripts/dev_setup.sh
  frameworks/build_deployment/deployment_scripts/next_steps_deployment.sh
  frameworks/build_deployment/deployment_scripts/orchestrate-prod.sh
  frameworks/build_deployment/deployment_scripts/setup_automation.sh
  frameworks/build_deployment/deployment_scripts/setup_vscode_integration.sh
  frameworks/build_deployment/environment_management/audit_env_vars.sh
  frameworks/build_deployment/environment_management/auto_environment_setup.sh
  frameworks/build_deployment/environment_management/check_environment_consistency.sh
  frameworks/build_deployment/environment_management/env_security_audit.sh
  frameworks/build_deployment/environment_management/load_token_environment.sh
  frameworks/build_deployment/environment_management/sync_env_variables.sh
Due: none

FEAT(frameworks): complete Phase 2 Build & Deployment Framework migration
  frameworks/build_deployment/build_automation/qc_with_autofix.sh
  frameworks/build_deployment/build_automation/run_tests.sh
  frameworks/build_deployment/build_automation/setup_tests.sh
  frameworks/build_deployment/build_automation/test_coverage_implementation.sh
  frameworks/build_deployment/continuous_integration/assess_pr_health.sh
  frameworks/build_deployment/continuous_integration/auto_fix_terminal_violations.sh
  frameworks/build_deployment/continuous_integration/workflow_health_validator.sh
  frameworks/build_deployment/deployment_scripts/setup_tunnel.sh
  frameworks/build_deployment/deployment_scripts/validate_tunnel_setup.sh
  frameworks/build_deployment/deployment_scripts/wait_for_service.sh
  frameworks/build_deployment/environment_management/migrate_tokens_from_env.sh
  frameworks/build_deployment/environment_management/setup_discord_env.sh
Due: none

FIX(copilot): resolve 6 inline comment issues
  frameworks/build_deployment/continuous_integration/batch_close_ci_noise.sh
  frameworks/build_deployment/continuous_integration/rapid_ci_cleanup.sh
  frameworks/build_deployment/environment_management/load_token_environment.sh
  frameworks/build_deployment/environment_management/smart_env_sync.sh
Due: none

FIX(copilot): improve VS Code task command validation in setup_vscode_integration.sh
  frameworks/build_deployment/deployment_scripts/setup_vscode_integration.sh
Due: none

FIX(copilot): address Copilot inline comments from PR #1545
  frameworks/monitoring_automation/health_checks/comprehensive_token_health_check.sh
  frameworks/monitoring_automation/monitoring_scripts/ci_health_monitor.py
  scripts/final_emoji_fix.sh
Due: none

FIX(phase3): address Copilot terminal output compliance violations
  frameworks/monitoring_automation/automation_orchestration/automate_pr_process.sh
  frameworks/monitoring_automation/health_checks/quick_ci_dashboard.sh
  frameworks/monitoring_automation/monitoring_scripts/monitor_ci_health.sh
  frameworks/monitoring_automation/monitoring_scripts/monitor_duplication.sh
  frameworks/monitoring_automation/monitoring_scripts/monitor_validation.sh
  frameworks/monitoring_automation/monitoring_scripts/workflow_health_validator.sh
Due: none

FIX(phase3): enhance DevOnboarder project validation in quick_ci_dashboard.sh
  frameworks/monitoring_automation/health_checks/quick_ci_dashboard.sh
Due: none

FEAT(terminal): fix 110 emoji violations in Phase 3 monitoring automation framework
  frameworks/monitoring_automation/alerting_systems/ci_health_aar_integration.py.emoji_fix_backup
  frameworks/monitoring_automation/automation_orchestration/advanced_orchestrator.py.emoji_fix_backup
  frameworks/monitoring_automation/automation_orchestration/automate_pr_process.sh.emoji_fix_backup
  frameworks/monitoring_automation/automation_orchestration/execute_automation_plan.sh.emoji_fix_backup
  frameworks/monitoring_automation/automation_orchestration/setup_automation.sh.emoji_fix_backup
  frameworks/monitoring_automation/health_checks/assess_pr_health.sh.emoji_fix_backup
  frameworks/monitoring_automation/monitoring_scripts/analyze_ci_patterns.sh.emoji_fix_backup
  frameworks/monitoring_automation/monitoring_scripts/analyze_ci_patterns_robust.sh.emoji_fix_backup
  frameworks/monitoring_automation/monitoring_scripts/ci-monitor.py.emoji_fix_backup
  frameworks/monitoring_automation/monitoring_scripts/ci_health_monitor.py.emoji_fix_backup
  frameworks/monitoring_automation/monitoring_scripts/devonboarder_ci_health.py.emoji_fix_backup
  frameworks/monitoring_automation/monitoring_scripts/enhanced_ci_failure_analyzer.py.emoji_fix_backup
  frameworks/monitoring_automation/monitoring_scripts/monitor_duplication.sh.emoji_fix_backup
  frameworks/monitoring_automation/monitoring_scripts/monitor_validation.sh.emoji_fix_backup
  scripts/comprehensive_emoji_fix.py
Due: none

FIX(terminal): resolve remaining emoji violations and improve validation
  frameworks/monitoring_automation/MIGRATION_PLAN.md
  frameworks/monitoring_automation/README.md
  frameworks/monitoring_automation/alerting_systems/ci-health-aar-integration
  frameworks/monitoring_automation/alerting_systems/devonboarder-ci-health
  frameworks/quality_assurance/README.md
  frameworks/quality_assurance/compliance/security_audit.sh
  frameworks/quality_assurance/quality_control/qc_pre_push.sh
  frameworks/quality_assurance/validation/validate-bot-permissions.sh
  scripts/validate_framework_terminal_compliance.sh
Due: docs-quality

FIX(workflows): remove robot emoji from priority matrix workflow
  .github/workflows/priority-matrix-synthesis.yml
Due: terminal-output-policy

FIX(framework): fix incomplete printf statements in token health check script
  frameworks/monitoring_automation/health_checks/comprehensive_token_health_check.sh
Due: none

DOCS(phase3): update documentation to reflect Phase 3 Monitoring & Automation Framework completion
  PHASE_INDEX.md
  PHASE_ISSUE_INDEX.md
  README.md
  SETUP.md
Due: docs-quality

FIX(docs): resolve emoji encoding issues in documentation - fix corrupted Unicode display
  PHASE_INDEX.md
  PHASE_ISSUE_INDEX.md
Due: docs-quality

FIX(ci): resolve GitHub CLI authentication in CI environments - improve token validation for CI workflows
  scripts/ci_gh_issue_wrapper.sh
Due: none

FIX(docs): resolve corrupted emoji characters in PHASE_ISSUE_INDEX.md
  PHASE_ISSUE_INDEX.md
Due: docs-quality

FEAT(tools): add Vale as official development dependency with virtual environment support
  .github/instructions/copilot-instructions.md
  .github/workflows/documentation-quality.yml
  docs/development/development-workflow.md
  docs/guides/friction-prevention.md
  pyproject.toml
  scripts/run_vale.sh
Due: terminal-output-policy, docs-quality, validate-metadata-standards, pytest

FIX(docs): repair corrupted YAML frontmatter in PHASE_ISSUE_INDEX.md (updated)
  PHASE_ISSUE_INDEX.md
Due: docs-quality

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  temp_qa_script_categorization.md
Due: docs-quality

FEAT(automation): eliminate instruction gaps with comprehensive workflow automation
  docs/automation/instruction-gap-elimination-summary.md
  docs/automation/workflow-automation-scripts.md
  scripts/automate_issue_discovery.sh
  scripts/automate_post_merge_cleanup.sh
  scripts/automate_signature_verification.sh
Due: docs-quality, validate-metadata-standards

REFACTOR(automation): implement GitHub Copilot code review suggestions
  scripts/automate_issue_discovery.sh
  scripts/automate_post_merge_cleanup.sh
  scripts/automate_signature_verification.sh
Due: none

POLICY(agents): implement Agent Instruction Branching & Staging Policy with complete governance framework
  .github/copilot-instructions-focused.md
  .github/copilot-instructions-truncated-backup.md
  .github/workflows/agent-instruction-validation.yml
  docs/policies/agent-instruction-branching-policy.md
  docs/reference/agent-quick-reference.md
  docs/reference/copilot-instructions-comprehensive.md
Due: terminal-output-policy, docs-quality, validate-metadata-standards

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  docs/automation/instruction-gap-elimination-summary.md
Due: docs-quality, validate-metadata-standards

FIX(ci): add explicit permissions to agent instruction validation workflow
  .github/workflows/agent-instruction-validation.yml
Due: terminal-output-policy

Path conditions:
  terminal-output-policy: any of: \.github/workflows/.*\.ya?ml$
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|pytest\.ini|pyproject\.toml).*$
  milestone-format-validation: any of: ^milestones/.*\.md$
