Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: terminal-output-policy, docs-quality, validate-agents, validate-metadata-standards, pytest, milestone-format-validation

terminal-output-policy:
  name: Terminal Output Policy Enforcement
  entry: scripts/validate_terminal_output_simple.sh
  language: script
  stages:
  - pre-commit
  always_run: false
  pass_filenames: false

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

milestone-format-validation:
  name: Milestone Format Validation
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_milestone_format.py milestones/ 2>&1 | tee logs/milestone_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false
  always_run: false
  stages:
  ...

FIX(ci): move permissions block to correct position in workflow
  .github/workflows/agent-instruction-validation.yml
Due: terminal-output-policy

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  docs/policies/agent-instruction-branching-policy.md
  docs/reference/agent-quick-reference.md
  docs/reference/copilot-instructions-comprehensive.md
Due: docs-quality, validate-metadata-standards

FIX(docs): add Potato Approval context to --no-verify reference
  docs/policies/agent-instruction-branching-policy.md
Due: docs-quality, validate-metadata-standards

FIX(policy): add proper Potato Emergency Approval format for no-verify documentation
  docs/policies/agent-instruction-branching-policy.md
Due: docs-quality, validate-metadata-standards

Instruction Gap Elimination: Comprehensive Workflow Automation (#1563)
  .github/copilot-instructions-focused.md
  .github/copilot-instructions-truncated-backup.md
  .github/workflows/agent-instruction-validation.yml
  docs/automation/instruction-gap-elimination-summary.md
  docs/automation/workflow-automation-scripts.md
  docs/policies/agent-instruction-branching-policy.md
  docs/reference/agent-quick-reference.md
  docs/reference/copilot-instructions-comprehensive.md
  scripts/automate_issue_discovery.sh
  scripts/automate_post_merge_cleanup.sh
  scripts/automate_signature_verification.sh
Due: terminal-output-policy, docs-quality, validate-metadata-standards

FIX(infrastructure): implement standardized UTC timestamp utilities and fix diagnostic accuracy issues
  UTC_FIX_SUMMARY.md
  docs/troubleshooting/TIMESTAMP_SYNCHRONIZATION_DIAGNOSTIC_ISSUE.md
  scripts/ci-monitor.py
  scripts/file_version_tracker.py
  scripts/fix_utc_timestamp_infrastructure.sh
  scripts/generate_aar.py
  scripts/manual_utc_fix_remaining.sh
  scripts/validate_utc_compliance.sh
  src/utils/timestamps.py
Due: docs-quality, validate-metadata-standards, pytest

CHORE(qc): add UTC timestamp validation to quality control system
  scripts/qc_pre_push.sh
Due: none

DOCS(instructions): add mandatory UTC timestamp standards to copilot instructions
  .github/copilot-instructions.md
Due: docs-quality

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  UTC_FIX_SUMMARY.md
  docs/troubleshooting/TIMESTAMP_SYNCHRONIZATION_DIAGNOSTIC_ISSUE.md
Due: docs-quality, validate-metadata-standards

FIX(ci): standardize Priority Matrix Bot on GPG signing
  .github/workflows/priority-matrix-synthesis.yml
  scripts/setup_bot_gpg_key.sh
Due: terminal-output-policy

DOCS(aar): update AAR portal
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
Due: none

FIX(ci): resolve GPG trust command for CI automation
  .github/workflows/priority-matrix-synthesis.yml
Due: terminal-output-policy

CHORE(workflows): clean up legacy SSH references and deprecate SSH workflow
  .github/workflows/extract-bot-ssh-key.yml
  .github/workflows/priority-matrix-synthesis.yml
Due: terminal-output-policy

FEAT(automation): create comprehensive GPG automation framework
  docs/guides/adding-automated-workflows.md
  docs/guides/gpg-troubleshooting.md
  docs/templates/README.md
  docs/templates/gpg-automation-workflow.yml
  docs/templates/setup_bot_gpg_key_template.sh
Due: docs-quality, validate-metadata-standards

DOCS(automation): complete Phase 3 automation audit
  docs/automation-audit-phase3.md
Due: docs-quality, validate-metadata-standards

FEAT(automation): convert AAR Automation to GPG signing
  .github/workflows/aar-automation.yml
  scripts/setup_aar_bot_gpg_key.sh
Due: terminal-output-policy

FEAT(automation): convert AAR Portal to GPG signing
  .github/workflows/aar-portal.yml
Due: terminal-output-policy

FEAT(automation): add GPG framework validation test workflow [Phase Testing]
  .github/workflows/test-gpg-framework.yml
Due: terminal-output-policy

DOCS(automation): add comprehensive GPG framework documentation [Documentation Updates]
  .github/copilot-instructions.md
  docs/guides/gpg-framework-setup.md
Due: docs-quality, validate-metadata-standards

FEAT(automation): implement unified bot account strategy with separate email identities
  .github/workflows/priority-matrix-synthesis.yml
  docs/guides/gpg-framework-setup.md
  scripts/setup_bot_gpg_key.sh
Due: terminal-output-policy, docs-quality, validate-metadata-standards

SECURITY(automation): enforce corporate governance for bot account management
  .github/copilot-instructions.md
  docs/guides/gpg-framework-setup.md
  scripts/setup_aar_bot_gpg_key.sh
  scripts/setup_bot_gpg_key.sh
Due: docs-quality, validate-metadata-standards

DOCS(architecture): add comprehensive framework-based bot strategy
  docs/architecture/framework-bot-strategy.md
Due: docs-quality, validate-metadata-standards

FEAT(testing): add CI Health Framework Bot proof of concept implementation
  docs/testing/ci-health-framework-bot-poc.md
  scripts/setup_ci_health_bot_gpg_key.sh
Due: docs-quality, validate-metadata-standards

FEAT(automation): add CI Health Framework Bot GPG setup with DevOnboarder terminal output compliance
  scripts/display_ci_health_bot_credentials.sh
  scripts/setup_ci_health_bot_gpg_key.sh
Due: none

FIX(ci-health): correct terminal output compliance in test workflow
  test_quality_gate_1758570536.md
Due: docs-quality

FEAT(terminal): add centralized color utilities and terminal output standards
  docs/standards/terminal-output-standards.md
  scripts/color_utils.sh
Due: docs-quality, validate-metadata-standards

FIX(docs): remove redundant terminal documentation and integrate color utilities
  docs/TERMINAL_OUTPUT_VIOLATIONS.md
  scripts/color_utils.sh
Due: docs-quality, validate-metadata-standards

FEAT(ci): add CI Health Framework Bot GPG signing test workflow
  .github/workflows/test-ci-health-framework-bot.yml
Due: terminal-output-policy

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  docs/architecture/framework-bot-strategy.md
  docs/automation-audit-phase3.md
  docs/guides/adding-automated-workflows.md
  docs/guides/gpg-framework-setup.md
  docs/guides/gpg-troubleshooting.md
  docs/standards/terminal-output-standards.md
  docs/templates/README.md
  docs/testing/ci-health-framework-bot-poc.md
  test_quality_gate_1758570536.md
Due: docs-quality, validate-metadata-standards

SECURITY(workflow): add missing permissions to CI Health Framework Bot test
  .github/workflows/test-ci-health-framework-bot.yml
  docs/standards/terminal-output-standards.md
  scripts/color_utils.sh
Due: terminal-output-policy, docs-quality, validate-metadata-standards

FIX(workflow): resolve terminal output policy violations in CI Health Bot test
  .github/workflows/test-ci-health-framework-bot.yml
Due: terminal-output-policy

DOCS(automation): update Priority Matrix Bot configuration to use correct email address
  .github/copilot-instructions.md
  docs/PRIORITY_MATRIX_BOT_SETUP.md
  docs/PRIORITY_MATRIX_BOT_SSH_SETUP.md
  docs/architecture/framework-bot-strategy.md
  docs/automation-audit-phase3.md
  docs/guides/gpg-framework-setup.md
  docs/templates/README.md
Due: docs-quality, validate-metadata-standards

FIX(ci): resolve CI pipeline failures - GPG configuration and terminal output policy compliance
  .github/workflows/priority-matrix-synthesis.yml
  .github/workflows/test-ci-health-framework-bot.yml
Due: terminal-output-policy

FIX(ci): use here-string instead of echo pipe to avoid variable expansion violation
  .github/workflows/test-ci-health-framework-bot.yml
Due: terminal-output-policy

FIX(infrastructure): resolve Copilot-identified bugs in UTC timestamp utilities
  scripts/qc_pre_push.sh
  scripts/validate_utc_compliance.sh
  src/utils/timestamps.py
Due: pytest

REFACTOR(infrastructure): centralize timestamp fallback logic to reduce duplication
  scripts/ci-monitor.py
  scripts/file_version_tracker.py
  scripts/generate_aar.py
  src/utils/timestamp_fallback.py
  src/utils/timestamps.py
Due: pytest

FIX(scripts): resolve fallback import paths for standalone execution
  scripts/ci-monitor.py
  scripts/file_version_tracker.py
  scripts/generate_aar.py
Due: none

DOCS(utils): enhance import guidelines to eliminate timestamp duplication
  priority-matrix-test.md
  scripts/file_version_tracker.py
  src/utils/timestamp_fallback.py
  src/utils/timestamps.py
Due: docs-quality, pytest

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  priority-matrix-test.md
Due: docs-quality

Path conditions:
  terminal-output-policy: any of: \.github/workflows/.*\.ya?ml$
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|pytest\.ini|pyproject\.toml).*$
  milestone-format-validation: any of: ^milestones/.*\.md$
