Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

FIX(ci): split GitHub CLI echo command
  .github/workflows/aar-automation.yml
Due: none

FIX(ci): declare CI environment for issue automation token
  .github/workflows/ci.yml
  docs/CHANGELOG.md
Due: docs-quality, validate-metadata-standards

FIX(cleanup): exclude venv from artifact checks
  scripts/clean_pytest_artifacts.sh
Due: none

FEAT(security): add token governance resources
  .codex/tokens/token_scope_map.yaml
  docs/CHANGELOG.md
  docs/security/token-permissions-matrix.md
  scripts/manage_test_artifacts.sh
Due: docs-quality, validate-metadata-standards

Update scripts/manage_test_artifacts.sh
  scripts/manage_test_artifacts.sh
Due: none

FEAT(security): implement comprehensive No Default Token Policy v1.0
  .codex/tokens/token_scope_map.yaml
  README.md
  TOKEN_GOVERNANCE_IMPLEMENTATION_SUMMARY.md
  coverage.svg
  docs/ci-failure-issues.md
  docs/onboarding-lite.md
  docs/policies/no-default-token-policy.md
  docs/security/token-permissions-matrix.md
  scripts/audit_token_usage.py
  scripts/generate_aar.sh
  scripts/manage_test_artifacts.sh
  scripts/validate_token_cleanup.sh
Due: docs-quality, validate-metadata-standards

DOCS(instructions): enhance terminal output policy with zero tolerance enforcement
  .github/copilot-instructions.md
Due: docs-quality

CHORE(ci): add flake8 configuration and update pyproject exclusions
  .flake8
  pyproject.toml
Due: pytest

FEAT(testing): implement issue #1008 Unicode handling and fix test isolation
  .flake8
  .github/instructions/copilot-instructions.md
  docs/issue-1008-implementation.md
  pyproject.toml
  scripts/fix_unicode_violations.sh
  scripts/unicode_artifact_manager.py
  scripts/validate_unicode_terminal_output.py
  src/devonboarder/auth_service.py
  tests/test_auth_service.py
  tests/test_issue_1008.py
  tests/test_unicode_artifact_manager.py
  tests/test_validate_pr_checklist.py
  validate_implementation.py
Due: docs-quality, validate-metadata-standards, pytest

FEAT(ci): implement centralized cache management to prevent repository pollution
  docs/cache-management-strategy.md
  pyproject.toml
  pytest.ini
  scripts/manage_logs.sh
  scripts/run_tests_with_logging.sh
Due: docs-quality, validate-metadata-standards, pytest

FEAT(cache): implement PROJECT_ROOT strategy for centralized cache management
  docs/cache-management-strategy.md
  scripts/check_project_root.sh
  scripts/project_root_wrapper.sh
  scripts/run_tests_with_logging.sh
  scripts/set_project_root.sh
Due: docs-quality, validate-metadata-standards

FEAT(cache): implement PROJECT_ROOT strategy for centralized cache management
  pyproject.toml
Due: pytest

FIX(ci): resolve permissions validation failures
  .codex/bot-permissions.yaml
  .github/workflows/validate-permissions.yml
Due: none

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$
