Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

CHORE(ci): update all checkout actions to v5 for improved compatibility
  .github/workflows/aar-automation.yml
  .github/workflows/aar-generator.yml
  .github/workflows/aar-portal.yml
  .github/workflows/audit-retro-actions.yml
  .github/workflows/auto-fix.yml
  .github/workflows/branch-cleanup.yml
  .github/workflows/ci-dashboard-generator.yml
  .github/workflows/ci-failure-analyzer.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/close-codex-issues.yml
  .github/workflows/code-review-bot.yml
  .github/workflows/dev-orchestrator.yml
  .github/workflows/documentation-quality.yml
  .github/workflows/env-doc-alignment.yml
  .github/workflows/markdownlint.yml
  .github/workflows/no-verify-policy.yml
  .github/workflows/notify.yml
  .github/workflows/post-merge-cleanup.yml
  .github/workflows/potato-policy-focused.yml
  .github/workflows/pr-automation.yml
  .github/workflows/pr-issue-automation.yml
  .github/workflows/pr-merge-cleanup.yml
  .github/workflows/prod-orchestrator.yml
  .github/workflows/review-known-errors.yml
  .github/workflows/root-artifact-monitor.yml
  .github/workflows/secrets-alignment.yml
  .github/workflows/security-audit.yml
  .github/workflows/staging-orchestrator.yml
  .github/workflows/terminal-policy-enforcement.yml
  .github/workflows/validate-permissions.yml
Due: none

CHORE: fix markdown formatting for headings
  README.md
Due: docs-quality

FIX(ci): align CodeQL check names with branch protection requirements
  .github/workflows/ci.yml
Due: none

FIX(ci): improve CodeQL wait scripts with better troubleshooting and longer timeouts
  .github/workflows/ci.yml
Due: none

FIX(ci): resolve CodeQL wait script hanging issues
  .github/workflows/ci.yml
  scripts/smart_codeql_wait_policy_compliant.sh
Due: none

FIX(ci): remove third-party action from CodeQL wait job
  .github/workflows/ci.yml
Due: none

FIX(ci): add checkout step to wait-for-codeql-js job
  .github/workflows/ci.yml
  docs/third_party_action_migration.md
Due: docs-quality, validate-metadata-standards

FIX(ci): remove unnecessary wait-for-codeql-js job from main CI workflow
  .github/workflows/ci.yml
Due: none

CHORE(coverage): update coverage badge
  coverage.svg
Due: none

REFACTOR(diagnostics): restructure module to proper package organization
  src/devonboarder/__init__.py
  src/devonboarder/diagnostics.py
  tests/test_diagnostics.py
Due: pytest

DOCS(scope): update documentation for centralized logging policy
  .gitignore
  .markdownlint-cli2.yaml
  .markdownlint-ignore
  .markdownlintignore
  .pre-commit-config.yaml
  frontend/.lighthouseci/config.js
  scripts/clean_pytest_artifacts.sh
Due: none

FIX(ci): GPG signing verification
  gpg_test.txt
Due: none

FIX(ci): Remove GPG test file
  gpg_test.txt
Due: none

FIX(ci): add types-requests to test dependencies to fix MyPy CI failure
  coverage.svg
  docs/aar-portal/aar-data.json
  docs/aar-portal/index.html
  docs/aar-portal/trends.html
  pyproject.toml
Due: pytest

FIX(ci): Add GPG signing note to CI workflow
  .github/workflows/ci.yml
Due: none

FIX(ci): load environment variables from .env.ci for direct Python execution
  .github/workflows/ci.yml
Due: none

CHORE(ci): update actions/checkout from v3 to v4
  .github/workflows/ci.yml
Due: none

CHORE(ci): update actions/checkout to v5
  .github/workflows/ci.yml
Due: none

FIX(ci): resolve terminal output policy violations
  .github/workflows/ci.yml
Due: none

FIX(ci): resolve Alembic configuration and log file handling issues
  .gitignore
  alembic.ini
  docs/security-audit-2025-08-29.md
  scripts/alembic_migration_check.sh
  scripts/validate_ci_locally.sh
Due: docs-quality, validate-metadata-standards

DOCS: add GH_TOKEN authentication troubleshooting guide
  docs/GH_TOKEN_QUICK_REFERENCE.md
  docs/troubleshooting.md
Due: docs-quality, validate-metadata-standards

FIX(ci): pin types-requests to stable version 2.31.0.10
  pyproject.toml
Due: pytest

CHORE(gitignore): update gitignore configuration
  .gitignore
Due: none

CHORE(ci): resolve shellcheck errors and update checkout actions
  .github/workflows/aar-automation.yml
  .github/workflows/aar-generator.yml
  .github/workflows/audit-retro-actions.yml
  .github/workflows/auto-fix.yml
  .github/workflows/branch-cleanup.yml
  .github/workflows/ci-dashboard-generator.yml
  .github/workflows/ci-failure-analyzer.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/ci-sanity.yml
  .github/workflows/ci.yml
  .github/workflows/close-codex-issues.yml
  .github/workflows/code-review-bot.yml
  .github/workflows/documentation-quality.yml
  .github/workflows/env-doc-alignment.yml
  .github/workflows/no-verify-policy.yml
  .github/workflows/notify.yml
  .github/workflows/post-merge-cleanup.yml
  .github/workflows/potato-policy-focused.yml
  .github/workflows/potato-policy.yml
  .github/workflows/pr-automation.yml
  .github/workflows/pr-issue-automation.yml
  .github/workflows/pr-merge-cleanup.yml
  .github/workflows/root-artifact-monitor.yml
  .github/workflows/secrets-alignment.yml
  .github/workflows/security-audit.yml
  .github/workflows/terminal-policy-enforcement.yml
  .pre-commit-config.yaml
Due: none

CHORE(ci): add actionlint configuration for SC2215 suppression
  .actionlint.yml
Due: none

SECURITY: fix CodeQL-flagged secret handling and permissions
  .github/workflows/auto-fix.yml
  .github/workflows/ci-sanity.yml
  .github/workflows/pr-issue-automation.yml
Due: none

CHORE(ci): resolve terminal output violations in GitHub Actions workflows
  .github/workflows/audit-retro-actions.yml
  .github/workflows/ci-failure-analyzer.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci.yml
  .github/workflows/code-review-bot.yml
  .github/workflows/env-doc-alignment.yml
  .github/workflows/root-artifact-monitor.yml
  .github/workflows/secrets-alignment.yml
Due: none

CHORE(ci): add pre-commit cache troubleshooting script
  scripts/troubleshoot_precommit_cache.sh
Due: none

FIX(safe_commit): resolve caching cycle issue in file re-staging logic
  scripts/safe_commit.sh
Due: none

FIX(ci): escape asterisks in printf commands to prevent CI failures
  .github/workflows/code-review-bot.yml
Due: none

FIX(ci): escape printf commands to prevent option parsing errors
  .github/workflows/aar-automation.yml
  .github/workflows/aar-generator.yml
  .github/workflows/ci-dashboard-generator.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/ci.yml
  .github/workflows/close-codex-issues.yml
  .github/workflows/post-merge-cleanup.yml
  .github/workflows/pr-automation.yml
  .github/workflows/pr-merge-cleanup.yml
  .github/workflows/security-audit.yml
  .github/workflows/terminal-policy-enforcement.yml
  scripts/audit_env_vars.sh
Due: none

FIX(ci): escape printf commands in code-review-bot.yml to prevent option parsing errors
  .github/workflows/code-review-bot.yml
Due: none

CHORE(ci): standardize all workflows to actions/checkout@v4 for stability
  .github/workflows/aar-automation.yml
  .github/workflows/aar-generator.yml
  .github/workflows/audit-retro-actions.yml
  .github/workflows/auto-fix.yml
  .github/workflows/branch-cleanup.yml
  .github/workflows/ci-dashboard-generator.yml
  .github/workflows/ci-failure-analyzer.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/ci-sanity.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/close-codex-issues.yml
  .github/workflows/dev-orchestrator.yml
  .github/workflows/documentation-quality.yml
  .github/workflows/env-doc-alignment.yml
  .github/workflows/markdownlint.yml
  .github/workflows/no-verify-policy.yml
  .github/workflows/notify.yml
  .github/workflows/post-merge-cleanup.yml
  .github/workflows/potato-policy-focused.yml
  .github/workflows/pr-automation.yml
  .github/workflows/pr-issue-automation.yml
  .github/workflows/pr-merge-cleanup.yml
  .github/workflows/prod-orchestrator.yml
  .github/workflows/review-known-errors.yml
  .github/workflows/root-artifact-monitor.yml
  .github/workflows/secrets-alignment.yml
  .github/workflows/security-audit.yml
  .github/workflows/staging-orchestrator.yml
  .github/workflows/validate-permissions.yml
Due: none

CHORE(ci): adopt actions/checkout@v5 for Node 24 migration alignment
  .github/workflows/aar-automation.yml
  .github/workflows/aar-generator.yml
  .github/workflows/aar-portal.yml
  .github/workflows/audit-retro-actions.yml
  .github/workflows/auto-fix.yml
  .github/workflows/branch-cleanup.yml
  .github/workflows/ci-dashboard-generator.yml
  .github/workflows/ci-failure-analyzer.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/ci-sanity.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/close-codex-issues.yml
  .github/workflows/code-review-bot.yml
  .github/workflows/dev-orchestrator.yml
  .github/workflows/documentation-quality.yml
  .github/workflows/env-doc-alignment.yml
  .github/workflows/markdownlint.yml
  .github/workflows/no-verify-policy.yml
  .github/workflows/notify.yml
  .github/workflows/post-merge-cleanup.yml
  .github/workflows/potato-policy-focused.yml
  .github/workflows/pr-automation.yml
  .github/workflows/pr-issue-automation.yml
  .github/workflows/pr-merge-cleanup.yml
  .github/workflows/prod-orchestrator.yml
  .github/workflows/review-known-errors.yml
  .github/workflows/root-artifact-monitor.yml
  .github/workflows/secrets-alignment.yml
  .github/workflows/security-audit.yml
  .github/workflows/staging-orchestrator.yml
  .github/workflows/terminal-policy-enforcement.yml
  .github/workflows/validate-permissions.yml
Due: none

FIX(ci): fix auth service startup by setting environment variables directly in docker-compose.ci.yaml
  .github/workflows/cleanup-ci-failure.yml
  docker-compose.ci.yaml
Due: none

FIX(ci): make artifact downloads conditional on successful CI runs
  .github/workflows/auto-fix.yml
  .github/workflows/ci-monitor.yml
Due: none

FIX(ci): add missing permissions for workflow triggers and GitHub CLI usage
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/secrets-alignment.yml
Due: none

FIX(test): update diagnostics tests to work with lazy requests import
  src/devonboarder/diagnostics.py
  tests/test_diagnostics.py
Due: pytest

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$
