Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: terminal-output-policy, docs-quality, validate-agents, validate-metadata-standards, pytest, milestone-format-validation

terminal-output-policy:
  name: Terminal Output Policy Enforcement
  entry: scripts/validate_terminal_output_simple.sh
  language: script
  stages:
  - pre-commit
  always_run: false
  pass_filenames: false

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

milestone-format-validation:
  name: Milestone Format Validation
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_milestone_format.py milestones/ 2>&1 | tee logs/milestone_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false
  always_run: false
  stages:
  ...

CHORE(ci): tighten ci-lite workflow inputs
  .github/workflows/ci-lite-two-lane.yml
Due: terminal-output-policy

CHORE(ci): document sha pin policy
  .github/workflows/ci-lite-two-lane.yml
Due: terminal-output-policy

DOCS(metrics): add DevOnboarder Time Tracking Metrics planning artifacts (PLAN/TODO/roadmap/README)
  PLAN.md
  README.md
  TODO.md
  roadmap.md
Due: docs-quality

docs(changelog): establish DevOnboarder changelog tracking (Keep a Changelog format)
  CHANGELOG.md
Due: docs-quality

docs(metrics): link extension repo from DevOnboarder planning docs
  PLAN.md
Due: docs-quality

DOCS(metrics): realign planning docs - move metrics to feature folder, restore platform scope
  CHANGELOG.md
  PLAN.md
  README.md
  TODO.md
  docs/ROADMAP.md
  docs/features/time-tracking-metrics/PLAN.md
  docs/features/time-tracking-metrics/TODO.md
  docs/features/time-tracking-metrics/roadmap.md
  docs/implementation/ROADMAP_SUMMARY.md
  docs/roadmap/ROADMAP.md
  docs/v1/ROADMAP.md
  roadmap.md
Due: docs-quality, validate-metadata-standards

docs(features): add feature initiatives index and navigation guide
  README.md
  docs/features/README.md
Due: docs-quality, validate-metadata-standards

FIX(docs): resolve CI failures - broken links and markdownlint errors
  AGENTS.md
  AGENT_MERGE_READINESS_BUG_FIX.md
  docs/features/README.md
Due: docs-quality, validate-metadata-standards

FIX(docs): resolve CI failures - broken links and markdownlint violations
  AGENTS.md
  AGENT_MERGE_READINESS_BUG_FIX.md
  docs/features/README.md
Due: docs-quality, validate-metadata-standards

REFACTOR(config): remove duplicate markdownlint ignore file
  .markdownlint-ignore
Due: none

Path conditions:
  terminal-output-policy: any of: \.github/workflows/.*\.ya?ml$
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|pytest\.ini|pyproject\.toml).*$
  milestone-format-validation: any of: ^milestones/.*\.md$
