Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

docs-quality:
  name: Docs quality checks
  entry: bash
  args:
  - -c
  - mkdir -p logs && bash scripts/check_docs.sh 2>&1 | tee logs/docs_check_$(date +%Y%m%d_%H%M%S).log
  language: system

validate-agents:
  name: Validate Codex Agents with DevOnboarder Standards
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_agents.py 2>&1 | tee logs/agent_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

validate-metadata-standards:
  name: Core Metadata Standards Compliance
  entry: bash
  args:
  - -c
  - mkdir -p logs && source .venv/bin/activate && python scripts/validate_metadata_standards.py 2>&1 | tee logs/metadata_validation_$(date +%Y%m%d_%H%M%S).log
  language: system
  pass_filenames: false

pytest:
  name: Python tests
  entry: bash
  args:
  - -c
  ...

FIX(ci): enhance CI failure cleanup to trigger on PR merge and workflow completion
  .github/workflows/cleanup-ci-failure.yml
Due: none

FIX(scripts): resolve ShellCheck warnings in CI failure management script
  scripts/manage_ci_failure_issues.sh
Due: none

FIX(terminal): enforce DevOnboarder Terminal Output Policy in CI failure management script
  scripts/manage_ci_failure_issues.sh
Due: none

FIX(ci): replace direct gh issue commands with approved script calls
  .github/workflows/cleanup-ci-failure.yml
Due: none

FIX(ci): enhance CI failure cleanup automation with immediate triggers (#1071)
  .github/workflows/cleanup-ci-failure.yml
  scripts/manage_ci_failure_issues.sh
Due: none

FIX(aar,compliance): resolve AAR token registry loading and terminal output violations
  Makefile
  scripts/aar_security.py
  scripts/qc_pre_push.sh
Due: none

FIX(ci): add Build type for Dependabot commit message compatibility
  scripts/check_commit_messages.sh
  scripts/commit-msg
Due: none

FEAT(ci): make Terminal Output Policy review fully automated
  .github/workflows/code-review-bot.yml
Due: none

FEAT(aar): comprehensive AAR system enhancements and automation improvements
  .github/workflows/code-review-bot.yml
  scripts/aar_security.py
  scripts/generate_aar.py
Due: none

FEAT(aar): comprehensive AAR system enhancements and automation improvements (#1078)
  .github/workflows/code-review-bot.yml
  scripts/aar_security.py
  scripts/generate_aar.py
Due: none

FEAT(automation): implement comprehensive PR-to-Issue linking system
  .github/workflows/pr-issue-automation.yml
  .github/workflows/pr-merge-cleanup.yml
  docs/pr-issue-automation.md
  scripts/create_pr_tracking_issue.sh
Due: docs-quality, validate-metadata-standards

DOCS: integrate PR-to-issue automation system into main documentation
  README.md
  docs/CHANGELOG.md
  docs/README.md
  docs/ci-workflow.md
Due: docs-quality, validate-metadata-standards

FIX(bot): add Jest testTimeout to prevent CI test hangs
  bot/package.json
Due: none

FEAT(docs): implement comprehensive MVP delivery framework
  codex/mvp/MVP_PROJECT_PLAN.md
  codex/mvp/mvp_delivery_checklist.md
  codex/mvp/mvp_quality_gates.md
  codex/mvp/mvp_task_coordination.md
  codex/mvp/post_mvp_strategic_plan.md
  scripts/mvp_health_monitor.sh
  scripts/mvp_readiness_check.sh
Due: docs-quality

FEAT(tasks): implement staged task management framework
  codex/mvp/mvp_task_coordination.md
  codex/tasks/staged/assess_staged_task_readiness.md
  codex/tasks/staged/terminal_zero_tolerance_validator.md
  scripts/assess_staged_task_readiness.sh
  scripts/terminal_zero_tolerance_validator.sh
Due: docs-quality

FEAT(strategic): add comprehensive post-MVP repository splitting plan
  codex/mvp/strategic_repository_splitting_plan.md
Due: docs-quality

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$
