Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-quality, validate-agents, validate-metadata-standards, pytest

Path conditions:
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|\.coveragerc|pytest\.ini|pyproject\.toml).*$

FIX(security): add missing Enhanced Potato Policy v2.0 patterns
  .codespell-ignore
  .dockerignore
  .gitignore
Due: none

FIX(bot): handle missing root package.json in dependency inventory
  bot/src/commands/dependency_inventory.ts
Due: none

FIX(ci): resolve JSON parsing error in Enhanced Potato Policy workflow
  .github/workflows/potato-policy-focused.yml
Due: none

FEAT(security): Implement Phase 3 Enhanced Root Artifact Guard
  .codex/agents/README.md
  .codex/agents/code_quality_agent.md
  .codex/agents/metadata-standards.md
  .codex/scripts/ci-monitor.py
  .codex/validate_prompts.sh
  .github/workflows/root-artifact-monitor.yml
  docs/phase-3-implementation-complete.md
  docs/phase-3-root-artifact-guard-plan.md
  package.json.backup
  pyproject.toml.backup
  scripts/enhanced_root_artifact_guard.sh
Due: docs-quality, validate-agents, validate-metadata-standards, pytest

FIX(security): fix URL validation vulnerabilities in CI monitor script
  .codespell-ignore
  .codex/scripts/ci-monitor.py
  scripts/enhanced_root_artifact_guard.sh
Due: none

FIX(ci): resolve Enhanced Potato Policy JSON parsing error
  .github/workflows/potato-policy-focused.yml
Due: none

FIX(ci): resolve Enhanced Potato Policy JSON parsing with variable sanitization
  .github/workflows/potato-policy-focused.yml
Due: none

STYLE(ci): apply pre-commit formatting to ci-monitor.py
  .codex/scripts/ci-monitor.py
  docs/ci-failure-analysis-guide.md
  docs/failure-filtering-implementation-summary.md
  scripts/analyze_failed_ci_runs.sh
  scripts/demo_failure_filtering.sh
  scripts/download_ci_failure_issue.sh
  scripts/monitor_ci_health.sh
Due: docs-quality, validate-metadata-standards

FEAT(ci): upgrade GitHub CLI to latest stable version across all workflows
  .github/workflows/ci-health.yml
  .github/workflows/ci-monitor.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-ci-failure.yml
  .github/workflows/close-codex-issues.yml
  .github/workflows/dev-orchestrator.yml
  .github/workflows/env-doc-alignment.yml
  .github/workflows/notify.yml
  .github/workflows/prod-orchestrator.yml
  .github/workflows/review-known-errors.yml
  .github/workflows/secrets-alignment.yml
  .github/workflows/security-audit.yml
  .github/workflows/staging-orchestrator.yml
  AGENTS.md
  README.md
  docs/ci-workflow.md
  docs/network-exception-list.md
Due: docs-quality, validate-metadata-standards

FIX(ci): add robust error handling for audit.md file creation
  .github/workflows/ci.yml
Due: none

FIX(ci): ensure virtual environment exists before activation in always() steps
  .github/workflows/ci.yml
Due: none
