Repository theangrygamershowproductions/DevOnboarder: changes, and which pre-commit hooks are due for each by the changed paths.
All: terminal-output-policy, docs-quality, validate-agents, validate-metadata-standards, pytest, milestone-format-validation

Path conditions:
  terminal-output-policy: any of: \.github/workflows/.*\.ya?ml$
  docs-quality: any of: \.md$
  validate-agents: any of: ^(agents/.*\.md|\.codex/agents/.*\.md|codex/agents/.*\.md)$
  validate-metadata-standards: any of: ^(docs/.*\.md|agents/.*\.md|\.codex/.*\.md)$
  pytest: any of: ^(src/|tests/|pytest\.ini|pyproject\.toml).*$
  milestone-format-validation: any of: ^milestones/.*\.md$

FIX(ci): make verifier semver-aware and relax BOM for volatile tools
  scripts/verify_versions.py
  versions.yaml
Due: none

FIX(ci): correctly prune logs/ tree in centralized logging validator
  scripts/validate_log_centralization.sh
Due: none

FIX(frontend): pin tar-fs to >=3.1.1 via overrides to resolve Dependabot alert
  frontend/package-lock.json
  frontend/package.json
Due: none

FIX(auth): add bcrypt>=4.3.0 dependency to ensure passlib compatibility in CI
  package-lock.json
  package.json
  pyproject.toml
  scripts/monitor_ci_health.sh
Due: pytest

TEST(auth): add long-password validation tests and enforce validation in auth service
  scripts/monitor_ci_health.sh
  src/devonboarder/auth_service.py
  tests/test_password_limit_helper.py
Due: pytest

FIX(docs): markdownlint indent in password policy
  docs/security/password_policy.md
  scripts/monitor_ci_health.sh
Due: docs-quality, validate-metadata-standards

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  docs/security/password_policy.md
Due: docs-quality, validate-metadata-standards

CHORE(monitor): improve AAR_TOKEN diagnostics (check scopes header)
  scripts/monitor_ci_health.sh
Due: none

FIX(auth): avoid hashing empty passwords for Discord accounts; guard login verify
  src/devonboarder/auth_service.py
  src/discord_integration/api.py
Due: pytest

Update App.tsx
  frontend/src/App.tsx
Due: none

Update Header.tsx
  frontend/src/components/Header.tsx
Due: none

Create ThemeToggle.tsx
  frontend/src/components/ThemeToggle.tsx
Due: none

Create useTheme.tsx
  frontend/src/hooks/useTheme.tsx
Due: none

Create themes.css
  frontend/src/styles/themes.css
Due: none

FIX(auth): configure CryptContext to avoid bcrypt long password detection in CI
  .github/workflows/ci-failure-analyzer.yml
  .github/workflows/troubleshooting-harvest.yml
  scripts/check_long_running_scripts.sh
  scripts/run_auth_tests_local.sh
  scripts/validate_terminal_output.sh
  src/devonboarder/auth_service.py
Due: terminal-output-policy, pytest

FIX(qc): align service coverage thresholds with CI workflow
  test_quality_gate_1759123749.md
  test_quality_gate_1759123754.md
Due: docs-quality

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  test_quality_gate_1759123749.md
  test_quality_gate_1759123754.md
Due: docs-quality

FIX(qc): enforce 95% coverage threshold across all services
  .github/copilot-instructions.md
  scripts/check_long_running_scripts.sh
Due: docs-quality

FIX(ci): update coverage thresholds to 95% for XP and Discord services
  .github/workflows/ci.yml
Due: terminal-output-policy

FIX(ci): update coverage report script to read correct log files
  scripts/generate_service_coverage_report.py
Due: none

FIX(ci): update coverage thresholds in report script to match CI workflow
  scripts/generate_service_coverage_report.py
Due: none

FIX(ci): use direct --cov paths instead of config files for XP and Discord tests
  .github/workflows/ci.yml
Due: terminal-output-policy

FIX(ci): temporarily remove coverage thresholds to debug test failures
  .github/workflows/ci.yml
Due: terminal-output-policy

FIX(ci): simplify test commands to debug CI failures
  .github/workflows/ci.yml
Due: terminal-output-policy

FIX(ci): enforce 95% coverage for XP and Discord services
  .github/workflows/ci.yml
Due: terminal-output-policy

STYLE(docs): standardize commit message types across all documentation
  .github/copilot-instructions.md
  docs/ci-workflow-analysis-report.md
  docs/codex/AGENTS.md
  docs/development/code-quality-requirements.md
  docs/git/Git.md
Due: docs-quality, validate-metadata-standards

TEST: add comprehensive test coverage for timestamp utilities
  src/utils/timestamps.py
  tests/test_discord_integration_api.py
  tests/test_routes_user.py
  tests/test_timestamp_fallback.py
  tests/test_timestamps.py
Due: pytest

STYLE(ci): fix YAML comment spacing for yamllint compliance
  .github/workflows/ci.yml
  .github/workflows/troubleshooting-harvest.yml
Due: terminal-output-policy

FIX(auth): add defensive password validation in discord_callback
  src/devonboarder/auth_service.py
Due: pytest

FIX(auth): configure bcrypt to truncate long passwords instead of erroring
  src/devonboarder/auth_service.py
  tests/test_xp_api.py
Due: pytest

FIX(auth): truncate passwords to 72 bytes for bcrypt compatibility
  src/devonboarder/auth_service.py
  tests/test_auth_service.py
  tests/test_password_limit_helper.py
Due: pytest

FIX(ci): resolve YAML linting and coverage issues
  .github/workflows/ci.yml
  tests/test_auth_service.py
Due: terminal-output-policy, pytest

FIX(ci): resolve CI quality gate violations
  ci_debug_report_18119474102.md
  ci_debug_report_d3602500.md
  docs/ci-debug-wrapper.md
  scripts/ci_debug_wrapper.py
Due: docs-quality, validate-metadata-standards

FEAT(docs): manual Priority Matrix field synthesis
  ci_debug_report_18119474102.md
  ci_debug_report_d3602500.md
  docs/ci-debug-wrapper.md
Due: docs-quality, validate-metadata-standards

FIX(ci): use origin/main for commit message validation in CI
  scripts/check_commit_messages.sh
Due: none

FIX(ci): use origin/main for commit message validation in CI
  ci_debug_report_d3602500.md
  src/devonboarder/auth_service.py
  tests/test_password_limit_helper.py
Due: docs-quality, pytest

FEAT(docs): auto-synthesize Priority Matrix fields [signed]
  ci_debug_report_d3602500.md
Due: docs-quality

FIX(auth): handle empty passwords for Discord OAuth accounts
  src/devonboarder/auth_service.py
Due: pytest
